﻿.ntm_Schnelleinstiege {
	font-size		: .9em;
	font-family		: "Open Sans", Tahoma, Geneva, sans-serif;
	padding-bottom	: 32px;
}
.ntm_FavToolsCont {
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	font-weight		: 400;
	font-size		: .9em;
}
.ntm_FavMainCont {
	padding			: 0px 0px;
}
.ntm_Schnelleinstiege .ntm_FavHeadCont {
	min-height		: 0px;
}
.ntm_FavFootCont {
	padding-top		: 12px;
	position		: absolute;
	bottom			: 10px;
}
.ntm_Schnelleinstiege .ntm_HFavCont {
	display			: inline;
}
.ntm_Schnelleinstiege .ntm_H2Fav {
	display			: none;
	font-size		: 1.4em;
	display			: none;
	padding			: 6px 24px 6px 0px;
}
.ntm_PLHomepage .ntm_Schnelleinstiege .ntm_H2Fav {
	display			: none;
}
.ntm_PLHomepage .ntm_Schnelleinstiege .ntm_H2Fav,
.ntm_PLHomepage .ntm_Schnelleinstiege-home .ntm_FavBtn {
	font-size		: .9em;
}
.ntm_PLHomepage .ntm_Schnelleinstiege a.ntm_FavLinks, .ntm_PLHomepage a.ntm_FavLinks:link, 
.ntm_PLHomepage .ntm_Schnelleinstiege a.ntm_FavLinks:visited {
	color			: rgb(28,28,27);
	font-size		: .95em;
}
.ntm_Schnelleinstiege-home .ntm_FavBtn {
	display			: inline-block;
	padding			: 2px 14px 2px 22px;
	cursor			: pointer;
}
.ntm_Schnelleinstiege-home .ntm_FavBtn:hover {
}
.ntm_Schnelleinstiege-home .ntm_FavBtnView {
	background		: transparent url("/_layouts/15/images/zap/svg/view.svg") no-repeat left 2px;
	background-size	: 18px auto;
}
.ntm_Schnelleinstiege-home .ntm_FavBtnEdit {
	background		: transparent url("/_layouts/15/images/zap/svg/edit.svg") no-repeat left 2px;
	background-size	: 18px auto;
}
.ntm_Schnelleinstiege-verwaltung .ntm_FavBtnEdit {
	background		: transparent url("/_layouts/15/images/zap/svg/edit.svg") no-repeat left 2px;
	background-size	: 18px auto;
}
.ntm_Schnelleinstiege .ntm_FavBtnAdd {
	background		: transparent url("/_layouts/15/images/zap/svg/add.svg") no-repeat left 2px;
	background-size	: 16px auto;
}
.ntm_Schnelleinstiege .ntm_Toggle {
	display			: none;
	float			: right;
	width			: 30px;
	height			: 30px;
	background		: transparent url("/_layouts/15/images/nteam/MeineSchnelleinstiege/svg/arrow_m_down_g.svg") no-repeat center center;
}
.ntm_Schnelleinstiege .ntm_FavHeadContActive .ntm_Toggle {
	background		: transparent url("/_layouts/15/images/nteam/MeineSchnelleinstiege/svg/arrow_m_up_g.svg") no-repeat center center;
}

.ntm_Schnelleinstiege .ntm_FavToolsCont {}
.ntm_Schnelleinstiege a.ntm_FavTools {
	display			: inline-block;
	position		: relative;
	width			: 92px;
	height			: 100px;
	margin			: 0px 5px 0px 0px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size	: 48px auto;
}
.ntm_PLHomepage .ntm_Schnelleinstiege a.ntm_FavTools {
	width			: 31%;
	height			: 80px;
	background-position: center 0px;
}
#NTM_ToolsCont .ntm_Schnelleinstiege a.ntm_FavTools {
	background-color: transparent;
}
.ntm_Schnelleinstiege a.ntm_FavTools span {
	display			: table-cell;
	width			: 100%;
	overflow		: hidden;
	text-align		: center;
	vertical-align	: bottom;
	position		: absolute;
	bottom			: 8px;
	color			: rgb(28,28,27);
	font-size		: .9em;
}
.ntm_Schnelleinstiege a.ntm_FavTools:hover span {
	color			: rgb(0,73,148);
}
.ntm_Schnelleinstiege .ntm_FavLinksCont {
	padding			: 24px 0px 12px 0px;
}
.ntm_PLHomepage .ntm_Schnelleinstiege .ntm_FavLinksCont {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count	: 2;
	-moz-column-gap	: 20px;
	-webkit-column-gap: 20px;
	column-gap		: 20px;
}
.ntm_PLHomepage .ntm_Schnelleinstiege a.ntm_FavLinks, a.ntm_FavLinks:link, 
.ntm_PLHomepage .ntm_Schnelleinstiege a.ntm_FavLinks:visited {
	display			: inline-block;
	background		: transparent url("/_layouts/15/images/zap/svg/link_blank.svg") no-repeat left 6px;
	background-size	: 7px auto;
	padding			: 2px 8px 2px 12px;
}
.ntm_Schnelleinstiege a.ntm_FavLinks, a.ntm_FavLinks:link, 
.ntm_Schnelleinstiege a.ntm_FavLinks:visited {
	display			: block;
	float			: none;
	max-width		: 2000px;
	width			: 88%;
	overflow		: visible;
	white-space		: normal;
	text-overflow	: ellipsis;
	background		: transparent url("/_layouts/15/images/zap/svg/link_blank.svg") no-repeat left 6px;
	padding			: 3px 8px 3px 12px;
}
.ntm_PLHomepage .ntm_Schnelleinstiege .ntm_FavBtn:hover,
.ntm_PLHomepage .ntm_Schnelleinstiege a.ntm_FavLinks:hover {
	color			: rgb(0,73,148);
}
.ntm_PLHomepage .ntm_Schnelleinstiege a.ntm_FavLinks:hover {
	background		: transparent url("/_layouts/15/images/zap/svg/link_blank_hover.svg") no-repeat left 6px;
}


@media only screen and (max-width:884px) {
	.ntm_PLHomepage .ntm_Schnelleinstiege .ntm_FavLinksCont {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count	: 2;
	}
}

/* Tablet Version */
@media only screen and (max-width:768px) {
	.ntm_FavMainCont {}
	.ntm_PLHomepage .ntm_Schnelleinstiege .ntm_FavLinksCont {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count	: 1;
	}
	.ntm_Schnelleinstiege .ntm_H2Fav,
	.ntm_Schnelleinstiege .ntm_FavBtn,
	.ntm_Schnelleinstiege a.ntm_FavLinks, 
	.ntm_Schnelleinstiege a.ntm_FavLinks:link, 
	.ntm_Schnelleinstiege a.ntm_FavLinks:visited {
	}
	.ntm_Schnelleinstiege .ntm_FavHeadCont {
		cursor			: pointer;
	}
	.ntm_Schnelleinstiege .ntm_H2Fav,
	.ntm_Schnelleinstiege h2.ntm_H2Fav:first-child {
		margin			: 0px 0px 0px 0px;
		padding			: 4px 24px 3px 34px;
		background		: transparent url("/_layouts/15/images/nteam/MeineSchnelleinstiege/svg/view_tiles.svg") no-repeat left top;
	}
	.ntm_Schnelleinstiege a.ntm_FavLinks, 
	.ntm_Schnelleinstiege a.ntm_FavLinks:link, 
	.ntm_Schnelleinstiege a.ntm_FavLinks:visited {
		background		: transparent url("/_layouts/15/images/nteam/MeineSchnelleinstiege/svg/link_blank.svg") no-repeat 0px 10px;
	}
	.ntm_Schnelleinstiege a.ntm_FavTools {
		display			: inline-block;
		position		: relative;
		width			: 100px;
		height			: 100px;
		margin			: 10px 10px 0px 0px;
	}
	.ntm_listItem > div.ntm_LinkCell {display: none;}
}
@media only screen and (max-width:640px) {
	.ntm_Schnelleinstiege .ntm_FavLinksCont {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count	: 2;
	}
	.ntm_listItem > div.ntm_LinkCell {display: none;}
}



.ntm_section > button { margin-bottom:10px; }
.ntm_section-links { margin-top: 20px; }

.ntm_Schnelleinstiege-verwaltung {
/*	background-color: rgb(234,234,234);*/
}
.ntm_list {
	display			: table;
	width			: 100%;
}
.ntm_listItem {
	display			: table-row;
}
.ntm_listItem > div {
	display			: table-cell;
	border-bottom	: 1px solid rgb(234,234,234);
	padding			: 4px 2px 4px 2px;
}
.ntm_listItem > div.draggable {
	vertical-align	: middle;
}
.ntm_list-verwaltung .ntm_listHeader > div { 
	font-weight		: bold;
	padding			: 12px 2px 4px 2px;
}
.ntm_list-verwaltung .ntm_FavBtn {
	display			: inline-block;
	cursor			: pointer;
	width			: 18px;
	height			: 18px;
	margin			: 0px 12px;
	padding			: 2px 0px;
}
.ntm_list-verwaltung .ntm_FavBtn.ntm_FavBtnEdit {
/*	position		: relative;
	top				: 3px;*/
	background		: transparent url("/_layouts/15/images/nteam/MeineSchnelleinstiege/svg/edit.svg") no-repeat right center;
	background-size	: 16px 16px;
}
.ntm_list-verwaltung .ntm_FavBtn.ntm_FavBtnDelete {
	background		: transparent url("/_layouts/15/images/nteam/MeineSchnelleinstiege/svg/trash.svg") no-repeat right center;
	background-size	: 16px 16px;
}
.ntm_list-verwaltung.ntm_list-tools .ntm_FavBtn.ntm_FavBtnDelete {}
.ntm_list-verwaltung.ntm_list-links .ntm_FavBtn.ntm_FavBtnDelete {}
.ntm_list-verwaltung .ntm_dragCell { position:relative; }
.ntm_list-verwaltung .ntm_dragHandle { 
	position		: absolute;
	top				: 11px; 
	left			: 0px;
	width			: 20px;
	height			: 12px;
	background		: transparent url("/_layouts/15/images/nteam/MeineSchnelleinstiege/drag-handle.png") repeat-y center center;
	cursor			: move; 
	z-index			: 1;
}
.ntm_list-verwaltung .ntm_toolIcon {
	background-size	: 18px 18px;
	background-repeat: no-repeat;
	background-position: 20px -2px;
}
.ntm_list-verwaltung .ntm_toolText {
	margin-left		: 40px;
	cursor			: move;
}
.ntm_list-verwaltung .ntm_LinkTitle {
	margin-left		: 20px;
	cursor			: move;
}
.dragging { opacity:0.5; }
.ntm_dragElement { background-color: white; border: thin solid gray; padding: 6px 12px; }
.ntm_NewTab {
	text-align		: center;
}
.ntm_NewTab > div {
	margin			: 0px auto;
}
.ntm_Center {
	text-align		: center;
}
.ntm_LinkCell {}
.ntm_NewTab > div {
	width			: 20px;
	height			: 20px;
}
.ntm_inNewTab {
	background		: transparent url("/_layouts/15/images/nteam/MeineSchnelleinstiege/svg/check.svg") no-repeat center center;
	background-size	: 18px 18px;
}
.ntm_notInNewTab {
	background		: none;
}
input[type=button], input[type=reset], input[type=submit], button,
button#ntm_btnNewTool, button#ntm_btnNewLink {
	margin-left		: 0px;
}
span.ntm_BtnAbstand {
	display			: inline-block;
	width			: 16px;
}
.ntm_Schnelleinstiege-verwaltung .ntm_section-tools {
	padding			: 24px 0px;
}
/* 2. Ebene der linken Navigation ausblenden
.ms-core-listMenu-verticalBox ul.static ul.static { display:none; }
 */
.dialog{margin:15px auto;position:absolute;z-index:9999;background:#fff;}
.dialog .header{height:40px;background:#651E7E;position:relative;line-height:40px;width:100%;z-index:9999;}
.dialog .header h2{font-size:15px;text-indent:10px;color:#fff;height:40px;line-height:40px;cursor:move; -webkit-user-select:none; -moz-user-select:none; user-select:none;}
.dialog .header s{cursor:pointer;position:absolute;width:14px;height:14px;right:10px;top:12px;text-align:center;line-height:16px;font-size:0;z-index:10000;text-indent:-9999px;background:#651E7E url(close-btn.png) no-repeat center center;}
.dialog .body{width:100%;background:#fff;position:relative;z-index:9999;}
.dialog .body .body-content{padding:10px;overflow-y:auto;}
.dialog .footer{width:100%;height:60px;line-height:60px;z-index:9999;position:absolute;bottom:0;left:0;}
.dialog .footer .buttons{float:right;margin-right:10px;}

.layer-box{background:#999;position:absolute;left:0;top:0;width:100%;height:100%;opacity:0.5;z-index:9998;filter:Alpha(opacity=40); }
.dialog .lay{position:absolute;z-index:9998;width:100%;height:100%;left:0;top:0;}
.layer-box .layer{position:absolute;z-index:9997;}
.layer-box .back{position:absolute;z-index:9998;width:100%; height:100%; left:0; top:0; opacity:0.60; filter:Alpha(opacity=45);}
.layer-box .lay{width:100%; height:100%; position:absolute; left:0; top:0; filter:Alpha(opacity=0); z-index: 9997;}


.ms-trcnoti-toast { padding: 0; }
.ntm_noti { padding:5px; font-weight:bold; }
.ntm_noti-success { background-color: green; color:white; }
.ntm_noti-warning { background-color: orange; color:white; }
.ntm_noti-error { background-color: red; color:white; }
.ntm_DialogMessage {
/*	min-width		: 280px;*/
}
.ntm_btn-DialogOk {
	float			: right;
	background-color: rgb(9,88,147);
	border-color	: rgb(9,88,147);
	color			: #FFFFFF;
}



/* Tablet Version */
@media only screen and (max-width:784px) {

/* Meine Schnelleinstiege */
#s4-workspace .ntm_PLHomepage .ntm_Schnelleinstiege .ntm_H2Fav,
#s4-workspace .ntm_PLHomepage .ntm_Schnelleinstiege-home .ntm_FavBtn,
#s4-workspace .ntm_PLHomepage a.ntm_FavLinks, #s4-workspace .ntm_PLHomepage a.ntm_FavLinks:link, #s4-workspace .ntm_PLHomepage a.ntm_FavLinks:visited {
	color			: rgb(0,147,211);
}

}