﻿/* Elastislide Style */
.es-carousel-wrapper {
	padding			: 10px 37px 8px 38px;
	border			: 0px;
/*	padding			: 8px 0px 6px 0px;*/
	position		: relative;
	margin-bottom	: 0px;
/*	border			: 1px solid #FFFFFF;
	border-width	: 1px 0px;*/
}
.ntm_GalleryLight .es-carousel-wrapper {
	padding			: 50px 78px 50px 78px;
}
.es-carousel {
	overflow		: hidden;
}
.es-carousel ul {
	display			: none;
	margin-top		: 0px;
	padding			: 0px;
}
.es-carousel ul li {
	height			: 100%;
	float			: left;
	display			: block;
}
.es-carousel ul li a {
	display			: block;
	border			: 2px solid rgb(255,255,255);
	opacity			: 0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li a:hover,
.es-carousel ul li.selected a {
	border-color	: rgb(213,0,44);
	opacity			: 1.0;
}
.es-carousel ul li a img {
	display			: block;
	border			: none;
	max-height		: 100%;
	max-width		: 100%;
}
.es-nav span {
	position		: absolute;
	top				: 50%;
	left			: 8px;
	background		: transparent url("/_layouts/15/images/zap/gallery/nav_thumbs.png") no-repeat top left;
	width			: 21px;
	height			: 21px;
	margin-top		: -8px;
	text-indent		: -9000px;
	cursor			: pointer;
}
.es-nav span.es-nav-next {
	right			: 8px;
	left			: auto;
	background-position:top right;
}
.ntm_GalleryLight .es-nav span {
	left			: 16px;
	background		: transparent url("/_layouts/15/images/zap/gallery/nav_thumbsLight.png") no-repeat top left;
	width			: 36px;
	height			: 42px;
}
.ntm_GalleryLight .es-nav span.es-nav-next {
	right			: 16px;
	left			: auto;
	background-position:top right;
}

.es-nav span:hover {
	opacity			: 1.0;
}