﻿.rg-gallery {
	background-color: rgb(234,234,234);
	padding			: 10px 0px 0px 0px;
	width			: 99.8%;
	max-width		: 950px;
}
/*.ntm_GalleryLight*/.rg-gallery {
	padding			: 0px 0px 0px 0px;
}
.rg-image-wrapper {
	position		: relative;
	padding			: 20px 0px 10px 0px;
	min-height		: 20px;
}
.ntm_GalleryLight.rg-image-wrapper,
.ntm_GalleryLight.rg-caption {
	display			: none;
}
.rg-image {
	width			: 90%;
	margin			: 0 auto;
	text-align		: center;
	line-height		: 0px;
}
.rg-image a {
	position		: relative;
	display			: inline-block;
}
.rg-image img {
	max-height		: 100%;
	max-width		: 100%;
}
.es-carousel.ntm_Gallery ul li {
	width			: 68px !important;
}
.es-carousel.ntm_GalleryLight ul li {
	width			: 390px !important;
}
/* Nur Internet Explorer 10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .rg-image img:first-child {
        width		: 100%;
    }
}
.rg-image-nav a {
	position		: absolute;
	top				: 0px;
	left			: 0px;
	background		: url("/_layouts/15/images/zap/gallery/nav_thumbsLight.png") no-repeat 0% 50%;
	width			: 40px;
	height			: 100%;
	text-indent		: -9000px;
	cursor			: pointer;
	opacity			: 0.3;
	outline			: none;
}
.rg-image-nav a.rg-image-nav-next {
	right			: 0px;
	left			: auto;
	background-position: 102% 50%;
}
.rg-image-nav a:hover {
	opacity			: 0.8;
}
.rg-caption {
	text-align		: center;
	margin-top		: 15px;
	position		: relative;
}
.rg-caption p {
	line-height		: 1.3em;
	padding			: 0 15px 0 15px;
	font-size		: 1.1em;
}
.rg-view {
	height			: 30px;
}
.rg-view a {
	display			: block;
	float			: right;
	width			: 16px;
	height			: 16px;
	margin-right	: 3px;
	background		: #464646 url("/_layouts/15/images/zap/gallery/views.png") no-repeat top left;
	border			: 3px solid #464646;
	opacity			: 0.8;
}
.rg-view a:hover {
	opacity			: 1.0;
}
.rg-view a.rg-view-full {
	background-position:0px 0px;
}
.rg-view a.rg-view-selected {
	background-color: #6f6f6f;
	border-color	: #6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position: 0px -16px;
}
.rg-loading {
	width			: 46px;
	height			: 46px;
	position		: absolute;
	top				: 50%;
	left			: 50%;
	background		: #000 url("/_layouts/15/images/zap/gallery/ajax-loader.gif") no-repeat center center;
	margin			: -23px 0px 0px -23px;
	z-index			: 100;
	opacity			: 0.7;
}

/* Tablet Version */
@media only screen and (max-width:784px) {
	.rg-gallery {
		width			: 97%;
		max-width		: 750px;
	}

}