﻿.ntm_ContactItem {
	float			: left;
	width			: 49%;
	max-width		: 420px;
	margin			: 0 18px 32px 0px;
	background		: rgb(255,255,255);
	position		: relative;
	zoom			: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius	: 3px;
	-webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
	-moz-box-shadow	: 1px 1px 6px 0px rgba(0,0,0,0.2);
	-o-box-shadow	: 1px 1px 6px 0px rgba(0,0,0,0.2);
	box-shadow		: 1px 1px 6px 0px rgba(0,0,0,0.2);
}
.ntm_ContactItem .inner-wrapper {
	padding			: 8px 12px 12px 12px;
}
.ntm_ContactItem .inner-wrapper .figure .image {
	display			: inline-block;
	float			: left;
	padding-right	: 6px;
	margin-left		: -4px;
}
.ntm_ContactItem .inner-wrapper .figure .image img {
	border-radius	: 100%;
	display			: block;
	width			: 90px;
	height			: 90px;
	max-width		: 90px !important;
	margin			: 0px 0px !important;
}
.ntm_ContactItem .inner-wrapper .address p {
	font-style		: normal;
	margin			: 0px 0px 2px 0px;
}
.ntm_ContactItem .inner-wrapper .address .ntm_Name {
	font-size		: 1.1em;
	font-weight		: 600;
}
.ntm_ContactItem .inner-wrapper .address .job-title {
	font-weight		: normal;
	margin			: 0px 0px 4px 0px;
}
.ntm_ContactItem .inner-wrapper .address a {
	display			: block;
}
.ntm_ContactItem a.icon.pict-link-mail {
	min-height		: 24px;
}
.icon-no-link .pict-link-phone,
.icon-no-link .pict-link-cellphone,
.icon-link .pict-link-mail {
	padding-right	: 5px;
}
.icon-no-link i {
	font-weight		: bold;
	padding-left	: 3px;
}
span.icon-no-link.pict-link-phone > span,
span.icon-no-link.pict-link-cellphone > span,
a.icon.pict-link-mail .icon-link {
	padding-left	: 3px;
}
.icon-no-link i:before,
.icon-link i:before,
span.icon-no-link.pict-link-phone:before,
span.icon-no-link.pict-link-cellphone:before,
a.icon.pict-link-mail:before {
	padding-right: 0;
	display: inline-block;
	position: relative;
	top: 6px;
	left: 0;
	width: 20px;
	height: 20px;
	content: '';
	background-position: center center;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: auto 18px;
}
.icon-no-link i.pict-link-phone:before,
span.icon-no-link.pict-link-phone:before {
	background-image: url("/_layouts/15/images/zap/svg/contact-phone.svg");
	background-size: auto 14px;
}
.icon-no-link i.pict-link-cellphone:before,
span.icon-no-link.pict-link-cellphone:before {
	background-image: url("/_layouts/15/images/zap/svg/contact-mobile.svg");
	background-size: auto 14px;
}
.icon-link i.pict-link-mail:before,
a.icon.pict-link-mail:before {
	width: 20px;
	height: 20px;
	top: 5px;
	background-image: url("/_layouts/15/images/zap/svg/contact-mail.svg");
	background-size: auto 11px;
}
.icon-link:hover i.pict-link-mail:before,
a:hover .icon.pict-link-mail:before {
	background-image: url("/_layouts/15/images/zap/svg/contact-mail-h.svg");
	background-size: auto 11px;
}

