﻿
/* test 
ul.ms-cui-tts  {
	border-bottom	: 1px solid #788187;
}
*/

.ms-cui-contextmenu-inner {
	background-color: #fafafa;
}
.ms-cui-contextmenu {
	border			: solid #7f7f7f 1px;
}
.ms-cui-disabled * {
	color			: #788187 !important;
}
.ms-cui-disabled .ms-cui-img-container,.ms-cui-disabled .ms-cui-img-cont-float,.ms-cui-disabled .ms-cui-jewel-left,.ms-cui-disabled .ms-cui-jewel-middle,.ms-cui-disabled .ms-cui-jewel-right{
	background-color: #fff !important;
	opacity:0.3;
}
.ms-cui-needIEFilter .ms-cui-disabled .ms-cui-img-container,.ms-cui-needIEFilter .ms-cui-disabled .ms-cui-img-cont-float,.ms-cui-needIEFilter .ms-cui-disabled .ms-cui-jewel-left,
.ms-cui-needIEFilter .ms-cui-disabled .ms-cui-jewel-middle,.ms-cui-needIEFilter .ms-cui-disabled .ms-cui-jewel-right{
	filter:alpha(opacity=30);-ms-filter:"alpha(opacity=30)";
}
.ms-cui-disabled .ms-cui-jewel-middle .ms-cui-jewel-label{
	color			: #fff !important;
}
.ms-cui-cg {
border-top:4px solid transparent;
}
.ms-cui-cg-s .ms-cui-cg-t{
background-image:none;
}
.ms-cui-ct-first .ms-cui-tt-a {
	border-right	: 1px solid transparent;
}
.ms-cui-ct-last .ms-cui-tt-a {
	border-right	: 1px solid transparent;
}
.ms-cui-cg-s .ms-cui-tt-a {
	color			: #23272c !important;
}
.ms-cui-cg .ms-cui-tt-a:hover {
	border-color	: transparent;
}
.ms-cui-cg-db.ms-cui-cg {
	border-top-color: #b51127;
}
.ms-cui-ct-topBar-db,.ms-cui-tabBody-db {
	border-color	: #b51127 !important;
}
.ms-cui-cg-db .ms-cui-ct-ul {
	background-color: transparent;
	border-color	: #b51127;
}
.ms-cui-cg-db .ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span {
	color			: #b51127 !important;
}
.ms-cui-cg-db .ms-cui-tt > .ms-cui-tt-a:hover > .ms-cui-tt-span {
	color			: #b51127 !important;
	background-color: transparent;
	text-decoration	: none;
}
.ms-cui-cg-db.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a,.ms-cui-cg-db.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a:hover {
	border-color	: #e1e1e1;
}
.ms-cui-cg-db .ms-cui-ct-first > .ms-cui-tt-a,.ms-cui-cg-db .ms-cui-ct-first > .ms-cui-tt-a:hover {
border-left-color:#b51127;
}
.ms-cui-cg-db .ms-cui-ct-last > .ms-cui-tt-a,.ms-cui-cg-db .ms-cui-ct-last > .ms-cui-tt-a:hover {
border-right-color:#b51127;
}
.ms-cui-cg-lb.ms-cui-cg {
	border-top-color: #36a7ca;
}
.ms-cui-ct-topBar-lb,.ms-cui-tabBody-lb{
	border-color	: #36a7ca !important;
}
.ms-cui-cg-lb .ms-cui-ct-ul{
	background-color: transparent;
	border-color	: #36a7ca;
}
.ms-cui-cg-lb .ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span,
.ms-cui-cg-lb .ms-cui-tt > .ms-cui-tt-a:hover > .ms-cui-tt-span {
	color			: #368499 !important;
}
.ms-cui-cg-lb.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a,.ms-cui-cg-lb.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a:hover{
	border-color	: #36a7ca;
}
.ms-cui-cg-lb .ms-cui-ct-first > .ms-cui-tt-a,.ms-cui-cg-lb .ms-cui-ct-first > .ms-cui-tt-a:hover{
border-left-color:#36a7ca;
}
.ms-cui-cg-lb .ms-cui-ct-last > .ms-cui-tt-a,.ms-cui-cg-lb .ms-cui-ct-last > .ms-cui-tt-a:hover{
border-right-color:#36a7ca;
}
.ms-cui-cg-tl.ms-cui-cg{
	border-top-color: #2299ab;
}
.ms-cui-ct-topBar-tl,.ms-cui-tabBody-tl{
	border-color	: #2299ab !important;
}
.ms-cui-cg-tl .ms-cui-ct-ul{
	background-color: transparent;
	border-color	: #2299ab;
}
.ms-cui-cg-tl .ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span,
.ms-cui-cg-tl .ms-cui-tt > .ms-cui-tt-a:hover > .ms-cui-tt-span{
	color			: #006c7d !important;
}
.ms-cui-cg-tl.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a,.ms-cui-cg-tl.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a:hover {
	border-color	: #2299ab;
}
.ms-cui-cg-tl .ms-cui-ct-first > .ms-cui-tt-a,.ms-cui-cg-tl .ms-cui-ct-first > .ms-cui-tt-a:hover{
border-left-color:#2299ab;
}
.ms-cui-cg-tl .ms-cui-ct-last > .ms-cui-tt-a,.ms-cui-cg-tl .ms-cui-ct-last > .ms-cui-tt-a:hover{
border-right-color:#2299ab;
}
.ms-cui-cg-or.ms-cui-cg{
	border-top-color: #ff9d00;
}
.ms-cui-ct-topBar-or,.ms-cui-tabBody-or{
	border-color	: #ff9d00 !important;
}
.ms-cui-cg-or .ms-cui-ct-ul{
	background-color: transparent;
	border-color	: #ff9d00;
}
.ms-cui-cg-or .ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span,
.ms-cui-cg-or .ms-cui-tt > .ms-cui-tt-a:hover > .ms-cui-tt-span{
	color			: #c45300 !important;
}
.ms-cui-cg-or.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a,.ms-cui-cg-or.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a:hover{
	border-color	: #ff9d00;
}
.ms-cui-cg-or .ms-cui-ct-first > .ms-cui-tt-a,.ms-cui-cg-or .ms-cui-ct-first > .ms-cui-tt-a:hover{
border-left-color:#ff9d00;
}
.ms-cui-cg-or .ms-cui-ct-last > .ms-cui-tt-a,.ms-cui-cg-or .ms-cui-ct-last > .ms-cui-tt-a:hover{
border-right-color:#ff9d00;
}
.ms-cui-cg-gr.ms-cui-cg{
	border-top-color: #49a349;
}
.ms-cui-ct-topBar-gr,.ms-cui-tabBody-gr{
	border-color	: #49a349 !important;
}
.ms-cui-cg-gr .ms-cui-ct-ul{
	background-color: transparent;
	border-color	: #49a349;
}
.ms-cui-cg-gr .ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span,
.ms-cui-cg-gr .ms-cui-tt > .ms-cui-tt-a:hover > .ms-cui-tt-span{
	color			: #067006 !important;
}
.ms-cui-cg-gr.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a,.ms-cui-cg-gr.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a:hover{
	border-color	: #49a349;
}
.ms-cui-cg-gr .ms-cui-ct-first > .ms-cui-tt-a,.ms-cui-cg-gr .ms-cui-ct-first > .ms-cui-tt-a:hover{
	border-left-color: #49a349;
}
.ms-cui-cg-gr .ms-cui-ct-last > .ms-cui-tt-a,.ms-cui-cg-gr .ms-cui-ct-last > .ms-cui-tt-a:hover{
	border-right-color: #49a349;
}
.ms-cui-cg-mg.ms-cui-cg{
	border-top-color: #b51127;
}
.ms-cui-ct-topBar-mg,.ms-cui-tabBody-mg{
	border-color	: #b51127 !important;
}
.ms-cui-cg-mg .ms-cui-ct-ul{
	background-color: transparent;
	border-color	: #b51127;
}
.ms-cui-cg-mg .ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span,
.ms-cui-cg-mg .ms-cui-tt > .ms-cui-tt-a:hover > .ms-cui-tt-span{
	color			: #9c276d !important;
}
.ms-cui-cg-mg.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a,.ms-cui-cg-mg.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a:hover{
	border-color	: #b51127;
}
.ms-cui-cg-mg .ms-cui-ct-first > .ms-cui-tt-a,.ms-cui-cg-mg .ms-cui-ct-first > .ms-cui-tt-a:hover{
	border-left-color: #b51127;
}
.ms-cui-cg-mg .ms-cui-ct-last > .ms-cui-tt-a,.ms-cui-cg-mg .ms-cui-ct-last > .ms-cui-tt-a:hover{
	border-right-color: #b51127;
}
.ms-cui-cg-yl.ms-cui-cg{
	border-top-color: #f2cb1d;
}
.ms-cui-ct-topBar-yl,.ms-cui-tabBody-yl{
	border-color	: #f2cb1d !important;
}
.ms-cui-cg-yl .ms-cui-ct-ul{
	background-color: transparent;
	border-color	: #f2cb1d;
}
.ms-cui-cg-yl .ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span,
.ms-cui-cg-yl .ms-cui-tt > .ms-cui-tt-a:hover > .ms-cui-tt-span{
	color			: #856300 !important;
}
.ms-cui-cg-yl.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a,.ms-cui-cg-yl.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a:hover{
	border-color	: #f2cb1d;
}
.ms-cui-cg-yl .ms-cui-ct-first > .ms-cui-tt-a,.ms-cui-cg-yl .ms-cui-ct-first > .ms-cui-tt-a:hover{
	border-left-color: #f2cb1d;
}
.ms-cui-cg-yl .ms-cui-ct-last > .ms-cui-tt-a,.ms-cui-cg-yl .ms-cui-ct-last > .ms-cui-tt-a:hover{
	border-right-color: #f2cb1d;
}
.ms-cui-cg-pp.ms-cui-cg{
	border-top-color: #935ed3;
}
.ms-cui-ct-topBar-pp,.ms-cui-tabBody-pp{
	border-color	: #935ed3 !important;
}
.ms-cui-cg-pp .ms-cui-ct-ul{
	background-color: transparent;
	border-color	: #935ed3;
}
.ms-cui-cg-pp .ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span,
.ms-cui-cg-pp .ms-cui-tt > .ms-cui-tt-a:hover > .ms-cui-tt-span{
	color			: #6b25ba !important;
}
.ms-cui-cg-pp.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a,.ms-cui-cg-pp.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a:hover{
	border-color	: #935ed3;
}
.ms-cui-cg-pp .ms-cui-ct-first > .ms-cui-tt-a,.ms-cui-cg-pp .ms-cui-ct-first > .ms-cui-tt-a:hover{
	border-left-color: #935ed3;
}
.ms-cui-cg-pp .ms-cui-ct-last > .ms-cui-tt-a,.ms-cui-cg-pp .ms-cui-ct-last > .ms-cui-tt-a:hover{
	border-right-color: #935ed3;
}
.ms-cui-cg-s .ms-cui-tt-s .ms-cui-tt-a{
	background-color: #FFFFFF;
}
.ms-cui-section > * > .ms-cui-ctl-large,
.ms-cui-section > * > .ms-cui-ctl-medium,
.ms-cui-ctl{
	border			: 1px solid transparent;
}
.ms-cui-ctl-split-hover{
	background-color: #FFFFFF;
}
.ms-cui-ctl-on{
	border-color	: rgb(245,241,242);
	background-color: rgb(245,241,242) !important;
}
.ms-cui-disabled{
	color			: #788187;
}
.ms-cui-spn-txtbx,
.ms-cui-spn-btnup,
.ms-cui-spn-btndown{
	border			: 1px solid #ababab;
}
.ms-cui-spn-btndown{
	border-top-color: transparent;
}
.ms-cui-spn-btnup {
	border-bottom-color: transparent;
}
.ms-cui-spn-btnup,
.ms-cui-spn-btndown{
	border-left-color: transparent;
}
.ms-cui-spn-txtbx{
	border-right-color: transparent;
}
.ms-cui-spn-txtbx{
	color			: #3B3B3B;
}
.ms-cui-spn-btnup:hover,
.ms-cui-spn-btnup-ctl-hover,
.ms-cui-spn-btndown:hover,
.ms-cui-spn-btndown-ctl-hover,
.ms-cui-spn-txtbx-hover {
	border-color	: #EDE6E7;
}
.ms-cui-ctl-largelabel,
.ms-cui-ctl-mediumlabel{
	color			: #23272c;
}
.ms-cui-groupBody input[type=text] {
	border-color	: #d3d6d9;
	background-color: #FFFFFF;
	color			: #23272c;
}
.ms-cui-groupBody input[type=text]:hover {
	background-color: #FFFFFF;
	border-color	: #bbbfc4;
}
.ms-cui-groupBody input[type=text]:focus {
	border-color	: #bbbfc4;
}
.ms-cui-ctl-large .ms-cui-ctl-a2{
	border-top		: 0px !important;
}
.ms-cui-disabled:hover,.ms-cui-ctl-a1.ms-cui-disabled:hover *,.ms-cui-ctl-large.ms-cui-disabled:hover *,.ms-cui-ctl-large.ms-cui-disabled:hover,.ms-cui-ctl-thin.ms-cui-disabled:hover,.ms-cui-ctl-menu.ms-cui-disabled:hover,.ms-cui-gallerybutton-a.ms-cui-disabled:hover{
	border-color	: transparent !important;
	background-color: transparent;
}
.ms-cui-disabled:active,.ms-cui-ctl2-disabled:active,.ms-cui-ctl2-disabled:active .ms-cui-ctl-a1,.ms-cui-ctl2-disabled:active .ms-cui-ctl-a2{
	background-color: transparent !important;
}
.ms-cui-ctl-disabledHoveredOver,.ms-cui-disabled.ms-cui-ctl-menu:active{
	border-color	: #ededed !important;
	background-color: #fafafa;
}
.ms-cui-ctl-large-groupPopup .ms-cui-ctl-largeIconContainer,.ms-cui-ctl-large-groupPopup.ms-cui-disabled:hover .ms-cui-ctl-largeIconContainer{
	border			: 1px solid #b2b5b9;
}
.ms-cui-ctl-thin {
	border			: 1px solid #afb4ba;
}
.ms-cui-menusection-items32 .ms-cui-ctl-mediumlabel,.ms-cui-menusection-items32rtl .ms-cui-ctl-mediumlabel,.ms-cui-btn-menu-description{
	color			: #4c535c;
}
.ms-cui-dd-text,input.ms-cui-cb-input{
	border			: 1px solid #d3d6d9;
	border-right-width: 0px;
}
.ms-cui-dd-text > a,.ms-cui-cb-input > a {
	color			: #000;
}
.ms-cui-dd-arrow-button {
	border			: 1px solid #d3d6d9;
	border-left-color: transparent;
}
span.ms-cui-disabled:hover > .ms-cui-dd-arrow-button {
	border-left-color: transparent !important;
}
.ms-cui-dd:hover .ms-cui-dd-text,.ms-cui-cb:hover .ms-cui-cb-input {
	background-color: #FFFFFF;
	border-color	: #bbbfc4;
}
.ms-cui-dd.ms-cui-disabled:hover .ms-cui-dd-text,.ms-cui-cb.ms-cui-disabled:hover .ms-cui-cb-input {
	background-color: inherit !important;
	border-color	: #d3d6d9 !important;
}
.ms-cui-fslb {
	color			: #23272c;
}
.ms-cui-tb {
	border			: 1px solid #d4d6d9;
	background-color: #fff !important;
}
.ms-cui-tb.ms-cui-disabled:hover {
	border-color	: #d4d6d9 !important;
	background-color: inherit;
}
.ms-cui-groupBody .ms-cui-tb-labelmode {
	color			: #DB970B;
	background-color: transparent;
	border-color	: transparent;
}
.ms-cui-cbx label {
	color			: #23272c;
}
.ms-cui-gallerybutton-Size64by48 .ms-cui-gallerybutton-a {
	border			: 1px solid #afb4ba;
}
.ms-cui-gallerybutton:hover {
	border-color	: #ffea93;
}
.ms-cui-gallerybutton-highlighted {
	border-color	: #ffdc63;
}
.ms-cui-gallerybutton-highlighted:hover {
	border-color	: #fea910;
}
.ms-cui-colorpicker-celldiv {
	border-color	: #E2E4E7;
}
.ms-cui-colorpicker-cellinternaldiv {
	border			: 1px solid transparent;
}
.ms-cui-colorpicker-cell.ms-cui-colorpicker-hoveredOver .ms-cui-colorpicker-celldiv {
	border-color	: #F29436 !important;
}
.ms-cui-colorpicker-cell.ms-cui-colorpicker-hoveredOver .ms-cui-colorpicker-cellinternaldiv {
	border-color	: #FFE294 !important;
}
.ms-cui-it-activeCell {
	border			: 1px solid #FF0;
}
.ms-cui-it-inactiveCell {
	border			: 1px solid #000;
}
.ms-cui-it-activeCellOuter {
	border			: 1px solid #F00;
}
.ms-cui-it-inactiveCellOuter {
	border			: 1px solid transparent;
} 
.ms-cui-menu{
	border			: 1px solid #bec1c4;
}
.ms-cui-menusection {
	background-color: #FFFFFF;
	border-bottom	: 1px solid #e2e4e7;
}
.ms-cui-menusection-title {
	border-bottom	: 1px solid #e2e4e7;
	background-color: #f0f2f5;
	color			: #4c535c;
}
.ms-cui-menusection-items16 {
	background		: #fff url("/_layouts/15/images/rmgrad16.png") repeat-y left top;
}
.ms-cui-menusection-items16rtl{
	background		: #fff url("/_layouts/15/images/rmgrad16rtl.png") repeat-y right top;
}
.ms-cui-menusection-items32{
	background		: #FFFFFF;
}
.ms-cui-menusection-items32rtl{
	background		: #FFFFFF;
}
.ms-cui-tooltip{
	color			: #5d5d5d;
	font-size		: 13px;
}
.ms-cui-tooltip-body{
	background-color: #e5e5f0;
	border			: 1px solid #bebebe;
}
.ms-cui-tooltip h1 {
	color			: #5d5d5d;
}
.ms-cui-tooltip hr {
	color			: #d9d9d9;
	border-top		: 1px dashed #b2b2b9;
}
.ms-cui-tt-s > .ms-cui-tt-a,.ms-cui-tt-a:hover,.ms-cui-tt-s > .ms-cui-tt-a:hover {
	border-color	: #e1e1e1;
}
.ms-cui-tt-a:hover {
	background-color: rgb(192,115,97);
}
.ms-cui-tt-s > .ms-cui-tt-a:hover {
	background-color: rgb(255,255,255);
}
.ms-cui-tt-a > .ms-cui-tt-span {
	color			: #b51127 !important;
}
.ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span,
.ms-cui-tt-a:hover > .ms-cui-tt-span {
	color			: #b51127 !important;
}
.ms-browseTab.ms-cui-tt-s > .ms-cui-tt-a {
	background		: transparent;
	border-color	: transparent;
}
.ms-browseTab.ms-cui-tt-s > .ms-cui-tt-a:hover {
	border-color	: #e1e1e1;
}
.ms-browseTab.ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span {
	color			: #b51127 !important;
}
.ms-browseTab.ms-cui-tt-s > .ms-cui-tt-a:hover {
	background-color: transparent;
}
.ms-browseTab.ms-cui-tt-s > .ms-cui-tt-a:hover > .ms-cui-tt-span {
	color			: #b51127 !important;
}
.ms-cui-topBar2.ms-cui-topBarMaximized {
	border-bottom	: 1px solid #e1e1e1;
}
