﻿/* Stylesheets für die nteam Lösung FirstScreen */

.highlightedItem {
	position: relative; z-index: 7779 !important;
}
.ntm_showFirstScreen {
	position: fixed;
	top: 150px;
	left: 0px;
	width: 30px;
	height: 28px;
	border-radius: 0 10px 10px 0;
	z-index: 7780 !important;
	color: rgb(255,255,255);
	font-size: 30px;
	padding: 0px 0px 12px 20px;
	cursor: pointer;
}
.ntm_grayGradient {
	background-color: rgb(0,158,224);

/*	background: rgb(0,42,91);
	background: -moz-linear-gradient(left, #002a5b 0%, rgba(133,206,227) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #002a5b), color-stop(100%, rgba(133,206,227)));
	background: -webkit-linear-gradient(left, #002a5b 0%, rgba(133,206,227) 100%);
	background: -o-linear-gradient(left, #002a5b 0%, rgba(133,206,227) 100%);
	background: -ms-linear-gradient(left, #002a5b 0%, rgba(133,206,227) 100%);
	background: linear-gradient(to right, #002a5b 0%, rgba(133,206,227) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002a5b', endColorstr='rgba(133,206,227)', GradientType=1);*/
}
.ntm_grayGradient:hover {
	background-color: rgb(0,73,148);
}
.ntm_FirstScreenLayer { background: #4c4c4c; /* Old browsers */ background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #595959 9%, #666666 18%, #474747 33%, #2c2c2c 50%, #111111 60%, #000000 67%, #2b2b2b 85%, #1c1c1c 97%, #131313 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#595959 9%,#666666 18%,#474747 33%,#2c2c2c 50%,#111111 60%,#000000 67%,#2b2b2b 85%,#1c1c1c 97%,#131313 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(135deg, #4c4c4c 0%,#595959 9%,#666666 18%,#474747 33%,#2c2c2c 50%,#111111 60%,#000000 67%,#2b2b2b 85%,#1c1c1c 97%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
.ntm_itemHintHeader {height: 15%; position: absolute; z-index: 10; width: 100%;}
.ntm_itemHintHeader div {padding: 2% 5%; width: 40%; float: left;}
.ntm_itemHintCounter {}
.ntm_itemHintClose { text-align: right; cursor: pointer;}
.ntm_itemHintText { float: left; height: 75%; width: 100%;} 
.ntm_itemHintTextContent {padding:2% 5%; margin-top: 30px;} 
.ntm_itemHintTriangle {width: 20px; height: 20px; display:none; background-color: white; position: absolute; bottom: -10px; left: 40px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(45deg);} 
.ntm_itemHintTriangle.bottom {width: 20px; height: 20px; display:none; background-color: white; position: absolute; top: -10px; left: 40px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(45deg);} 
		
.disabled {cursor: auto; background: #dedede;}
.ntm_itemHintButtons { display: flex; justify-content: center; align-items: center; loat: left; width: 100%; height: 20%; position: absolute; bottom: 5px;}
.ntm_itemHintButtons div { height: 20px; width: 40px; border-radius: 4px; display: flex; justify-content: center; align-items: center; margin:2%; color: white; font-weight: bold; font-family: initial; cursor: pointer;}


.mouseOnItem {border: 2px solid darkgray; cursor: pointer;}