﻿/*
 * jQuery FlexSlider v2.7.2
 * https://www.woocommerce.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../../Fonts/icomoon.eot');
    src: url('../../Fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../../Fonts/icomoon.woff') format('woff'), url('../../Fonts/icomoon.ttf') format('truetype'), url('../../Fonts/icomoon.svg#icomoon') format('svg');
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img, .flexslider .slides video {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/*html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}*/
.no-js .flexslider .slides > li:first-child {
  display: block;
  max-height: 100%;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px; /* margin: 0 0 60px; */
  background: transparent;
  border: 0px solid #fff;
  position: relative;
  zoom: 1;
}
.ntm_SliderOne .flexslider {
  margin: 0 0 60px; /* margin: 0 0 60px; */
  background: rgb(255,255,255);
  border: 0px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
}
.flexslider.ntm_IconSlider {
	
}

.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img, .flexslider .slides video {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
@-moz-document url-prefix() {
  .loading .flex-viewport {
    max-height: none;
  }
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {

}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
    font-family: 'icomoon';
    font-size: 40px;
    display: inline-block;
    content: '\e901';
    color: rgba(255,255,255,1);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3)
}
.flex-direction-nav a.flex-next:before {
  content: '\e900';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.ntm_SliderOne:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.ntm_SliderOne:hover .flex-direction-nav .flex-prev:hover,
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.ntm_SliderOne:hover .flex-direction-nav .flex-next,
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.ntm_SliderOne:hover .flex-direction-nav .flex-next:hover,
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 3px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #f2f2f2;
  background: rgba(210,210,210,0.8);
  cursor: pointer;
  text-indent: -9999px;
  /*-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid rgb(242,242,242);
}
.flex-control-paging li a:hover {
  background: #aaa;
  background: rgba(200, 200, 200, 0.8);
}
.flex-control-paging li a.flex-active {
  background: #e4600e;
  background: rgba(0,158,224, 0.9);
  cursor: default;
  border: 1px solid rgba(0,158,224, 0.9);
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev {
		opacity: 0.8;
		left: -4px;
	}
	.flex-direction-nav .flex-next {
		opacity: 0.8;
		right: -4px;
	}
	.ntm_mainSlider:hover .flex-direction-nav .flex-prev {
		left: -4px;
		opacity: 1;
	}
	.ntm_mainSlider.hover .flex-direction-nav .flex-next {
		right: -4px;
		opacity: 1;
	}
}

/* ====================================================================================================================
 * MAIN THEME
 * ====================================================================================================================*/

.flexslider.ntm_mainSlider {
    margin: 0px;
}

 /* ====================================================================================================================
 * NEWS THEME
 * ====================================================================================================================*/
.ntm_SliderMore .slides li {
    padding: 2px 3px;
}

.ntm_SliderMore {
	margin-left: 0px; /*0px 40px;*/
	margin-right: 0px;
}
@media only screen and (max-width:568px) {
	.ntm_SliderMore {
	    margin-right: 16px;
	    margin-left: 16px;
	}

}
.slides .boxWebPart {
    width: 100%;
    padding: 0% 5%;
    margin: 0px 0%;
}

/* content, event box definition */
/*.slides .content {
    clear: left;
    width: 106%;
    margin-left: -16px;
}*/

.slides .contentBox {
    width: 98%;
    height: 550px;
    border: 1px solid rgb(237,237,237);
    float: left;
    margin: 1% 0.6%;
    position: relative;
}

.ntm_SliderMore .flex-direction-nav a:before {
    color: rgba(0,158,224, 0.9);
}

.slides .contentBox:hover {
    box-shadow: rgba(0,0,0,0.5) 0px 3px 10px 0px;
}

.slides .contentBox.hidden {
	display			: none;
	transition-property: all;
	transition-duration: 5s;
}

.slides .image {
}

.slides .image.video {
    margin-bottom: -56px;
}

.slides .image img {
    margin: 0 0 0 -0.2%;
    max-width: 100.4%;
    width: 100.4%;
}

.slides .title {
    font-size: 1.2em;
    padding: 10px;
    color: rgb(228,96,14);
}

.slides .teaserText {
    padding: 10px;
    max-height: 110px;
    overflow: hidden;
}

.slides .buttonMore {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.slides .actionButton_more {
    border: 1px solid rgb(228,96,14);
    background: rgb(228,96,14);
    color: white;
    padding: 5px 10px;
    margin: 10px 0px 30px 0px;
}

.slides .actionButton_more i {
    padding: 0px 10px 0px 0px;
}

.slides .dateBox {
    min-height: 20px;
    /* font-size		: 0.8em; */
    color: gray;
    /* text-align		: right; */
    width: 100%;
}

.ntm_SliderMore:hover .flex-direction-nav .flex-prev {
    opacity: 0.8;
    left: -25px;
}

.ntm_SliderMore:hover .flex-direction-nav .flex-next {
    opacity: 0.8;
    right: -35px;
}

@media only screen and (max-width:868px) {
    .slides .content {
        width: 100%;
        margin-left: 0px;
    }
}

@media only screen and (max-width:568px) {
    .slides .contentBox {
        width: 98%;
        height: auto;
        float: none;
        margin: 24px auto;
    }

    .slides .buttonMore {
        position: relative;
    }
}

/* ====================================================================================================================
 * QUOTE THEME
 * ====================================================================================================================*/

.ntm_SliderOne .flex-direction-nav a:before {
    color: rgba(0,158,224, 0.9);
}

.ntm_SliderOne {
    top: -5px;
    padding: 0px 0px;
}

.ntm_SliderOne:hover .flex-direction-nav .flex-prev {
    opacity: 0.8;
    left: -20px;
}

.ntm_SliderOne:hover .flex-direction-nav .flex-next {
    opacity: 0.8;
    right: -20px;
}

.flexslider.ntm_SliderOne .flex-control-nav {
    left: 0px;
}

.ntm_SliderOne .flex-direction-nav a {
    top: 40%;
}

/* ====================================================================================================================
 * ICON THEME
 * ====================================================================================================================*/

.ntm_IconSlider {
    margin: 0px 0px; /*0px 40px;*/
}

.ntm_IconSlider .flex-direction-nav a:before {
    color: rgba(0,158,224, 0.9);
}

.flexslider.ntm_IconSlider .ntm_Kundenlogos img {
    margin: 0px auto;
}

.ntm_IconSlider:hover .flex-direction-nav .flex-prev {
    opacity: 0.8;
    left: -20px;
}

.ntm_IconSlider:hover .flex-direction-nav .flex-next {
    opacity: 0.8;
    right: -20px;
}
@media only screen and (max-width:868px) {
	.ntm_IconSlider {
		margin: 0px 12px;
	}
}
@media only screen and (max-width:568px) {
	.ntm_IconSlider {
		margin: 0px 12px;
	}
}