﻿@import url(flexslider.css);
@import url(navigation.css);
@import url(simple-lightbox.css);
@import url(webparts.css);
@import url(tabellen.css);
@import url(tooltips.css);
/*************************************************************************************
/* Stylesheets für ZAP Masterpage
* Erstellt: 	  	08.01.2019
*
* Informationen: 	
* 
* Farben

  Dunkelblau rbg(0,51,102)    alternativ: rgb(9,88,147)  hover: rgb(7,70,118)  #004994
  Hellblau rgb(0,158,224)
  Rot rgb(255,0,0)  
  Dunkelgrau rgb(44,44,44) rgb(85,85,85)
  Hellgrau rgb(242,242,242)  rgb(247,247,247)
    
/*************************************************************************************/

/* Open Sans & Open Sans Condensed --- Lizenzhinweise siehe Open_Sans/ApacheLicense2.0.txt */
/* open-sans-light */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/Open_Sans/open-sans-v17-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/Open_Sans/open-sans-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Open_Sans/open-sans-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/Open_Sans/open-sans-v17-latin-300.woff') format('woff'), /* Modern Browsers */
	url('fonts/Open_Sans/open-sans-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/Open_Sans/open-sans-v17-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Open_Sans/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url('fonts/Open_Sans/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Open_Sans/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/Open_Sans/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/Open_Sans/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/Open_Sans/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-bold*/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Open_Sans/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/Open_Sans/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Open_Sans/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/Open_Sans/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
	url('fonts/Open_Sans/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/Open_Sans/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-condensed-light */
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.woff') format('woff'), /* Modern Browsers */
	url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}
/* open-sans-condensed-bold*/
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-700.woff') format('woff'), /* Modern Browsers */
	url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/Open_Sans_Condensed/open-sans-condensed-v14-latin-700.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}

/* Oswald --- Lizenzhinweise siehe SILOpenFontLicense1.1.txt */
/* oswald-medium */
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/Oswald/oswald-v24-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''), url('fonts/Oswald/oswald-v24-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Oswald/oswald-v24-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/Oswald/oswald-v24-latin-500.woff') format('woff'), /* Modern Browsers */
	url('fonts/Oswald/oswald-v24-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/Oswald/oswald-v24-latin-500.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-semibold */
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 600;
	src: url('fonts/Oswald/oswald-v24-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''), url('fonts/Oswald/oswald-v24-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Oswald/oswald-v24-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/Oswald/oswald-v24-latin-600.woff') format('woff'), /* Modern Browsers */
	url('fonts/Oswald/oswald-v24-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/Oswald/oswald-v24-latin-600.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-regular */
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Oswald/oswald-v24-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''), url('fonts/Oswald/oswald-v24-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Oswald/oswald-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/Oswald/oswald-v24-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/Oswald/oswald-v24-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/Oswald/oswald-v24-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}

/* Fira Sans --- Lizenzhinweise siehe OFL.txt */
/* fira-sans-regular - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Fira_Sans/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Fira Sans Regular'), local('FiraSans-Regular'), url('fonts/Fira_Sans/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Fira_Sans/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/Fira_Sans/fira-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/Fira_Sans/fira-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/Fira_Sans/fira-sans-v10-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-500 - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/Fira_Sans/fira-sans-v10-latin-500.eot'); /* IE9 Compat Modes */
	src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('fonts/Fira_Sans/fira-sans-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/Fira_Sans/fira-sans-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/Fira_Sans/fira-sans-v10-latin-500.woff') format('woff'), /* Modern Browsers */
	url('fonts/Fira_Sans/fira-sans-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/Fira_Sans/fira-sans-v10-latin-500.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/*!
 * Font Awesome Free 5.10.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
	font-family: 'Font Awesome 5 Brands';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url("fonts/Awesome/fa-brands-400.eot");
	src: url("fonts/Awesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("fonts/Awesome/fa-brands-400.woff2") format("woff2"), url("fonts/Awesome/fa-brands-400.woff") format("woff"), url("fonts/Awesome/fa-brands-400.ttf") format("truetype"), url("fonts/Awesome/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
	font-family: 'Font Awesome 5 Brands';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url("fonts/Awesome/fa-solid-900.eot");
	src: url("fonts/Awesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fonts/Awesome/fa-solid-900.woff2") format("woff2"), url("fonts/Awesome/fa-solid-900.woff") format("woff"), url("fonts/Awesome/fa-solid-900.ttf") format("truetype"), url("fonts/Awesome/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-style: normal;
}

.ntm_Footerbox .fab,
.ntm_Footerbox .fas {
	color: rgb(255,255,255);
	font-size: 1.4em;
	padding: 0px 6px 0px 16px;
	position: relative;
	top: 3px;
}

.fa-facebook-official:before {
	content: "\f09a";
}

.fa-twitter-square:before {
	content: "\f081";
}

.fa-youtube-square:before {
	content: "\f431";
}

.fa-internet-explorer:before {
	content: "\f26b";
}

.fa-chrome:before {
	content: "\f268";
}

.fa-map-marker-alt:before {
	content: "\f3c5";
}

.fa-globe:before {
	content: "\f0ac";
}



/*###########################################*/
/* zusätzliche Formatvorlagen */

div.ms-rteElement-Clearing {
	-ms-name: "Box clearing";
	-ms-element: "true";
}

span.ms-rteStyle-BoxClearing {
	-ms-name: "Box clearing span";
	display: block;
}

span.ms-rteElement-Text {
	-ms-name: "Text";
}

div.ms-rteElement-Box1 {
	-ms-name: "Box links weiß";
	-ms-element: "true";
}

div.ms-rteElement-Box1a {
	-ms-name: "Box links weiß Schatten";
	-ms-element: "true";
}

div.ms-rteElement-Box2 {
	-ms-name: "Box rechts weiß";
	-ms-element: "true";
}

div.ms-rteElement-Box3 {
	-ms-name: "Box links blau";
	-ms-element: "true";
}

div.ms-rteElement-Box4 {
	-ms-name: "Box rechts blau";
	-ms-element: "true";
}

div.ms-rteElement-BoxZweiSpaltig {
	-ms-name: "Text zweispaltig";
	-ms-element: "true";
	display: block;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
}

span.ms-rteStyle-BoxZweiSpaltig {
	-ms-name: "Text zweispaltig";
	display: block;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
}

.ms-rteTable-12 {
	-ms-name: "Alternatives Tabellenformat 01";
}

.ms-rteTable-13 {
	-ms-name: "Alternatives Tabellenformat 02";
}

span.ms-rteStyle-LightBox {
	-ms-name: "Großbild";
}

div.ms-rteElement-Ausblenden {
	-ms-name: "Ausgeblendeter Text";
	-ms-element: "true";
	display: none;
}

span.ms-rteStyle-MAnzeigen {
	-ms-name: "Text einblenden";
	background: url("/_layouts/15/images/zap/svg/link_blank.svg") no-repeat right center;
	padding-right: 14px;
	cursor: pointer;
}

.ms-rteStyle-MAnzeigen:hover {
	color: rgb(7,70,118);
}

span.ms-rteStyle-Mehr {
	-ms-name: "mehr";
	background: url("/_layouts/15/images/zap/svg/link_blank.svg") no-repeat 3px center;
	padding-left: 14px;
}

.ntm_Wert span.ms-rteStyle-Mehr,
.ntm_Anhang span.ms-rteStyle-Mehr {
	background: url("/_layouts/15/images/zap/svg/link_blank.svg") no-repeat 3px 4px;
}

span.ms-rteStyle-Back {
	-ms-name: "zurück";
	background: url("/_layouts/15/images/zap/svg/link_back.svg") no-repeat 1px center;
	padding-left: 14px;
}

span.ms-rteStyle-External {
	-ms-name: "extern";
	background: url("/_layouts/15/images/zap/svg/link_ext.svg") no-repeat 1px center;
	padding-left: 13px;
}

span.ms-rteStyle-Download {
	-ms-name: "Download";
	background: url("/_layouts/15/images/zap/svg/link_download_blank.svg") no-repeat 1px center;
	padding-left: 18px;
}

span.ms-rteStyle-Email {
	-ms-name: "Email";
	background: url("/_layouts/15/images/zap/ico_mail.png") no-repeat 1px center;
	padding-left: 18px;
}

span.ms-rteStyle-Phone {
	-ms-name: "Telefon";
	background: url("/_layouts/15/images/zap/ico_phone.png") no-repeat 1px center;
	padding-left: 15px;
}

.ms-rteElement-Box10 .ms-rteStyle-Link {
	background: url("/_layouts/15/images/zap/svg/link_white.svg") no-repeat left center;
	padding: 5px 4px 3px 24px;
}

.ms-rteStyle-LinkButton {
	-ms-name: "Link Button";
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 4px;
	background-color: rgb(9,88,147);
	color: #FFFFFF;
	cursor: pointer;
}

	.ms-rteStyle-LinkButton:hover {
		background-color: rgb(7,70,118);
	}

img.ms-rteImage-Shadow {
	-ms-name: "Schatten";
	-ms-element: "true";
	box-shadow: 4px 8px 12px 0px rgba(0,0,0,0.2);
}

	img.ms-rteImage-Shadow:hover {
		box-shadow: 4px 8px 12px 0px rgba(0,0,0,0.4);
	}

/*###########################################*/
/* Ausgeblendete Menüpunkte */

/* App Launcher Button ausgeblendet*/
#O365_MainLink_NavMenu, #O365_AppTile_Sites, #O365_AppTile_Documents, #O365_SubLink_ShellAboutMe, a.ms-core-listMenu-item[title=Websiteinhalte], a#ctl00_PlaceHolderLeftNavBar_PlaceHolderQuickLaunchBottom_idNavLinkViewAll {
	display: none !important;
}

/* ausgeblendeter Neu Button in Bibliotheken */
/*table#layoutsTable .ms-rtestate-read.ms-rte-wpbox*/ button.js-listview-qcbNewButton {
	display: none;
}

/*###########################################*/
/* Allgemein */

body, .ms-core-defaultFont, #pageStatusBar, .ms-status-msg, .js-callout-body {
	font-family: "Open Sans", Tahoma, Geneva, sans-serif;
	font-size: 15px;
	color: rgb(28,28,28);
	letter-spacing: 0.01em;
}

	body.ms-backgroundImage {
	}

	body.ntm_Intranet, body.ntm_Team {
		background-color: rgb(242,242,242);
	}

.ms-dialog body.ms-backgroundImage,
.ms-dialog body.ntm_Intranet, .ms-dialog body.ntm_Team {
	background-color: rgb(255,255,255);
}

#s4-ribbonrow {
	background-color: rgb(247,247,247);
}

.ntm_Desktop {
}

.ntm_Mobile {
	display: none;
}

.ms-core-form-heading {
	color: rgb(9,88,147);
}

	.ms-core-form-heading.ms-disabled,
	.ms-toolbar.ms-disabled {
		color: rgb(177,177,177);
	}

.ms-core-overlay {
	background-color: transparent;
}

.ms-itmHoverEnabled:hover > * {
	background-color: rgba(247,247,247,0.6);
}

.ms-rteElement-Clearing,
.ms-rteElement-HRClear,
.ms-rteStyle-BoxClearing {
	border-top: 0px solid transparent;
	background-color: transparent;
	height: 0px;
	clear: both;
}

.ntm_Intranet .ntm_Wrapper {
	width: 98%;
	max-width: 1240px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.ntm_Team .ntm_Wrapper {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#NTM_BGHead {
	background: transparent url('/_layouts/15/images/zap/BG-Head-2.jpg') no-repeat center center;
	position: absolute;
	width: 100%;
	display: none;
}

	#NTM_BGHead .ntm_Wrapper {
		width: 100%;
		background: transparent url('/_layouts/15/images/zap/graueRaute.svg') no-repeat -406px -250px;
		background-size: 626px 598px;
		height: 250px;
	}

.ms-dialog .ntm_Wrapper.ntm_BodyCont {
	background: none !important;
}

table[style] {
	padding: 0px 0px !important;
}
/* Dropbox Hochladebereich */
#ms-dnd-dropbox {
	left: 0px !important;
	top: 40px !important;
}
/* Häkchen select box Weiß zu Grau */
.s4-itm-selected .ms-selectitem-icon.ms-selectitem-icon {
	left: -32px;
}



/*###########################################*/
/* SuiteBar */

#DeltaMainLinks, .ms-core-brandingText {
	display: none;
}

/*SOFTWAREONE /*REQ 1.1*/
#O365_MainLink_Help {
	display: none;
}

/*SOFTWAREONE /*REQ 1.5*/
#O365_MainLink_Me {
	margin-left: 0px !important;
	background: transparent url(/_layouts/15/images/zap/svg/user_white_20px.svg) no-repeat left center !important;
	padding-left: 15px !important;
}


#O365_NavHeader,
#O365_TopMenu,
#O365_MainLink_NavMenu,
.o365cs-topnavBGColor-2.o365cs-base,
.o365cs-base .o365cs-topnavLinkBackground-2,
.o365cs-base .ms-bgc-tdr, .o365cs-base .ms-bgc-tdr-h:hover,
#suiteBar, #suiteBarLeft,
.ms-core-needIEFilter #suiteBarLeft,
#suiteBarRight, .ms-core-needIEFilter #suiteBarRight {
	/*background-color: rgb(9,88,0);*/
	/*SOFTWAREONE /*REQ 1.2*/
	background-color: #1A9FDD;
}

.o365cs-nav-header16 .o365cs-nav-o365Branding,
.o365cs-nav-topItem.o365cs-nav-o365Branding,
#NTM_Intranet .o365cs-nav-header16 .o365cs-nav-o365Branding {
	display: none !important;
}

#NTM_SuiteBar {
}

.ntm_SuiteBarBottom {
	height: 0px;
	position: relative;
	left: 60px;
	top: -50px;
	width: 78%;
}

#O365_MainLink_NavMenu {
	border-right: 1px solid rgba(255,255,255,0.3);
}

.ms-core-suiteLink-a:hover,
#welcomeMenuBox .ms-welcome-root:hover,
.ms-siteactions-hover {
	background-color: rgb(33,33,33);
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.ms-welcome-hover,
.ms-siteactions-hover {
	border-right-color: transparent;
}

.ms-welcome-root > a.ms-core-menu-root, .ms-signInLink,
#suiteLinksBox a {
	color: #FFFFFF;
}
/* Suitebar Links MySite Links ausgeblendet */
#suiteLinksBox {
	display: none;
}

.ms-welcome-root > a.ms-core-menu-root.ms-menu-althov-active {
	color: #FFFFFF;
}

a.o365cs-nav-appTile[style*="background-color: rgb(0, 114, 198"] {
	background-color: rgb(85,85,85) !important;
	outline-color: rgb(85,85,85) !important;
}



/* Suche */
/* OSSSearch */
#DeltaPlaceHolderLeftNavBar > div.ms-webpart-chrome {
	padding: 20px 0px 0px 20px;
}

#contentBox #SearchBox {
	/*	width			: 90%;*/
}

#SearchBox a[title=Navigation] {
	width: 26px;
	height: 26px;
	background: transparent url(/_layouts/15/images/zap/svg/arrow_l_down_s.svg) no-repeat center center;
	background-size: contain;
}

	#SearchBox a[title=Navigation] > img {
		display: none;
		height: 0px;
	}

	#SearchBox a[title=Navigation]:hover {
		background: rgb(9,88,147) url(/_layouts/15/images/zap/svg/arrow_l_down_w.svg) no-repeat center center;
		background-size: contain;
	}

#NTM_SearchCont {
	position: absolute;
	z-index: 40;
	right: 0px;
	top: 40px;
	display: none;
}

	#NTM_SearchCont .ms-mpSearchBox {
		width: auto;
	}

	#NTM_SearchCont #searchInputBox {
		float: none;
		margin: 0px 0px 12px 0px;
	}

	#NTM_SearchCont .ms-srch-sb-border {
		border: 10px solid rgb(255,255,255);
		white-space: nowrap;
		background-color: rgb(255,255,255);
	}

	#NTM_SearchCont .ms-srch-sb-borderFocused {
		border: 10px solid rgba(9,88,147,.2);
		white-space: nowrap;
		background-color: rgb(255,255,255);
	}

	#NTM_SearchCont .ms-srch-sb {
		display: block;
	}

		#NTM_SearchCont .ms-srch-sb > input,
		#NTM_SearchCont .ms-srch-sb > input:focus {
			margin: 0px 0px 0px 4px;
			padding: 2px 6px 2px 6px;
			background-color: transparent;
			font-size: 1em;
			height: 26px;
		}

		#NTM_SearchCont .ms-srch-sb > .ms-srch-sb-navLink {
		}

		#NTM_SearchCont .ms-srch-sb > .ms-srch-sb-searchLink {
			margin: 4px 4px;
			height: 20px;
			width: 20px;
			background: url("/_layouts/15/images/zap/svg/lupe.svg") no-repeat center center;
			background-size: cover;
		}

			#NTM_SearchCont .ms-srch-sb > .ms-srch-sb-searchLink:hover {
				background: url("/_layouts/15/images/zap/svg/lupe-h.svg") no-repeat center center;
				background-size: cover;
			}

.ms-srch-sb-searchImg {
	top: -257px;
}

.searchInputBox {
	margin-bottom: 0px;
}

.ms-qSuggest-container {
	border-width: 0px 0px;
}

#NTM_SearchCont .ms-WPBody {
	margin-bottom: 0px;
}

.ms-srch-item-path {
	color: #777777;
}

.ms-srchnav-link-selected:link, .ms-srchnav-link-selected:visited,
h2 a.ms-srchnav-link-selected, h2 a.ms-srchnav-link-selected:visited {
	color: rgb(9,88,147) !important;
	font-family: "Open Sans", Tahoma, Geneva, sans-serif;
	padding: 2px 4px 0px 4px;
	font-weight: 600;
}

select.ms-advsrchPropertyDDL,
select.ms-advsrchOperatorDDL,
select.ms-advsrchAndOrDDL {
	height: auto;
}

.ms-qSuggest-container {
	background-color: #FFFFFF;
}

.ms-qSuggest-hListItem,
.ms-core-menu-link:hover,
.ms-core-menu-item:hover {
	background-color: rgba(9,88,147,.2);
}

.ms-qSuggest-personalResultTitle {
	color: rgb(9,88,147);
}

.ms-qSuggest-listSeparator {
	border-top: 1px solid #9A9899;
}

.ajax__multi_slider_default .inner_rail_horizontal {
	background-color: rgb(9,88,147);
	border-top: 1px solid rgb(9,88,147);
	border-bottom: 1px solid rgb(9,88,147);
}

.slider_tick_active {
	background-color: rgb(9,88,147);
	border: 1px solid rgb(9,88,147);
}

.ajax__multi_slider_default .handle_noforcepressed:hover,
.ajax__multi_slider_default .handle_noforcepressed:hover {
	background-color: #DADADA;
	border: 1px solid rgb(9,88,147);
}

.ajax__multi_slider_default .handle_noforcepressed:active,
.ajax__multi_slider_default .handle_noforcepressed:active,
.ajax__multi_slider_default .handle_forcepressed {
	background-color: #DADADA;
	border: 1px solid rgb(9,88,147);
}

.histogram_bar_active,
.histogram_bar_active:hover, .histogram_bar_inactive:hover,
.histogram_bar_active:active, .histogram_bar_inactive:active {
	background-color: #DADADA;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	border-top: 2px solid rgb(9,88,147);
}

.ms-srch-item:hover, .ms-srch-resultHover:hover, .edisc-SearchResultItemContainer:hover,
.ms-srch-itemSelected {
	background-color: rgba(165,165,165,0.2) !important;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.ms-searchCenter-refinement {
	margin-left: 36px;
}

.ms-promlink-button-enabled {
	border-color: rgb(9,88,147);
	background-color: rgba(248,246,243,1);
}

	.ms-promlink-button-enabled-hover, .ms-promlink-button-enabled:hover {
		background: rgb(9,88,147);
		border-color: rgb(9,88,147);
		color: #FFFFFF;
		cursor: pointer;
		-moz-transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in;
	}

.ntm_PL_Right .ms-ref-refiner #Value, .ntm_PL_Right .ms-ref-unsel-toggle, .ntm_PL_Right #OtherValue, .ntm_PL_Right #SubmitValue {
	width: 180px;
}

.ntm_ResetSearch {
	display: inline-block;
	position: absolute;
	width: 27px;
	height: 24px;
	padding: 5px 4px;
	margin-left: 2px;
	cursor: pointer;
	border: 1px solid #ababab;
}

	.ntm_ResetSearch:hover {
		border: 1px solid #888888;
	}

	.ntm_ResetSearch.ntm_ResetSearchLS, .ntm_ResetSearch.ntm_ResetSearchLS:hover {
		border-width: 0px 0px;
		width: 40px;
		height: 40px;
		padding: 14px 0px 0px 14px;
	}

	.ntm_ResetSearch a {
		width: 26px;
		height: 26px;
		display: inline-block;
		background: transparent url("/_layouts/15/images/zap/svg/ico_SearchReset-search.svg") no-repeat 3px 2px;
		background-size: cover;
		cursor: pointer;
	}

	.ntm_ResetSearch:hover a {
		background: transparent url("/_layouts/15/images/zap/svg/ico_SearchReset-searchh.svg") no-repeat 3px 2px;
		background-size: cover;
	}

	.ntm_ResetSearch.ntm_ResetSearchLS a {
		width: 40px;
		height: 40px;
	}


/*###########################################*/
/* Ribbon bar */

#globalNavBox, .ms-clientcontrol-chromeheader {
	background-color: rgba(255,255,255,0);
}

.ms-cui-topBar2,
.ms-cui-topBar2.ms-browseTabContainer {
	border-bottom: 1px solid rgba(255,255,255,0);
}

#s4-ribbonrow {
	padding: 0px 10px;
}

/*###########################################*/
/* Titlerow */

#s4-titlerow {
	position: relative;
	height: 91px;
	margin: 0px 0px;
	padding: 0px 0px 0px 0px;
}

#titleAreaBox {
	margin: auto 0px;
	width: 100%;
}

.ms-breadcrumb-box {
	height: 120px;
	/*SOFTWAREONE REQ 2.2*/
	/*padding-right: 4px !important;*/
}

.ms-core-pageTitle {
	font-size: 1.7em;
	white-space: normal;
	padding: 8px 0px 8px 0px;
}

#searchIcon {
	display: none;
}

#siteIcon {
	background: transparent url("/_layouts/15/images/zap/Logo_AfD.svg") no-repeat left center;
	background-size: 196px auto;
	height: 90px;
	min-width: 195px;
	margin: 0px 1% 0px 0px;
	float: left;
	text-align: left;
}

.ms-siteicon-a,
.ms-siteicon-img {
	max-width: 330px;
	width: 205px;
	height: 100px;
	max-height: 118px;
}

#NTM_IntranetTitle {
	display: none;
}

.ntm_Intranet #contentRow {
	margin-top: 0px;
	padding-top: 0px;
	position: relative;
}

.ms-fullscreenmode #contentRow {
	margin-top: 10px;
}

.ms-dialog #contentRow {
	margin-top: 0px;
}


/*###########################################*/
/* Funktionen */

.ntm_goToTop {
	font-family: "Open Sans Condensed", Tahoma, Geneva, sans-serif;
	font-weight: 700;
	position: fixed;
	bottom: 55px;
	right: 75px;
	max-width: 90px;
	height: 20px;
	display: none;
}

.ntm_Top {
	position: relative;
	height: 20px;
	margin: 0px 2px;
	display: inline-block;
}

#NTM_TopLink {
	width: 15px;
	height: 15px;
	position: relative;
	top: 3px;
	text-indent: -9999px;
	display: inline-block;
	background: url("/_layouts/15/images/zap/svg/arrow_up_blue.svg") no-repeat;
	background-size: 15px auto;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
}

	#NTM_TopLink:hover {
		rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}

background: url('/_layouts/15/images/zap/gototop.png') no-repeat;
}

#NTM_TopLink a {
	display: inline-block;
	height: 40px;
	width: 40px;
}


/*###########################################*/
/* Master Webpartzonen */



/*###########################################*/
/* Footer */

.ntm_FooterCont {
	color: #FFFFFF;
	margin-top: 0px;
}

.ntm_Intranet .ntm_FooterCont {
	max-width: 1240px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
}

.ntm_Team .ntm_FooterCont {
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
}

.ntm_FooterCont .ntm_FooterWPZ {
	background: rgb(0,158,224);
}

.ntm_Table > div.ntm_Footerbox > div {
	padding: 45px 25px 25px 25px;
	text-align: center;
}

.ntm_FooterCont .ntm_FooterCopy {
	background-color: rgb(0,158,224);
}

	.ntm_FooterCont .ntm_FooterCopy > div > div {
		padding: 10px 25px 20px 25px;
		text-align: center;
	}

.ntm_FooterCont {
}

.ntm_Footerbox {
}

.ntm_Footerbox1,
.ntm_Footerbox2 {
	width: 50%;
}

.ntm_FooterCont .ntm_Footerbox li {
	display: inline;
}

.ntm_FooterCont .ntm_Footerbox .ntm_LinkItem {
	background: none;
	display: inline-block;
	padding: 0px 10px 10px 10px;
	font-size: 1.1em;
}

.ntm_FooterCont .ntm_Footerbox a,
.ntm_FooterCont .ntm_Footerbox a:visited {
	color: #FFFFFF;
}

	.ntm_FooterCont .ntm_Footerbox a:hover {
		color: #FFFFFF;
		text-decoration: underline;
	}

.ntm_HFooter {
	display: none;
	font-size: 1.1em;
	padding-bottom: 18px;
}

.ntm_Copyright {
	display: inline-block;
}

#s4-bodyContainer {
	padding-bottom: 0px;
}


/*###########################################*/
/* Content Row */

.ntm_ContentWrapper {
}

#DeltaPlaceHolderMain {
	padding-bottom: 20px;
	position: relative;
}

.ntm_Intranet #contentBox,
.ntm_Team #contentBox {
	min-width: 703px;
	min-height: 800px;
	margin-left: 270px;
	margin-right: 0px;
	background-color: rgb(255,255,255);
	padding: 25px 30px;
	-webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
}

.ms-dialog #contentBox {
	margin-left: 0px;
	min-height: 50px;
	padding: 0px 0px;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	-o-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}


/***************************************/
/* Page Layouts  Seitenlayouts */

.ntm_Table {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

	.ntm_Table > div,
	.ntm_TableCell {
		display: table-cell;
		vertical-align: top;
	}

		.ntm_Table > div.ntm_TableRow {
			display: table-row;
		}

		.ntm_Table > div > div {
			/*	padding-right	: 25px;*/
		}

		.ntm_Table > div.ntm_PL_ZweiDrittelL > div,
		.ntm_Table > div.ntm_PL_1_2 > div,
		.ntm_Table > div.ntm_PL_2_3 > div,
		.ntm_Table > div.ntm_PL_1_3 > div {
			padding-right: 16px;
		}

		.ntm_Table > div.ntm_PL_1_3R > div,
		.ntm_Table > div.ntm_PL_2_2 > div,
		.ntm_Table > div.ntm_PL_2_3 > div,
		.ntm_Table > div.ntm_PL_3_3 > div {
			padding-left: 16px;
		}

		.ntm_Table > div.ntm_TableRow > div {
			padding-right: 0px;
		}

		.ntm_TableCell > div {
			padding: 8px 0px;
			border-top: 1px solid rgb(205,205,205);
		}

.ntm_TableCell2 > div,
.ntm_TableCell3 > div {
	padding-left: 10px;
}

.ntm_TableCell1 a, .ntm_TableCell1 a:visited {
	color: rgb(9,88,147);
}

	.ntm_TableCell1 a:hover {
		color: rgb(7,70,118);
	}

.ntm_Trennbalken {
	background-color: rgb(255,255,255);
	height: 20px;
	width: 108%;
	position: relative;
	left: -4%;
}

.ntm_PL_Right .ntm_Trennbalken {
	width: 100%;
	left: 0px;
}


/*###########################################*/
/* Breadcrumb */

.ntm_SiteBreadcrumb {
	padding: 8px 0px 6px 0px;
	line-height: 1.6em;
	margin: 0px 0px 0px 300px;
}

.ms-fullscreenmode .ntm_SiteBreadcrumb {
	padding: 8px 0px 12px 40px;
}

.ntm_SiteBreadcrumbScr {
}

.ms-breadcrumb-dropdownBox {
	display: none;
}

.ntm_SiteMapPath {
	display: inline-block;
	position: relative;
	top: 0px;
	font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
	font-size: .7em;
}

.ntm_SMPSep {
	background: url("/_layouts/15/images/zap/svg/pfeil-vor-grau.svg") no-repeat center center;
	background-size: 4px auto;
	padding: 0px 10px;
}

/*###########################################*/
/* Seitenaufteilung */

.article-content, .welcome-content {
	margin: 0px 0px 10px 0px;
}

/*###########################################*/
/* PageFunctions */

.ntm_PageFunctions {
	float: right;
	margin-top: 12px;
}

	.ntm_PageFunctions a {
		display: inline-block;
		text-align: right;
	}

		.ntm_PageFunctions a img {
			width: 40px;
			height: 28px;
		}

		.ntm_PageFunctions a.ntm_Bookmark {
			background: url(/_layouts/15/images/zap/svg/bookmark.svg) no-repeat center center;
			background-size: auto 24px;
		}

			.ntm_PageFunctions a.ntm_Bookmark.ntm_selected,
			.ntm_PageFunctions a.ntm_Bookmark:hover {
				background: url(/_layouts/15/images/zap/svg/bookmark-h.svg) no-repeat center center;
				background-size: auto 24px;
			}

		.ntm_PageFunctions a.ntm_Share {
			display: none;
		}

		.ntm_PageFunctions a.ntm_Print {
			display: none;
		}


/*###########################################*/
/* Texte Formatvorlagen */

p, input[type=button], input[type=reset], input[type=submit], button,
select.ms-advsrchPropertyDDL, select.ms-advsrchOperatorDDL, select.ms-advsrchAndOrDDL,
.medium {
	font-size: 1em;
}

.ms-promotedActionButton-text {
	font-size: .8em;
}

.o365cs-me-tile-nophoto-username {
	font-size: 16px;
}

.ms-webpart-titleText {
	font-size: 1.2em;
	font-weight: bold;
}

.ntm_Uppercase {
	text-transform: uppercase;
}

input[type=button], input[type=reset], input[type=submit], button,
select.ms-advsrchPropertyDDL, select.ms-advsrchOperatorDDL, .ms-advsrchText-v2box, select.ms-advsrchAndOrDDL,
.ms-core-navigation, .ms-textLarge, .ms-textSmall, .ms-metadata, .ms-descriptiontext, .ms-secondaryCommandLink,
.o365cs-nav-contextMenu .o365cs-contextMenuItem, .o365cs-nav-contextMenu .o365cs-contextMenuInactiveItem,
.ms-textXLarge, .ms-emptyMode, .ms-attractMode, div.ms-recs-titleDivInner.ms-webpart-titleText,
.ms-standardheader {
	font-family: "Open Sans", Tahoma, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6, .ms-h1, .ms-h2, .ms-h3, .ms-h4, .ms-h5, .ms-h6,
.ms-rtestate-field h1, h1.ms-rteElement-H1, .ms-rtestate-field h2, h2.ms-rteElement-H2,
.ms-rtestate-field h3, h3.ms-rteElement-H3, .ms-rtestate-field h4, h4.ms-rteElement-H4,
.ms-core-pageTitle, .ms-core-pageTitle a,
.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a,
.ms-largeNumber {
	font-family: "Open Sans Condensed", Tahoma, Geneva, sans-serif;
	font-weight: 700;
}

	h1, h2, .ms-h1, .ms-h2,
	.ms-rtestate-field h1, h1.ms-rteElement-H1, .ms-rtestate-field h2, h2.ms-rteElement-H2 {
	}

		h1, .ms-h1, .ms-rtestate-field h1, h1.ms-rteElement-H1, h1.ms-rteElement-H1B {
			color: rgb(9,88,147);
			font-size: 1.6em;
			margin: 0px 0px 20px 0px;
		}

.ms-accentText, .ms-accentText:visited {
	color: rgb(9,88,147);
}

h2, .ms-h2, .ms-rtestate-field h2, h2.ms-rteElement-H2, h2.ms-rteElement-H2B {
	color: rgb(9,88,147);
	font-size: 1.4em;
	margin: 16px 0px 16px 0px;
}

h3, .ms-h3, .ms-rtestate-field h3, h3.ms-rteElement-H3, h3.ms-rteElement-H3B {
	color: rgb(9,88,147);
	font-size: 1.3em;
	margin: 16px 0px 16px 0px;
}

.ms-formlabel .ms-h3 {
	font-size: 1em;
}

h4, .ms-h4, .ms-rtestate-field h4, h4.ms-rteElement-H4, h4.ms-rteElement-H4B {
	font-size: 1.2em;
	color: rgb(9,88,147);
	margin: 16px 0px 8px 0px;
}

h5, .ms-h4 {
	font-size: 1.1em;
	margin: 4px 0px 2px 0px;
}

h1 + h2 {
	margin: 0px 0px 16px 0px !important;
}

h1.ms-core-pageTitle,
h3.ms-srch-ellipsis,
.ms-srchnav-list h2,
h2.ms-displayInline {
	margin: 0em 0em;
}

h1.ms-core-pageTitle {
	margin-left: -25px;
	padding-left: 25px;
}

strong, bold {
}

.ms-rtestate-field li {
	line-height: 1.5em;
}

h1.ms-rteElement-H1B, h2.ms-rteElement-H2B, h3.ms-rteElement-H3B, h4.ms-rteElement-H4B {
	color: rgb(44,44,44);
}

.ms-textXLarge {
	font-size: 1.3em;
}

.ms-rtestate-field p, p.ms-rteElement-P {
	line-height: 1.4;
}


/*###########################################*/
/* Hyperlinks */

a, /*a:link,*/ a:visited, a:active,
.ms-link, .ms-link:visited, .ms-link:active,
.ms-srch-resultFooter a, .ms-srch-result #PagingLink a,
.ms-storefront-viewsmall a.ms-storefront-selectanchor,
.ms-storefront-viewsmall a.ms-storefront-selectanchor:link,
.ms-storefront-viewsmall a.ms-storefront-selectanchor:visited,
a.ms-recs-titleLink:link, a.ms-recs-titleLink:visited,
.ms-calloutLink:link, a.ms-calloutLink:visited, .ms-calloutLinkDisabled,
.ms-commandLink, .ms-commandLink:visited,
.ms-secondaryCommandLink, .ms-secondaryCommandLink:visited,
.ms-soften:link, a.ms-soften:visited, a.ms-soften:active,
.ms-heroCommandLink, .ms-heroCommandLink:visited,
.ms-subtleLink:link, .ms-subtleLink:visited,
.ms-atMention:link, .ms-atMention:visited,
.ms-hashTag:link, .ms-hashTag:visited {
	color: #000000;
	/*	font-family		: inherit;*/
}

	a[style] {
		color: rgb(9,88,147) !important;
	}

		a[style]:hover {
			color: rgb(7,70,118) !important;
		}

	a.ms-signInLink[style],
	a.ms-signInLink[style]:hover {
		color: rgb(28,28,28) !important;
	}

.ms-rtestate-field a, .ms-rtestate-field a:link, .ms-rtestate-field a:visited, .ms-rtestate-field a.ms-link, .ms-rtestate-field .ms-link:visited,
.ntm_LinkItem a, span a, .ms-acal-rootdiv a, .ms-acal-rootdiv a:visited,
.ntm_Anhang span.ms-rteStyle-Mehr {
	color: rgb(9,88,147);
}

.ms-rtestate-field .ms-listviewtable a, .ms-rtestate-field .ms-listviewtable a:link, .ms-rtestate-field .ms-listviewtable a:visited, .ms-rtestate-field .ms-listviewtable a.ms-link, .ms-rtestate-field .ms-listviewtable .ms-link:visited,
.ms-rtestate-field .ms-summarystandardbody a, .ms-rtestate-field .ms-summarystandardbody a:link, .ms-rtestate-field .ms-summarystandardbody a:visited, .ms-rtestate-field .ms-summarystandardbody a.ms-link, .ms-rtestate-field .ms-summarystandardbody .ms-link:visited,
span.ms-rteStyle-Link,
.ms-rtestate-field span.ms-rteStyle-Link a,
.ms-rtestate-field span.ms-rteStyle-Link a:link,
.ms-rtestate-field span.ms-rteStyle-Link a:visited {
	color: rgb(9,88,147);
	text-decoration: none;
}

.ms-rtestate-field .ntm_MyBoxTitle a, .ms-rtestate-field .ntm_MyBoxTitle a:visited {
	color: #000000;
}

.ms-rteStyle-Private,
.ms-rteStyle-Private a,
.ms-rteStyle-Private a:visited {
	color: #666666;
}

.ms-rtestate-field .ntm_MyBoxTitle a:hover,
span.ms-rteStyle-Link:hover {
	color: rgb(7,70,118);
}

.ms-rtestate-field .ms-rteElement-Box10 a:hover,
.ms-rtestate-field .ms-rteElement-Box10 a:hover .ms-rteStyle-Link,
.ntm_LinkItem a:hover {
	color: #666666;
}

#AsynchronousViewDefault_CalendarView a, #AsynchronousViewDefault_CalendarView a:visited {
	text-decoration: none;
}

a:hover, a:active,
.ms-srch-resultFooter a:hover,
.ms-srch-result #PagingSelf a,
.ms-srch-result #PagingSelf a:hover,
.ms-srch-result #PagingLink a:hover,
.ms-storefront-viewsmall a.ms-storefront-selectanchor:hover,
.ms-storefront-selectanchor:hover div,
a.ms-recs-titleLink:hover,
.ms-subtleLink:hover, .ms-atMention:hover, .ms-hashTag:hover,
.ms-subtleLink:active, .ms-atMention:active, .ms-hashTag:active,
a.ms-awiop-GroupHeaderLink:hover,
span a:hover,
.ms-heroCommandLink:hover, .ms-secondaryCommandLink:hover, a.ms-soften:hover, .ms-commandLink:hover {
	text-decoration: none;
	color: rgb(7,70,118);
	/*	-moz-transition	: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition	: all .3s ease-in;
	transition		: all .3s ease-in;*/
}

	a:hover .ms-ref-name, .ms-ref-name:hover,
	a:hover .ms-ref-ellipsis, .ms-ref-ellipsis:hover,
	.ms-srchnav-link:hover,
	.handle_label {
		color: rgb(7,70,118) !important;
		-moz-transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in;
	}

.ms-rtestate-field a:hover, .ms-rtestate-field a.ms-link:hover {
	color: rgb(7,70,118);
	text-decoration: none;
}

.ms-rtestate-field .ms-listviewtable a:hover, .ms-rtestate-field .ms-listviewtable a.ms-link:hover,
.ms-rtestate-field .ms-summarystandardbody a:hover, .ms-rtestate-field .ms-summarystandardbody a.ms-link:hover {
	color: rgb(7,70,118);
}

.ms-pivotControl-surfacedOpt:hover, .ms-pivotControl-overflowDot:hover, .ms-pivotControl-surfacedOpt-selected {
	color: rgb(7,70,118);
}
/*
a.ms-pivotControl-surfacedOpt-selected,
a.ms-pivotControl-surfacedOpt-selected:link,
a.ms-pivotControl-surfacedOpt-selected:visited,
.ms-itmhover a.ms-awiop-GroupHeaderLink:hover {
	color			: rgb(28,28,28);
}
*/
a.ms-pivotControl-surfacedOpt-selected {
	padding: 0px 4px;
}

.ms-pb a, .ms-pb-selected a,
a.ms-addnew,
.ms-viewselectorhover .ms-viewselector-currentView,
.ms-pivotControl-surfacedOpt,
.ms-pivotControl-overflowDot,
.sp-peoplepicker-userDisplayLink {
	color: #888888;
}

	.ms-pb a:hover, .ms-pb-selected a:hover,
	a.ms-addnew:hover,
	.ms-viewselectorhover .ms-viewselector-currentView {
		color: #888888;
	}

a.ms-listlink, .ms-vb a.ms-listlink, .ms-vb2 a.ms-listlink, .ms-vb-user a.ms-listlink, .ms-vb a.ms-listlink:visited,
.ms-vb a:visited, .ms-vb2 a:visited, .ms-vb-user a:visited,
.ms-alternatingstrong .ms-vb a:link, .ms-alternatingstrong .ms-vb2 a:link,
.ms-alternatingstrong .ms-vb-user a:link, .ms-alternatingstrong .ms-vb a:visited,
.ms-alternatingstrong .ms-vb2 a:visited, .ms-alternatingstrong .ms-vb-user a:visited {
	color: #888888;
}

	.ms-vb a:visited:hover, .ms-vb2 a:visited:hover, .ms-vb-user a:visited:hover
	.ms-alternatingstrong .ms-vb a:hover, .ms-alternatingstrong .ms-vb2 a:hover, .ms-alternatingstrong .ms-vb-user a:hover,
	.ms-alternatingstrong .ms-vb a:visited:hover, .ms-alternatingstrong .ms-vb2 a:visited:hover, .ms-alternatingstrong .ms-vb-user a:visited:hover,
	.ms-itmhover a:hover, .ms-vb-title a:hover, .ms-alternatingstrong .ms-vb-title a:hover,
	a.ms-addnew:hover, a.ms-listlink:hover, a.ms-listlink:active, .ms-vb a.ms-listlink:visited:hover,
	.ms-pivotControl-surfacedOpt:hover,
	.ms-pivotControl-overflowDot:hover,
	.ms-pivotControl-surfacedOpt-selected {
		text-decoration: none;
		color: #888888;
	}

h1 a, h1 a:visited, h1 a:hover,
h2 a, h2 a:visited, h2 a:hover {
	color: inherit !important;
	text-decoration: none !important;
}

.ntm_SiteMapPath a,
.ntm_SiteMapPath a:visited {
	color: rgb(67,67,67);
}

	.ntm_SiteMapPath a:hover {
		color: rgb(9,88,147);
	}

.ms-rtestate-field .ms-tileview-tile-content a, .ms-rtestate-field .ms-tileview-tile-content a:link, .ms-rtestate-field .ms-tileview-tile-content a:hover {
	color: #FFFFFF;
}

.ms-webpart-titleText.ms-webpart-titleText {
	color: rgb(28,28,28);
}

.ms-webpart-titleText > a {
	color: rgb(9,88,147);
}

/*###########################################*/
/* weitere Inhaltselemente */

table.ms-listviewtable {
	width: 100%;
}

.ms-rteElement-Box1 {
	color: #4d4d4d;
	float: left;
	margin: 0px 32px 24px 0px;
	width: auto;
	min-width: 10%;
	max-width: 60%;
	padding: 10px;
	background-color: rgb(255,255,255);
}

.ms-rteElement-Box1a {
	color: #4d4d4d;
	float: left;
	margin: 0px 10px 10px 0px;
	width: auto;
	min-width: 10%;
	max-width: 60%;
	padding: 10px;
	background-color: rgb(255,255,255);
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.20);
	border: none;
}

.ms-rteElement-Callout2,
.ms-rteElement-Box2 {
	color: #4d4d4d;
	float: right;
	margin: 0px 0px 10px 10px;
	width: auto;
	min-width: 10%;
	max-width: 60%;
	padding: 10px;
	background-color: rgb(255,255,255);
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.20);
	border: none;
}

.ms-rteElement-Callout3,
.ms-rteElement-Box3 {
	color: #FFFFFF;
	float: left;
	margin: 0px 10px 10px 0px;
	width: auto;
	min-width: 10%;
	max-width: 60%;
	padding: 10px;
	background-color: rgb(9,88,147);
	border: none;
	font-style: normal;
}

.ms-rteElement-Callout4,
.ms-rteElement-Box4 {
	color: #FFFFFF;
	float: right;
	margin: 0px 0px 10px 10px;
	width: auto;
	min-width: 10%;
	max-width: 60%;
	padding: 10px;
	background-color: rgb(9,88,147);
	border: none;
}

.ntm_BildBox {
	color: #FFFFFF;
	margin: 10px 0px 10px 0px;
	display: inline-block;
	width: auto;
	padding: 0px;
	background-color: rgb(9,88,147);
	border: none;
}

	.ntm_BildBox.ntm_BildBoxFloat {
		float: right;
		margin: 0px 0px 10px 10px;
		min-width: 10%;
		max-width: 60%;
	}

	.ntm_BildBox > span {
		display: block;
		color: #FFFFFF;
		padding: 10px;
		background-color: rgb(9,88,147);
	}

	.ntm_BildBox > img {
		margin: 0px !important;
	}


.ms-rteElement-Box3 *,
.ms-rteElement-Callout3 *,
.ms-rteElement-Box3 a, .ms-rteElement-Box3 a:visited,
.ms-rteElement-Callout3 a, .ms-rteElement-Callout3 a:visited,
.ms-rteElement-Box3 h1, .ms-rteElement-Box3 h2, .ms-rteElement-Box3 h3, .ms-rteElement-Box3 h4,
.ms-rteElement-Callout3 h1, .ms-rteElement-Callout3 h2, .ms-rteElement-Callout3 h3, .ms-rteElement-Callout3 h4,
.ms-rteElement-Box4 *,
.ms-rteElement-Callout4 *,
.ms-rteElement-Box4 a, .ms-rteElement-Box4 a:visited,
.ms-rteElement-Callout4 a, .ms-rteElement-Callout4 a:visited,
.ms-rteElement-Box4 h1, .ms-rteElement-Box4 h2, .ms-rteElement-Box4 h3, .ms-rteElement-Box4 h4,
.ms-rteElement-Callout4 h1, .ms-rteElement-Callout4 h2, .ms-rteElement-Callout4 h3, .ms-rteElement-Callout4 h4 {
	color: #FFFFFF !important;
}

	.ms-rteElement-Callout3 a:hover,
	.ms-rteElement-Box3 a:hover,
	.ms-rteElement-Callout4 a:hover,
	.ms-rteElement-Box4 a:hover {
		color: #FFFFFF !important;
	}

.ntm_Team .ms-qcb-button {
	margin-top: -5px;
	padding: 0px 0px 5px 8px;
	font-size: 0.8em;
}

.ms-microfeed-postButtonSpan {
	position: relative;
}



figure, .figure {
	position: relative;
	margin: 0px 0px;
}

figcaption, figure {
	display: block;
}

.image {
	position: relative;
	max-width: 100%;
	display: block;
}

	.image img {
		display: inline-block;
		vertical-align: middle;
		max-width: 100% !important;
		height: auto;
		-ms-interpolation-mode: bicubic;
		margin: 0px 0px !important;
	}

.std-image-wide {
	max-width: 1190px;
	background-color: rgb(255,255,255);
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.20);
}

	.std-image-wide .figure figcaption {
		background-color: rgb(255,255,255);
		padding: 16px 44px;
	}

		.std-image-wide .figure figcaption p {
			margin-bottom: 0;
			font-weight: bold;
			color: #070707;
			line-height: 144.4%;
		}

.ntm_BildLupe {
	position: absolute;
	bottom: 8px;
	right: 5px;
	display: inline-block;
	width: 22px;
	height: 22px;
	background: transparent url(/_layouts/15/images/zap/svg/lupe.svg) no-repeat center center;
	background-size: cover;
}




/* Ansprechpartner */
.ntm_APBild {
	width: 111px;
	height: 111px;
	float: left;
	overflow: hidden;
	background: rgb(255,255,255) url("/_layouts/15/images/zap/svg/ansprechpartner.svg") no-repeat center center;
	margin-bottom: 8px;
}

.ms-rteElement-Box9 .ntm_APBild {
	width: 65px;
	height: 65px;
	background: rgb(255,255,255) url("/_layouts/15/images/zap/svg/ansprechpartner.svg") no-repeat center center;
	background-size: 65px 65px;
}

.ntm_MitarbeiterBox.ms-rteElement-Box9 .ntm_APBild {
	background: rgb(255,255,255) url("/_layouts/15/images/zap/svg/group.svg") no-repeat center center;
	background-size: 55px 55px;
}

.ntm_StandorteBox.ms-rteElement-Box9 .ntm_APBild {
	background: rgb(255,255,255) url("/_layouts/15/images/zap/svg/place.svg") no-repeat center center;
	background-size: 55px 55px;
}

.ntm_APBild img {
	width: 100% !important;
	height: auto !important;
	margin: 0px 0px !important;
}

.ntm_APContent {
	padding: 0px 0px 0px 126px;
}

.ms-rteElement-Box9 .ntm_APContent {
	padding: 0px 10px 0px 80px;
}

.ntm_APTitle {
	font-weight: bold;
	padding: 4px 0px 6px 0px;
}

.ms-rteElement-Box9 .ntm_APTitle {
	padding: 2px 0px 4px 0px;
}

.ntm_MyBoxTitle {
	padding: 30px 0px 4px 0px;
	font-size: 1.25em;
	font-weight: 600;
	background: transparent url("/_layouts/15/images/zap/svg/link_blank_l.svg") no-repeat right 24px;
}

.ntm_APText {
	padding: 0px 0px 4px 0px;
}

.ntm_APLink {
	padding: 8px 0px 8px 0px;
}

/***************************************/
/* Kontaktboxen */

.std-wide-content {
	background-color: rgb(247,247,247);
	margin: 30px 0px;
	padding: 20px 0px;
	max-width: 874px;
}

	.std-wide-content .contact-item-wrapper {
		background-color: rgb(247,247,247);
		padding: 20px 0px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

		.std-wide-content .contact-item-wrapper .contact-item {
			float: left;
			margin: 0 6% 40px 6%;
			width: 38%;
			max-width: 400px;
			text-align: center;
		}

.ntm_ContactItem.contact-item {
	float: right;
	margin: 10px 0 12px 1.3%;
	width: 32%;
	max-width: 400px;
	text-align: center;
	background-color: rgb(247,247,247);
}

	.ntm_ContactItem.contact-item.ntm_ContactLeft {
		float: left;
		margin: 10px 1.3% 40px 0px;
	}

	.ntm_ContactItem.contact-item.ntm_ContactQuer {
		margin: 10px 2% 12px 0;
		width: 31%;
		max-width: 540px;
	}

	.ntm_ContactItem.contact-item .inner-wrapper {
		padding: 20px 12px;
	}

.std-wide-content .contact-item-wrapper .contact-item .inner-wrapper .figure {
	margin-bottom: 6px;
}

	.std-wide-content .contact-item-wrapper .contact-item .inner-wrapper .figure .image,
	.ntm_ContactItem.contact-item .inner-wrapper .figure .image {
		display: inline-block;
	}

.ntm_ContactItem.contact-item.ntm_ContactQuer .inner-wrapper .figure .image {
	float: left;
	padding-right: 20px;
}

.ntm_ContactItem.contact-item.ntm_ContactQuer.ntm_ContactImageRight .inner-wrapper .figure .image {
	float: right;
	padding-right: 0px;
}

.std-wide-content .contact-item-wrapper .contact-item .inner-wrapper .figure .image img,
.ntm_ContactItem.contact-item .inner-wrapper .figure .image img {
	border-radius: 100%;
	display: block;
	margin: 0 auto;
}

.ntm_ContactItem.contact-item .inner-wrapper .figure .image img {
	max-width: 160px !important;
	margin: 0px 0px !important;
}

.ntm_ContactItem.contact-item.ntm_ContactQuer .inner-wrapper .figure .image img {
	max-width: 50px !important;
	margin: 0px 0px !important;
}

.std-wide-content .contact-item-wrapper .contact-item .inner-wrapper .figure .bg-image {
	width: 195px;
	height: 195px;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
}

.contact-item .inner-wrapper .address p,
.contact-item .inner-wrapper .address a {
	text-align: center;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 2px;
}

.contact-item.ntm_ContactQuer,
.contact-item.ntm_ContactQuer .inner-wrapper .address p,
.contact-item.ntm_ContactQuer .inner-wrapper .address a {
	text-align: left;
}

.std-wide-content .contact-item-wrapper .contact-item .inner-wrapper .address .job-title,
.ntm_ContactItem.contact-item .inner-wrapper .address .job-title {
	font-weight: normal;
	margin-bottom: 12px;
}

.ntm_ContactItem.contact-item.ntm_ContactQuer .inner-wrapper .address .job-title {
	margin-bottom: 4px;
}

.contact-item-wrapper h2 {
	flex: 1 1 100%;
	text-align: center;
}

	.contact-item-wrapper h2 + p {
		margin: 24px 19% 60px 19%;
		text-align: center;
	}

.contact-item .inner-wrapper .address a {
	display: block;
}

.ntm_ContactItem.contact-item a.icon.pict-link-mail {
	min-height: 44px;
}

.ntm_ContactItem.contact-item.ntm_ContactQuer a.icon.pict-link-mail {
	min-height: 24px;
}

.icon-no-link .pict-link-phone,
.icon-link .pict-link-mail {
	padding-right: 5px;
}

.icon-no-link i {
	font-weight: bold;
	padding-left: 3px;
}

span.icon-no-link.pict-link-phone > span,
a.icon.pict-link-mail .icon-link {
	padding-left: 3px;
}

.icon-no-link i:before,
.icon-link i:before,
span.icon-no-link.pict-link-phone:before,
a.icon.pict-link-mail:before {
	padding-right: 0;
	display: inline-block;
	position: relative;
	top: 5px;
	left: 0;
	width: 20px;
	height: 20px;
	content: '';
	background-position: center center;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: auto 18px;
}

.icon-no-link i.pict-link-phone:before,
span.icon-no-link.pict-link-phone:before {
	background-image: url("/_layouts/15/images/zap/svg/contact-phone.svg");
	background-size: auto 14px;
}

.icon-link i.pict-link-mail:before,
a.icon.pict-link-mail:before {
	width: 20px;
	height: 20px;
	top: 5px;
	background-image: url("/_layouts/15/images/zap/svg/contact-mail.svg");
	background-size: auto 14px;
}


/*###########################################*/
/* app tiles Kacheln */

.ms-vl-apptitleouter {
	width: 150px;
}

.ms-vl-disabledapp > .ms-vl-appimage {
	background-color: rgb(243,243,243);
}

.ms-vl-apptileselected {
	background-color: rgb(243,243,243);
}

.ms-vl-apptilehover:hover {
	background-color: rgb(243,243,243);
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.ms-newdoc-callout-item:hover {
	background-color: rgb(243,243,243);
}

.ms-storefront-appiconspan {
	background-color: rgb(9,88,147);
}

.ms-tileview-tile-content {
	background-color: rgb(9,88,147);
}

.ms-tileview-tile-detailsBox {
	color: #FFFFFF;
	background-color: rgba(55,54,50,0.8);
}

.ms-tileview-tile-selected, .ms-tileview-tile-selectionBox,
.ms-tileview-tile-selectionBox > *, .ms-tileview-tile-selectionBox:hover > * {
	background-color: rgb(0,0,0) !important;
}

.ms-rtestate-field li.ms-tileview-tile-titleMedium,
.ms-tileview-tile-titleMedium,
.ms-rtestate-field li.ms-tileview-tile-descriptionMedium,
.ms-tileview-tile-descriptionMedium {
	color: #FFFFFF;
	line-height: 1.3em !important;
}


a.o365cs-nav-appTile[style*="background-color: rgb(0, 114, 198"] {
	background-color: rgb(9,88,147) !important;
}



/*###########################################*/
/* Listen Blog Wiki */

.ewiki-margin, .edit-mode-border {
	padding: 0px 0px;
}

.ms-itmHoverEnabled:hover .ms-list-itemLink-td {
	background-color: rgba(247,247,247,0.3);
}

.ms-comm-rootBestBackground,
.ms-comm-adminLinks {
	background-color: rgba(247,247,247,0.3);
}

.ms-emphasis,
.ms-tileview-tile-selected, .ms-tileview-tile-selectionBox, .ms-tileview-tile-selectionBox > *,
.ms-tileview-tile-selectionBox:hover > *,
input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover,
input.ms-button-emphasize:hover, button.ms-button-emphasize:hover,
.ms-fb-selected,
.ms-featurestatus,
.ms-storMeUsed,
.ms-blog-postBoxDate {
	background-color: rgba(9,88,147,1);
	color: #FFFFFF;
}

.ms-blog-postBoxDate {
	border-color: rgba(9,88,147,1);
}
/* Standard SharePoint Listen/ Bibliotheken!!! */
th,
th:hover,
th.ms-vh:hover,
th.ms-vh2:hover,
th.ms-vh-icon:hover {
	background-color: rgba(247,247,247,.3);
	border-color: #626C73;
}

	th.ms-listedit-listinfo,
	#idItemHoverTable th {
		background-color: rgb(255,255,255);
	}

.ms-rteTable-2 tr.ms-rteTableOddRow-2,
.ms-rteTable-2 tr.ms-rteTableEvenRow-2 {
	border-top: 1px solid #dde0e1;
	border-bottom: 1px solid #dde0e1;
}

.s4-itm-selected > *, .s4-itm-selected:hover > *,
.s4-itm-selected .ms-list-itemLink-td, .s4-itm-selected:hover .ms-list-itemLink-td,
.ms-microfeed-replyBackground {
	background-color: rgba(247,247,247,.3);
}

.s4-itm-selected > .ms-vb-imgFirstCell.ms-vb-imgFirstCell {
	background-color: rgba(247,247,247,.6);
	border-right-color: rgba(247,247,247,.3);
}

.ms-blog-adminLinks,
.ms-srch-sbLarge {
	background-color: rgba(247,247,247,.3);
}

/* Formulare */
#onetIDListForm,
.ms-dialog .ms-core-form,
.ms-v4propertysheetspacing {
	background-color: rgb(247,247,247);
	border: 8px solid rgb(247,247,247);
	margin-left: -5px;
}

input[type=password]:hover, input[type=text]:hover, input[type=file]:hover, textarea:hover, .sp-peoplepicker-topLevel:hover, .ms-inputBox:hover,
.ms-microfeed-focusBoxNoFocus:hover, .ms-InlineSearch-Outline-Filled, .ms-InlineSearch-Outline-Focused,
.ms-microfeed-focusBoxInFocus {
	border-color: rgb(247,247,247);
}

textarea.ms-microfeed-rootOrReplyPostBox, textarea.ms-microfeed-rootOrReplyPostBox:hover {
	border-color: transparent;
}

/* Kalender */
tr td div.ms-acal-today {
	color: rgb(9,88,147);
	border-top-color: rgb(9,88,147);
}

.ms-tl-todayLabel {
	background-color: rgb(9,88,147) !important;
	padding-top: 3px;
}

.ms-tl-today,
.ms-quickLaunch table.ms-picker-table td.ms-picker-monthselected, table.ms-picker-table td.ms-picker-today,
.ms-acal-apanel-item,
.ms-acal-item,
.ms-acal-week-top td div,
.ms-acal-day-top div {
	border-color: rgb(9,88,147) !important;
}

.ms-acal-apanel-item {
	background-color: rgb(9,88,147);
}

.ms-acal-item {
	background-color: rgb(9,88,147);
}

input.ms-button-emphasize, button.ms-button-emphasize {
	border-color: rgb(222,222,222);
	background-color: rgb(222,222,222);
	color: #444444;
}

.ms-selected, .ms-pivotControl-surfacedOpt-selected, .ms-core-listMenu-selected, .ms-hero-command-enabled-alt {
	font-weight: 300;
	font-family: "Open Sans", Tahoma, Geneva, sans-serif;
}

/* Button Suche */
#NTM_BtnSearch {
	float: right;
	background: url("/_layouts/15/images/zap/svg/btnSearch.svg") no-repeat right center;
	cursor: pointer;
	width: 119px;
	margin-right: 2px;
	height: 40px;
}

	#NTM_BtnSearch:hover,
	#NTM_BtnSearch.ntm_BtnSearchActive {
		background: url("/_layouts/15/images/zap/svg/btnSearch-h.svg") no-repeat right center;
	}

@media only screen and (max-width:1208px) {
}

@media only screen and (max-width:1120px) {
}
/* Tablet Version Querformat */
@media only screen and (max-width:1024px) {
	.ntm_Desktop,
	#NTM_BtnSearch {
		display: none;
	}

	.ntm_Mobile {
		display: block;
	}

	#s4-bodyContainer {
		display: block;
		background-image: none;
	}

	#s4-titlerow,
	.ms-breadcrumb-box {
		min-height: 0px;
		height: auto;
	}

	#s4-titlerow {
		padding: 0px 0px;
	}

	#titleAreaBox {
		margin: auto 0px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		overflow: hidden;
		display: block;
	}

	#titleAreaRow {
	}

	.ntm_showFirstScreen {
		display: none;
	}

	#siteIcon {
		margin: 0px 1% 0px 0px;
		/*float			: none;*/
	}
	/*	#siteIcon,
	#siteIcon .ms-siteicon-a,
	#searchIcon .ms-siteicon-a,
	#siteIcon .ms-siteicon-a img,
	h1.ms-core-pageTitle {
		display			: none;
	}
	#NTM_IntranetTitle {
		display			: inline-block;
		height			: 30px;
		padding			: 14px 0px 14px 20px;
		width			: auto;
		position		: relative;
		top				: 0px;
		left			: 0px;
		font-size		: 1.6em;
	}
	#NTM_IntranetTitle a,
	#NTM_IntranetTitle a:visited {
		color			: #FFFFFF;
	}
*/
	#NTM_SearchCont {
		display: none;
		position: absolute;
		right: 0px;
		top: 60px;
		padding: 5px 2% 10px 2%;
		width: 96%;
	}

		#NTM_SearchCont #searchInputBox {
			margin: -2px 0px -6px 0px;
		}

	.ntm_HSearchBox {
		width: 100%;
		position: relative;
		top: 0px;
		right: 0px;
	}

		.ntm_HSearchBox .ms-floatRight {
			/*		float			: none;
		margin-left		: auto;
		margin-right	: auto;*/
		}

	#NTM_SearchCont .ms-srch-sb > .ms-srch-sb-searchLink {
		margin-left: 0px;
	}
}
/* Tablet Version Hochformat */
@media only screen and (max-width:768px) {
	#NTM_BtnSearch {
		display: none;
	}

	.ms-breadcrumb-box {
		clear: left;
	}

	#NTM_SuiteBar {
		height: auto;
	}

	.ntm_SuiteBarBottom {
		height: auto;
		position: relative;
		left: 0px;
		width: 100%;
	}

	.ntm_nteamLogoHold {
		left: 70px;
	}

	#sideNavBox {
		display: none;
		background-color: rgb(85,85,85);
		width: auto;
		padding: 0px 0px 45px 0px;
		margin: -10px 0px 0px 0px;
		float: none;
		font-size: 1.2em;
		line-height: 1.6em;
	}

		#sideNavBox .ms-core-navigation {
			background-color: rgb(255,255,255);
			padding: 10px 0px 5px 0px;
		}

		#sideNavBox #NTM_SubSiteTitle {
			display: none;
		}

	#DeltaPlaceHolderMain {
		padding-right: 0px;
	}

	#contentRow {
		margin-top: 30px;
	}

	#contentBox {
		min-width: 200px;
		width: 96%;
		margin-left: auto;
		margin-right: auto;
	}

	.ntm_Table, .ntm_MasterMainHold,
	.ntm_Table > div.ntm_TableRow {
		display: block;
	}

		.ntm_Table > div,
		.ntm_TableCell {
			display: block;
			width: 100%;
		}

	.ntm_TableCell2 > div,
	.ntm_TableCell3 > div {
		padding-left: 0px;
	}

	.ntm_TableCell.ntm_TableCell1 > div {
		margin-top: 4px;
	}

	.ntm_TableCell.ntm_TableCell2 > div, .ntm_TableCell.ntm_TableCell3 > div {
		padding: 2px 0px;
		border-top: 0px solid rgb(205,205,205);
	}

	.ntm_Table > div.ntm_PL_ZweiDrittelL > div,
	.ntm_Table > div.ntm_PL_1_2 > div,
	.ntm_Table > div.ntm_PL_2_3 > div,
	.ntm_Table > div.ntm_PL_1_3 > div,
	.ntm_Table > div.ntm_PL_1_3R > div,
	.ntm_Table > div.ntm_PL_2_2 > div,
	.ntm_Table > div.ntm_PL_2_3 > div,
	.ntm_Table > div.ntm_PL_3_3 > div {
		padding-right: 10px;
		padding-left: 10px;
	}

	.ntm_Table > div > div {
		padding-right: 0px;
		padding-left: 0px;
	}

	.ntm_MasterLeftSide, .ntm_MasterRightSide {
		display: block;
		width: 98%;
		padding: 0px 0px;
		margin-left: auto;
		margin-right: auto;
	}

	.ntm_MasterRightSide {
		padding: 20px 0px;
	}

	.ntm_FooterCont .ntm_FooterWPZ > div.ntm_Footerbox1 > div,
	.ntm_FooterCont .ntm_FooterWPZ > div.ntm_Footerbox2 > div {
		padding: 40px 5% 30px 5%;
	}

	.ntm_FooterCont .ntm_FooterCopy > div > div {
		padding: 40px 5% 20px 5%;
	}

	.ntm_News.ntm_News,
	.ntm_TopNews.ntm_News {
		padding: 12px 0px;
	}

	.ms-rteElement-Callout1,
	.ms-rteElement-Box1,
	.ms-rteElement-Callout2,
	.ms-rteElement-Box2,
	.ms-rteElement-Callout3,
	.ms-rteElement-Box3,
	.ms-rteElement-Callout4,
	.ms-rteElement-Box4 {
		width: 96%;
		margin: 10px 0px;
		float: none;
	}

	.ms-rteElement-Box5,
	.ms-rteElement-Box6,
	.ms-rteElement-Box7,
	.ms-rteElement-Box8,
	.ms-rteElement-Box9,
	.ms-rteElement-Box10,
	.ntm_MitarbeiterBox.ms-rteElement-Box9,
	.ntm_StandorteBox.ms-rteElement-Box9 {
		width: 96%;
		margin: 10px 0px;
		float: none;
	}

	.ms-rteElement-Box9 {
		padding: 0px 0px;
	}

	.ntm_Footerbox {
		display: block;
		width: 100%;
		float: none;
		padding-bottom: 12px;
	}

	.ntm_NewsBox, .ntm_NewsBoxBild {
		display: block;
		width: 100%;
		margin: 0 0% 20px 0;
		float: none;
		height: auto;
	}

		.ntm_NewsBox .ntm_NewsWeiter, .ntm_NewsBoxBild .ntm_NewsWeiter {
			position: relative;
			bottom: 0px;
		}

	.ntm_SiteBreadcrumb {
		padding-left: 0px;
	}

	.ntm_deltaMainLinks {
		display: none;
	}

	.ntm_PL_Main img {
		max-width: 440px;
	}
	/* Wikiseiten */
	#layoutsTable > tbody > tr > td,
	table.ms-blog-MainArea > tbody > tr > td {
		display: block;
		width: 100% !important;
	}

	.ms-wiki-columnSpacing, .edit-mode-border {
		padding-left: 0px;
	}

	.ms-blog-postList {
		margin-right: 0px;
	}

	.ms-trcnoti-bg, .ms-trcnoti-bg:hover, .ms-trcnoti-border {
		border-width: 0px;
		border-style: none;
		background-color: transparent;
		box-shadow: none;
		padding: 0px;
	}

	table#appsTable, table#appsTable > tbody > tr > td {
		display: block;
		width: 100%;
	}

	.ntm_Trennbalken {
		display: none;
	}
}


/* Smartphone */
@media only screen and (max-width:375px) {
	/*@media only screen and (max-width:520px) {*/
	.ntm_HSearchBox {
		width: auto;
		position: relative;
		display: block;
		float: none;
		padding-bottom: 10px;
	}

		.ntm_HSearchBox .ms-mpSearchBox {
			width: auto;
			overflow: hidden;
			padding-top: 0px;
		}

		.ntm_HSearchBox #DeltaPlaceHolderSearchArea,
		.ntm_HSearchBox #searchInputBox {
			float: none;
		}

		.ntm_HSearchBox .ms-mpSearchBox {
			width: auto;
		}

		.ntm_HSearchBox #searchInputBox,
		.ntm_HSearchBox #searchInputBoxPersonen {
			display: block;
			padding-bottom: 10px;
		}

		.ntm_HSearchBox .ms-srch-sb > input {
			width: 213px;
		}

		.ntm_HSearchBox .ms-srch-sbLarge > input {
			width: 210px;
		}
}
/* Smartphones (Portrait) */
@media only screen and (max-width:391px) {
	.image-area-left {
		float: none !important;
		display: block !important;
	}

	.ntm_PL_Main img {
		max-width: 300px;
	}
}





@media print {
	#suiteBar, #suiteBarLeft, #s4-ribbonrow, #s4-titlerow, #titleAreaBox, .ntm_HSearchBox,
	#NTM_MainNavCont, .ntm_MainNavigation, .ntm_SecondMainNavigation, .ntm_SiteBreadcrumb,
	.ntm_FooterCont, #sideNavBox, .ntm_PageFunctions {
		display: none !important;
		height: 0px !important;
	}

	.ntm_SiteBreadcrumb {
		padding-left: 0px;
	}

	#contentRow {
		margin-top: 0px;
	}

	#contentBox {
		margin-left: 0px !important;
		padding: 0px 0px !important;
	}

	#s4-bodyContainer {
		padding-bottom: 0px;
		background: none;
	}

	div.ms-rteElement-Ausblenden,
	div.ntm_AkkordeonText {
		display: block !important;
	}

	body.ntm_Intranet, body.ntm_Team, .ntm_PL_Main,
	.ntm_Intranet .ntm_Wrapper.ntm_BodyCont, .ntm_Team .ntm_Wrapper.ntm_BodyCont,
	.rg-gallery, .ntm_Termin {
		background-color: transparent !important;
		background-image: none !important;
	}

	#DeltaPlaceHolderMain {
		padding-right: 0px;
	}

	.flexslider {
		page-break-inside: avoid;
	}
}
