﻿@import url(navigation.css);
/**************************************************************************************
* Stylesheets für MySites
* Erstellt: 	  	21.10.2019
*
*/

/*###########################################*/
/* Allgemein */

body, .ms-core-defaultFont, #pageStatusBar, .ms-status-msg, .js-callout-body {
	font-family		: "Open Sans", Tahoma, Geneva, sans-serif;
	font-size		: 15px;
	color			: rgb(28,28,27);
}
body.ms-backgroundImage {
	background-color: rgb(242,242,242);
}
body.ntm_MySitePublic {}
.ms-dialog body.ms-backgroundImage,
.ms-dialog body.ntm_Intranet {
	background-color: rgb(255,255,255);
}
/* Fix horizontaler Scrollbalken*/
body #s4-workspace #s4-bodyContainer {
    width       : 99% !important;
	/*display		: table;*/
}
#s4-ribbonrow {
	background-color: rgb(237,237,237);
}
.ntm_Desktop {}
.ntm_Mobile,
.ntm_Hide {
	display			: none;
}
.ms-core-form-heading {
	color			: rgb(0,73,148);
}
.ms-core-form-heading.ms-disabled,
.ms-toolbar.ms-disabled {
	color			: rgb(177,177,177);
}
.ms-core-overlay {
	background-color: transparent;
}
#contentBox {
	min-width		: 703px;
	min-height		: 500px;
	margin-left		: 270px;
	margin-right	: 0px;
	background-color: transparent;
	padding			: 0px 0px;
}
#sideNavBox {
	min-height		: 100px !important;
}
#sideNavBox.ms-mysite-sideNavBoxO365 {
	background		: rgb(255,255,255);
}
.ntm_MySitePublic #sideNavBox {
	width			: 180px;
	margin			: 0px 0px 0px 0px;
}
.ntm_MySitePrivate #sideNavBox {
	width			: 180px;
	margin			: 0px 0px 0px 0px;
}
.ms-core-sideNavBox-removeLeftMargin {
	margin-left		: -8px;
	margin-right	: 20px;
}
.ms-mysite-searchboxLeftNav .ms-srch-sb>input {
	width			: 120px;
}
a.o365cs-nav-appTile[style*="background-color: rgb(0, 114, 198"] {
	background-color: rgb(85,85,85) !important;
	outline-color	: rgb(85,85,85) !important;
}
#contentBox #SearchBox {
	width			: auto;
}

.ms-itmHoverEnabled:hover > * {
	background-color: rgba(237,237,237,0.6);
}
.ms-mpSearchBox {
	margin		: 18px 40px 0px 0px;
}
.ms-core-pageTitle {
	font-size		: 1.7em;
	padding			: 12px 0px 0px 2px;
}

.ntm_MySitePublic #NTM_HeaderBG {
	background		: none;
}
.ntm_MySitePublic.ms-fullscreenmode #NTM_HeaderBG {
	display			: none;
	background		: none;
}
.ntm_MySitePublic #NTM_HeaderBG div {}
#siteIcon {
    background: transparent url("/_layouts/15/images/zap/Logo_AfD.svg") no-repeat left top;
    background-size: 160px auto;
	float: none !important;
}

#searchIcon {
	display			: none !important;
}
#s4-titlerow.ms-mysite-titlerow, .ms-mysite-breadcrumb-box {
	height: 86px;
}
.ntm_MySitePublic .ms-breadcrumb-box,
.ntm_MySitePrivate .ms-breadcrumb-box,
.ms-mysite-breadcrumb-box {
    height: 40px;
    padding-top: 12px;
}
.ntm_MySitePrivate #contentRow {
    margin-top: 0px;
    position: unset;
}
.ntm_MySitePrivate #mysitedocumentbranding {
	display: none;
}
.ntm_MySitePrivate h1.ms-core-pageTitle {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 50px;
}
.ntm_MySitePublic h1.ms-core-pageTitle {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 50px;
}

table#MSO_ContentTable {
	background-color: #fff;
	border: 20px solid #fff;
	margin-left: -20px;
	-webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
}

/* Tablet Version Querformat */
@media only screen and (max-width:1024px) {
}
/* Tablet Version Hochformat */
@media only screen and (max-width:768px) {
}


.ms-contactCard, .ms-mysite-profileHeader-content {
	background-color: transparent;
}

/*###########################################*/
/* Navigation */
#NTM_MainNavCont {
    margin: 0px -14px 0px 0px;
    padding-right: 100px;
    position: relative;
}


/*###########################################*/
/* Texte Formatvorlagen */

p, input[type=button], input[type=reset], input[type=submit], button,
select.ms-advsrchPropertyDDL, select.ms-advsrchOperatorDDL, select.ms-advsrchAndOrDDL,
.medium {
	font-size		: 1em;
}
.ms-promotedActionButton-text {
	font-size		: .8em;
}
.o365cs-me-tile-nophoto-username {
	font-size		: 16px;
}
.ms-webpart-titleText {
	font-size		: 1.1em;
}
.ntm_Uppercase {
	text-transform	: uppercase;
}
input[type=button], input[type=reset], input[type=submit], button,
select.ms-advsrchPropertyDDL, select.ms-advsrchOperatorDDL, .ms-advsrchText-v2box, select.ms-advsrchAndOrDDL,
.ms-core-navigation, .ms-textLarge, .ms-textSmall, .ms-metadata, .ms-descriptiontext, .ms-secondaryCommandLink,
.o365cs-nav-contextMenu .o365cs-contextMenuItem, .o365cs-nav-contextMenu .o365cs-contextMenuInactiveItem,
.ms-textXLarge {
	font-family		: "Open Sans", Tahoma, Geneva, sans-serif;
}

#mysite-titlerow {
	display			: block !important;
}
.ms-srch-sb-border {
	background-color	: rgb(255,255,255);
}
#MiddleLRightCell #searchInputBox {
	display			: none;
}
.ms-srch-sb > .ms-srch-sb-searchLink {
    margin: 4px 4px;
    height: 20px;
    width: 20px;
    background: url("/_layouts/15/images/zap/svg/lupe.svg") no-repeat center center;
    background-size: cover;
}
.ms-srch-sb > input, .ms-srch-sb > input:focus {
    margin: 0px 0px 0px 4px;
    padding: 2px 6px 2px 6px;
    background-color: transparent;
    font-size: 1em;
    height: 26px;
}

/* Tablet Version Hochformat */
@media only screen and (max-width:768px) {
	#contentBox {
		min-width	: 200px;
		width		: 96%;
		margin-left	: auto;
		margin-right: auto;
	}
	.ntm_MySitePublic h1.ms-core-pageTitle {
		margin: 0px 0px 0px 0px;
	}
	#mysite-titlerow {
		margin-left: 0px;
	}
	#MSO_ContentTable,
	#MSO_ContentTable tr,
	#MSO_ContentTable td {
		display: block;
		width: 100%;
	}
}