﻿/***************************************
* Stylesheets für Masterpage
* Erstellt: 	  	08.01.2019
*
*/

/*###########################################*/
/* horizontale Hauptnavigation */

#NTM_MainNavCont {
	/*SOFTWAREONE REQ 2.2
	margin			: 0px -4px 0px 0px; */
	margin: 0px 0px 0px 0px;
	padding-left : 50px;
	min-height: 35px;
	display: inline-block;
	float: right;
	width: auto;
	z-index: 10;
	background: transparent url('/_layouts/15/images/zap/bgnav.svg') no-repeat left bottom;
	background-size: cover;
}
#NTM_MobileNavCont {
	display			: none;
	cursor			: pointer;
}
#DeltaTopNavigation {
	float			: right;
}
.ntm_SearchNavItemHold {
	float			: right;
	padding-right	: 25px;
}
#NTM_SearchNavItem {
	position		: relative;
	top				: 60px;
	cursor			: pointer;
}
#NTM_SearchNavItem a,
#NTM_SearchNavItem a:link,
#NTM_SearchNavItem a:visited {
	display			: inline-block;
	padding			: 2px 2px 2px 2px;
	margin			: 0px 20px 0px 26px;
	border			: 1px solid rgb(255,255,255);
	border-width	: 0px 0px 14px 0px;
	font-size		: 1.4em;
	font-weight		: 400;
	color			: #2a2926;
}
#NTM_SearchNavItem a span {
	display			: inline-block;
	width			: 20px;
	height			: 20px;
	margin-left		: 8px;
	background		: transparent url("/_layouts/15/images/zap/svg/lupe.svg") no-repeat right center;
	background-size	: cover;
}
#NTM_MainNavCont .ms-core-listMenu-horizontalBox {}
.ms-navedit-hiddenLink.ms-core-listMenu-item,
.ms-navedit-hiddenLink.ms-core-listMenu-item:link,
.ms-navedit-hiddenLink.ms-core-listMenu-item:visited {
	color			: #788187;
	font-style		: normal;
}
.ms-core-header .ms-navedit-hiddenLink.ms-core-listMenu-item,
.ms-core-header .ms-navedit-hiddenLink.ms-core-listMenu-item:link,
.ms-core-header .ms-navedit-hiddenLink.ms-core-listMenu-item:visited {
	color			: #788187;
}
.ms-core-listMenu-item,
.ms-core-listMenu-item:link,
.ms-core-listMenu-item:visited,
.ms-tv-item:link,
.ms-tv-item:visited,
.ms-tv-header:link,
.ms-tv-header:visited {
	color			: #FFFFFF;
	font-weight		: normal;
}
a.ms-core-listMenu-heading {
	border-bottom	: 1px solid rgb(195,195,195);
}
.ms-core-header .ms-core-listMenu-item,
.ms-core-header .ms-core-listMenu-item:link,
.ms-core-header .ms-core-listMenu-item:visited,
.ms-core-header .ms-tv-item:link,
.ms-core-header .ms-tv-item:visited,
.ms-core-header .ms-tv-header:link,
.ms-core-header .ms-tv-header:visited {
	color			: #FFFFFF;
}
.ms-core-listMenu-disabled,
.ms-core-listMenu-disabled:link,
.ms-core-listMenu-disabled:visited,
.ms-core-listMenu-disabled:hover,
.ms-core-listMenu-disabled:active {
	color			: #788187;
}
.ms-core-header .ms-core-listMenu-disabled,
.ms-core-header .ms-core-listMenu-disabled:link,
.ms-core-header .ms-core-listMenu-disabled:visited,
.ms-core-header .ms-core-listMenu-disabled:hover,
.ms-core-header .ms-core-listMenu-disabled:active {
	color			: #788187;
}
.ms-core-listMenu-ghost,
.ms-core-listMenu-ghost:link,
.ms-core-listMenu-ghost:visited,
.ms-core-listMenu-ghost:hover,
.ms-core-listMenu-ghost:active {
	color			: #788187;
	opacity			: 0.8;
}
.ms-core-header .ms-core-listMenu-ghost,
.ms-core-header .ms-core-listMenu-ghost:link,
.ms-core-header .ms-core-listMenu-ghost:visited,
.ms-core-header .ms-core-listMenu-ghost:hover,
.ms-core-header .ms-core-listMenu-ghost:active {
	color			: #788187;
}
.ms-core-needIEFilter .ms-core-listMenu-ghost,
.ms-core-needIEFilter .ms-core-listMenu-ghost:link,
.ms-core-needIEFilter .ms-core-listMenu-ghost:visited,
.ms-core-needIEFilter .ms-core-listMenu-ghost:hover,
.ms-core-needIEFilter .ms-core-listMenu-ghost:active {
	background-color: transparent;
	filter:alpha(opacity=80);-ms-filter:"alpha(opacity=80)";
}
.ms-core-listMenuEdit {
	border			: 1px solid transparent;
}
.ms-core-listMenuEdit:hover {
 	border			: 1px solid #DBCFD0;
}
.ms-navedit-editLinksText > span > .ms-metadata,
.ms-core-listMenuEdit > tr > .ms-navedit-linkCell > .ms-core-listMenu-item {
	color			: #535362;
}
.ms-navedit-editLinksText:hover > span > .ms-metadata,
.ms-core-listMenuEdit:hover > tr > .ms-navedit-linkCell > .ms-core-listMenu-item {
	color			: #7E1424;
}
.ms-navedit-editLinksText:active > span > .ms-metadata,
.ms-core-listMenuEdit:active > tr > .ms-navedit-linkCell > .ms-core-listMenu-item {
	color			: #7E1424;
}
.ms-core-header .ms-core-listMenuEdit > tr > td > .ms-core-listMenu-item:hover,
.ms-core-header .ms-core-listMenuEdit > tr > td > .ms-core-listMenu-item:active {
	color			: #7E1424;
}
.ms-core-listMenuEdit > tr > td > .ms-core-listMenu-item:active {
	background-color: transparent;
}
.ms-navedit-titleBoxContainer,
.ms-navedit-titleBoxContainer .ms-core-listMenu-selected,
.ms-navedit-titleBoxContainer:hover,
.ms-navedit-titleBoxContainer .ms-core-listMenu-selected:hover {
	background-color: rgba(195,195,195,.3);
 	border			: 0px solid #f8ec00;
	color			: #535362;
}
.ms-core-header .ms-navedit-titleBoxContainer,
.ms-core-header .ms-navedit-titleBoxContainer .ms-core-listMenu-selected,
.ms-core-header .ms-navedit-titleBoxContainer:hover {
	background-color: rgba(195,195,195,.3);
 	border-color	: rgba(195,195,195,.3);
	color			: #000000;
}
.ms-navedit-dropsurface {}
.ms-core-needIEFilter .ms-navedit-dropsurface {
	filter:alpha(opacity=1);-ms-filter:"alpha(opacity=1)";
}
.ms-navedit-editLinksText {
	text-transform	: none;
}
.ms-verticalAlignTop.ms-listMenu-editLink {
	vertical-align	: text-top;
}
.ms-tv-header {
	border			: 1px solid transparent;
}
.ms-navedit-ghosted {
	opacity			: 0.3;
}
.ms-core-needIEFilter .ms-navedit-ghosted {
	filter:alpha(opacity=30);-ms-filter:"alpha(opacity=30)";
}

/***************************************/
/* horizontale Hauptnavigation */

.ntm_MainNavigation {
	margin			: 0px 0px 0px 0px;
	padding			: 0px 0px 0px 0px;
    display			: block;
    background-color: rgb(255,255,255);
}
.ntm_Intranet .ntm_MainNavigation {}

.ms-core-listMenu-horizontalBox ul {
	padding-left	: 0px;
	margin			: 0px 0px -8px 0px;
}
.ms-core-listMenu-horizontalBox ul ul {}
.ms-core-listMenu-horizontalBox li {
/*	float			: none !important;*/
}
.ms-core-listMenu-item,
.ms-core-listMenu-item:link,
.ms-core-listMenu-item:visited,
.ms-tv-item:link,
.ms-tv-item:visited,
.ms-tv-header:link,
.ms-tv-header:visited {
	color			: rgb(44,44,44);
	font-weight		: normal;
}
/* Fly Out Arrow Icon */
.ms-core-listMenu-horizontalBox .additional-background.dynamic-children,
.ms-core-listMenu-horizontalBox .dynamic .additional-background.dynamic-children {
	background-image: none;
	padding-right	: 0px;
}
.ms-core-listMenu-horizontalBox .dynamic a.dynamic-children {}
.ms-core-listMenu-horizontalBox ul.root,
.ms-core-listMenu-horizontalBox ul.static {
	padding-left	: 0px;
/*	white-space		: nowrap;*/
}
.ms-core-listMenu-horizontalBox,
.ms-core-header .ms-core-listMenu-horizontalBox {
	color			: rgb(0,158,224);
}
.ms-core-listMenu-horizontalBox li.static {
	float			: left;
	margin			: 4px 0px 6px 0px;
}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	margin			: 0px 16px 0px 16px;
	padding			: 2px 4px 2px 4px;
	border-width	: 0px 0px 0px 0px;
	font-size		: 1.1em;
	font-weight		: 400;
	color			: rgb(44,44,44);
	background-color: transparent;
}
.ms-core-listMenu-horizontalBox li.static:nth-child(1) > .ms-core-listMenu-item {}
/* Root Nav Punkt
.ms-core-listMenu-horizontalBox > .ms-core-listMenu-root > li.static  > .ms-core-listMenu-item {
	position		: relative;
	top				: -17px;
} */
/* Root Nav Punkt ausblenden */
.ms-core-listMenu-horizontalBox > .ms-core-listMenu-root > li.static  > .ms-core-listMenu-item {
	display			: none;
}
.ms-core-listMenu-horizontalBox li.static > span .ms-core-listMenuEdit .ms-navedit-linkCell,
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenuEdit .ms-navedit-linkCell {
	padding-left	: 18px;
	padding-right	: 15px;
}
.ms-core-listMenu-horizontalBox ul.root > li.static:first-child > span .ms-core-listMenuEdit .ms-navedit-linkCell,
.ms-core-listMenu-horizontalBox ul.root > li.static:first-child > .ms-core-listMenuEdit .ms-navedit-linkCell {
	padding-left	: 0px;
}
.ms-core-listMenu-horizontalBox li.static.selected,
.ms-tv-selected:link {
	color			: rgb(255,127,36);
	background-color: transparent;
	background		: transparent;
}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item:hover,
.ms-core-listMenu-horizontalBox li.static.selected > .ms-core-listMenu-item:hover,
a.ms-tv-item:hover,
a.ms-tv-header:hover,
#NTM_SearchNavItem a:hover {
	color			: rgb(255,127,36);
	-moz-transition	: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition	: all .3s ease-in;
	transition		: all .3s ease-in;
}
.ms-core-listMenu-horizontalBox li.static.selected > .ms-core-listMenu-item {
	color			: rgb(255,127,36);
	-moz-transition	: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition	: all .3s ease-in;
	transition		: all .3s ease-in;
}
.ms-core-header .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link,
.ms-core-header .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited,
.ms-core-header .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected,
.ms-core-header .ms-tv-selected:link,
.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item.ms-core-listMenu-selected:hover {
	color			: rgb(255,127,36);
}
.ms-core-listMenu-horizontalBox div.ms-navedit-hiddenAppendArea {
 	border-right	: 0px solid #DBDBDB;
}

/***************************************/
/* horizontale Hauptnavigation GlobalNav */

span.GlobalNavContainer > ul {
	margin-top		: 6px;
}
.GlobalNav {
	margin			: 0;
	padding			: 0;
	list-style		: none;
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	font-size		: 1.1em;
	font-weight		: 400;
	color			: rgb(44,44,44);
	background-color: transparent;
}
.GlobalNav .GlobalNav {
	font-size		: 1em;
/*	min-width		: 240px;*/
}
.GlobalNav .GlobalNav .GlobalNav {
	font-size		: 1em;
	max-height: 400px;
	overflow-y: auto;
}

.GlobalNav li {
	float			: left;
	padding			: 0px;
	margin			: 4px 0px 6px 0px;
}
.GlobalNav li a {
	display			: block;
	margin			: 0px 16px 0px 16px;
	padding			: 2px 4px 2px 4px;
	border-width	: 0px 0px 0px 0px;
	color			: rgb(44,44,44);
}
@media only screen and (min-width:1024px) {
	.GlobalNav li.ntm_IcoBlauerPlan a {
		color			: transparent;
		font-size		: 0px;
		width			: 18px;
		height			: 18px;
		background		: url("/_layouts/15/images/zap/svg/icon-Blauer-Plan.svg") no-repeat center center;
		background-size	: contain;
	}
	.GlobalNav li.ntm_IcoBlauerPlan a:hover {
		background		: url("/_layouts/15/images/zap/svg/icon-Blauer-Plan-h.svg") no-repeat center center;
		background-size	: contain;
	}
	.GlobalNav li.ntm_IcoMyPage > a {
		color			: transparent;
		font-size		: 0px;
		width			: 18px;
		height			: 18px;
		background		: url("/_layouts/15/images/zap/svg/user_black.svg") no-repeat center center;
		background-size	: contain;
	}
	.GlobalNav li.ntm_IcoMyPage > a:hover {
		background		: url("/_layouts/15/images/zap/svg/user_orange.svg") no-repeat center center;
		background-size	: contain;
	}

	li.ntm_IcoMyPage ul#NTM_GlobalNav {
		width: 130px;
	}

}
.GlobalNav li li a {
	padding: 12px 0px 12px 0px;
	margin: 0px 20px;
	/*border-bottom: 1px solid rgb(0,158,224);*/
	/*SOFTWAREONE REQ2.3*/
	border-bottom: 1px solid rgb(236,236,236);
	color: rgb(44,44,44);
}
.GlobalNav li li li a {
	/*border-bottom: 1px solid rgb(0,158,224);*/
	/*SOFTWAREONE REQ2.3*/
	border-bottom: 1px solid rgb(236,236,236);
}
ul.GlobalNav ul li:last-child a {
	border-bottom-width: 0px;
}
ul.GlobalNav ul li:last-child ul a {
	border-bottom-width: 1px;
}
.GlobalNav ul {
	display			: none;
	background		: #FFFFFF;
	box-shadow		: 2px 2px 6px 0px rgba(0,0,0,0.34);
	z-index			: 10000;
}
.GlobalNav ul li {
	position		: relative;
	display			: block;
	width			: 100%;
}
.GlobalNav li a:hover,
.GlobalNav .active {
	color			: rgb(255,127,36);
	-moz-transition	: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition	: all .3s ease-in;
	transition		: all .3s ease-in;
}
.GlobalNav li li a:hover,
.GlobalNav li li.active {
}
.GlobalNav li:hover > a,
.GlobalNav .active {
	color			: rgb(255,127,36);
}
.GlobalNav > ul {
	display			: block;
}
.GlobalNav > ul li {
	display			: block;
	float			: left;
}
.GlobalNav > li:hover > ul {
	position		: absolute;
	width			: 240px;
}
.GlobalNav > li ul li:hover > ul {
	position		: absolute;
	width			: 240px;
	right			: -200px;
	top				: 0;
}
.GlobalNav a.dynamic-children {
	background		: url("/_layouts/15/images/zap/svg/next.svg") no-repeat right 14px;
	background-size	: 14px auto;
}
.GlobalNav a.dynamic-children:hover {
	background		: url("/_layouts/15/images/zap/svg/next-hover.svg") no-repeat right 14px;
	background-size	: 14px auto;
}



/***************************************/
/* dynamische Flyout Navigation */

ul.dynamic {
	background-color: rgb(255,255,255);
	font-size: 1.1em;
	border: 0px solid rgb(0,147,211);
	padding : 0px 0px 0px 0px;
	margin-top: 0px;
	margin-left: 0px;
	box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.34);
	min-width: 230px;
}
ul.dynamic ul.dynamic {
	font-size		: 1em;
	margin-left		: -15px;
	min-width		: 160px;
}
ul.dynamic .ms-core-listMenuEdit .ms-core-listMenu-item,
.ms-core-listMenu-verticalBox .ms-core-listMenuEdit .ms-core-listMenu-item {
	padding			: 8px 5px 8px 5px;
}
.dynamic .ms-core-listMenu-item,
.dynamic .ms-core-listMenu-item:link,
.dynamic .ms-core-listMenu-item:visited {
	color			: rgb(44,44,44);
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	font-weight		: 400;
	padding			: 12px 0px 12px 0px;
	margin			: 0px 20px;
	border-bottom	: 1px solid rgb(0,158,224);
}
ul.dynamic li:last-child .ms-core-listMenu-item {
	border-bottom-width: 0px;
}
.ms-core-listMenu-horizontalBox .dynamic a.ms-core-listMenu-item:hover,
.ms-core-listMenu-horizontalBox .dynamic a.ms-core-listMenu-item.ms-core-listMenu-selected:hover {
	color			: rgb(255,127,36);
	background-color: rgb(255,255,255);
	background		: rgb(255,255,255);
	-moz-transition	: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition	: all .3s ease-in;
	transition		: all .3s ease-in;
}
.ms-core-listMenu-horizontalBox .dynamic a.dynamic-children {
	background		: url("/_layouts/15/images/zap/svg/next.svg") no-repeat right 14px;
	background-size	: 14px auto;
}
.ms-core-listMenu-horizontalBox .dynamic a.dynamic-children:hover {
	background		: url("/_layouts/15/images/zap/svg/next-hover.svg") no-repeat right 14px;
	background-size	: 14px auto;
}


/***************************************/
/* vertikale Unternavigation */

#sideNavBox {
	margin-left		: 0px;
    background-color: rgb(255,255,255);
    width			: 240px;
	padding			: 30px 0px;
	line-height		: 1.34em;
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	font-weight		: 400;
	-webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
}
.ms-core-sideNavBox-removeLeftMargin {
	margin-left		: 20px;
	margin-right	: 30px;
}
#sideNavBox .ms-core-listMenu-verticalBox {
	font-size		: 1em;
/*	border-top		: 1px solid #D2D1CF;*/
	margin-top		: -1px;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item,
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenuEdit,
.ms-core-listMenu-heading,
.ms-tv-header {
	font-size		: 1em;
	font-weight		: 400;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-item,
.ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {
	padding			: 9px 16px 9px 8px;
}
.ms-core-listMenu-verticalBox ul.root > li.static,
a.ms-core-listMenu-heading {
	border-bottom		: 1px solid;
	border-bottom-color	: rgba(0,158,224,0.4);
	padding				: 1px 0px 0px 0px;
}
.ms-core-listMenu-verticalBox ul.root > li.static.ntm_GeschuetzterBereich {
	border-bottom	: 0px solid #D2D1CF;
	padding			: 16px 0px 0px 0px;
}
.ms-core-listMenu-verticalBox ul.root > li.ms-listMenu-editLink {
	border-bottom	: 0px solid #D2D1CF;
	margin: 15px 5px 0px 20px;
}
/* 1. Ebene */
.ms-core-listMenu-verticalBox > ul.static > li.static > .ms-core-listMenu-item,
.ms-core-listMenu-verticalBox .ms-core-listMenu-heading {
	/*background		: url("/_layouts/15/images/zap/svg/next.svg") no-repeat right center;*/
	background-size	: 12px auto;
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	font-weight		: 400;
	font-size		: 1em;
}
.ms-core-listMenu-verticalBox > ul.static > li.static > .ms-core-listMenu-item:hover,
.ms-core-listMenu-verticalBox .ms-core-listMenu-heading:hover,
.ms-core-listMenu-verticalBox > ul.static > li.static.selected > .ms-core-listMenu-item {
	/*background		: url("/_layouts/15/images/zap/svg/next-hover.svg") no-repeat right center;*/
	background-size	: 12px auto;
}

.ms-core-listMenu-verticalBox div.ms-navedit-hiddenAppendArea {
	border-bottom	: 1px solid #D2D1CF;
}
.ms-core-listMenu-verticalBox .ms-listMenu-editLink {
	border-bottom	: 1px solid transparent;
}


/* 2. Ebene */
.ms-core-listMenu-verticalBox li.static > ul.static > li.static {}
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item,
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > span table.ms-core-listMenuEdit,
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > table.ms-core-listMenuEdit {
	font-family: "Fira Sans", Tahoma, Geneva, sans-serif;
	font-weight		: 400;
	padding-left	: 8px;
	margin-left		: 20px;
}
.ms-core-listMenu-verticalBox ul.root li > ul.static {
	border-bottom	: 0px solid #D2D1CF;
}
.ms-core-listMenu-verticalBox ul.root li > ul.static > li {
	padding-top		: 1px;
	padding-left	: 0px;
}

/* 3. Ebene */
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > ul.static > li.static {
	margin-left		: 16px;
}
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > ul.static > li.static > .ms-core-listMenu-item,
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > ul.static > li.static > span table.ms-core-listMenuEdit,
.ms-core-listMenu-verticalBox li.static > ul.static > li.static > ul.static > li.static > table.ms-core-listMenuEdit {
	padding			: 6px 15px 6px 8px;
}

/*.ms-core-listMenu-verticalBox > ul > li:hover,*/
.ms-core-listMenu-verticalBox > ul > li.selected {
	background-color: rgb(255,165,0);/*rgb(247,247,247);*/
	-moz-transition	: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition	: all .3s ease-in;
	transition		: all .3s ease-in;
}
.ms-core-listMenu-verticalBox > ul > li.selected ul {
	background-color: rgb(255,255,255);
}
.ms-core-listMenu-verticalBox li > a.ms-core-listMenu-item:hover,
.ms-core-listMenu-verticalBox li > a.ms-core-listMenu-item:active,
.ms-core-listMenu-verticalBox .ms-core-listMenu-heading:hover,
.ms-core-listMenu-verticalBox > ul.static > li.static > .ms-core-listMenu-item:hover {
	background-color: rgb(255,165,0);/*rgb(247,247,247);*/
	color			: rgb(0,0,0);
	-moz-transition	: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition	: all .3s ease-in;
	transition		: all .3s ease-in;
}
.ms-core-listMenu-verticalBox li > a.ms-core-listMenu-item.ms-core-listMenu-selected:hover {
	background-color: rgb(234,234,234);
}
.ms-core-listMenu-verticalBox .ms-core-listMenu-selected:link,
.ms-core-listMenu-verticalBox .ms-core-listMenu-selected:visited,
.ms-core-listMenu-verticalBox .ms-core-listMenu-selected,
.ms-core-listMenu-verticalBox > ul.static > li.static > .ms-core-listMenu-item.ms-core-listMenu-selected {
	color			: rgb(0,0,0);
	background-color: rgb(255,165,0);/*rgb(255,255,255);*/
	-moz-transition	: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition	: all .3s ease-in;
	transition		: all .3s ease-in;
}
/* 2. Ebene */
.ms-core-listMenu-verticalBox li.static li.static .ms-core-listMenu-item:hover {
	background-color: rgb(255,165,0);/*rgb(247,247,247);*/
}
.ms-core-listMenu-verticalBox li.static li.static .ms-core-listMenu-selected:link,
.ms-core-listMenu-verticalBox li.static li.static .ms-core-listMenu-selected:visited,
.ms-core-listMenu-verticalBox li.static li.static .ms-core-listMenu-selected {
	background-color: rgb(255,165,0);/*rgb(247,247,247);*/
}


/* Blog */
#sideNavBox .ms-blog-listMenu-root {
	width			: 200px;
}
.ms-core-listMenu-item.ms-blog-quickLinksTitle {
	padding			: 8px 15px 8px 0px;
	display			: inline-block;
}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-item.ms-blog-quickLinksEntry,
.ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item.ms-blog-quickLinksEntry {
	padding			: 8px 15px 8px 10px;
}

/***************************************/
/*  */

/* Nav Item Toggle */
#DeltaPlaceHolderLeftNavBar ul.root.ms-core-listMenu-root.static > li {
	cursor			: pointer;
}
/* active NavItem Parent */
.ntm_HasSelectedItem  > a {
}
.ntm_HasSelectedItem  > a .menu-item-text {
}

#DatePickerDiv {
	padding-left	: 0px;
}
.ms-acal-apanel-outer {
	padding			: 10px 0px 0px 0px;
}
.ms-acal-apanel-title {
    margin-left: 0px;
}


/* Button mobile Navigation */
#NTM_BtnMobilNav {
	display			: none;
	width			: 40px;
	height			: 40px;
	margin			: 4px 20px 0px 20px;
	position		: absolute;
	z-index			: 100;
	top				: 4px;
	right			: 0px;
	background		: rgb(0,158,224) url("/_layouts/15/images/zap/svg/menu_w.svg") no-repeat center center;
	background-size	: 30px auto;
	cursor			: pointer;
}
#NTM_BtnMobilNav.ntm_BtnMobilNavActive {
	background		: rgb(9,88,147) url("/_layouts/15/images/zap/svg/close_w.svg") no-repeat center center;
	background-size	: 34px auto;
}
/* Button mobile Suche */
#NTM_BtnMobilSearch {
	display			: none;
	width			: 40px;
	height			: 40px;
	margin			: 2px 20px 0px 20px;
	position		: absolute;
	top				: 6px;
	right			: 60px;
	background		: rgb(0,158,224) url("/_layouts/15/images/zap/svg/search_w.svg") no-repeat center center;
	background-size	: 26px auto;
	cursor			: pointer;
}
#NTM_BtnMobilSearch.ntm_BtnMobilSearchActive {
	background		: rgb(9,88,147) url("/_layouts/15/images/zap/svg/search_w.svg") no-repeat center center;
	background-size	: 26px auto;
}

/* Button mobile Quicklaunch */
#NTM_BtnMobilQuicklaunch {
	display			: none;
	position		: absolute;
	top				: 11px;
	right			: 0px;
	width			: 40%;
	height			: 44px;
	margin			: 4px 20px 0px 20px;
	background		: rgb(247,247,247) url("/_layouts/15/images/zap/svg/arrow_m_down_g.svg") no-repeat right center;
	cursor			: pointer;
}
#NTM_BtnMobilQuicklaunch div {
	padding			: 8px 8px;
	font-weight		: 400;
	font-size		: 1.3em;
}
#NTM_BtnMobilQuicklaunch.ntm_BtnMobilQuicklaunchActive {
	background		: rgb(255,255,255) url("/_layouts/15/images/zap/svg/arrow_m_up_g.svg") no-repeat right center;
}

/* Container für Websitetitel und Quicklaunch Button */
#NTM_MobileQLWST {
	display			: none;
	position		: relative;
	background-color: rgb(85,85,85);
	height			: 73px;
}
#NTM_MobileQLWST .ntm_SubSiteTitle {
	color			: #FFFFFF;
	font-size		: 1.4em;
	font-weight		: 400;
	padding			: 26px 0px 0px 20px;
}
#NTM_MainNavCont .ntm_OpenIco {
	display			: none;
}

@media only screen and (min-width:1024px) {
	.GlobalNav > li:hover > ul {
		display			: block;
	}
	.GlobalNav > li ul li:hover > ul {
		display			: block;
	}
}
/* Tablet Version */
@media only screen and (max-width:1024px) {
	.ntm_Intranet .ntm_MainNavigation {
		max-width: 99.8%;
	}
	.ms-core-listMenu-horizontalBox > .ms-core-listMenu-root > li.static  > .ms-core-listMenu-item {
		display: none;
	}
	#NTM_MainNavCont, #NTM_GlobalNavCtn {
		display			: none;
		padding			: 0px 0px 20px 0px;
		margin			: 44px 0px 0px 0px;
		min-height		: 32px;
		background		: none;
	}
	.ntm_MainNavigation, .GlobalNavigation {
		float			: none;
		display			: block;
	}
	.ms-core-listMenu-horizontalBox {
		display			: block;
	}
	.ms-core-listMenu-horizontalBox ul {
		margin-bottom	: -12px;
	}
	.ms-core-listMenu-horizontalBox ul.root, .ms-core-listMenu-horizontalBox ul.static,
	ul.GlobalNav {
		white-space		: normal;
		width			: 100%;
	}
	/* Container für Websitetitel und Quicklaunch Button */
	#NTM_MobileQLWST {
		display			: block;
	}
	#NTM_ToolsCont {
		position		: relative;
		box-shadow		: 0px 0px 0px 0px rgba(0,0,0,0);
	}
	#NTM_ToolsCont > div {
		padding			: 20px 20px;
	}
	.GlobalNav a.dynamic-children,
	.GlobalNav a.dynamic-children:hover {
		background		: none;
	}



/* Navigation mobile Ansicht */
	#NTM_BtnMobilSearch,
	#NTM_BtnMobilSearch.ntm_BtnMobilSearchActive {
		display			: block;
	}
	#NTM_BtnMobilNav,
	#NTM_BtnMobilNav.ntm_BtnMobilNavActive {
		display			: block;
	}
	#NTM_BtnMobilQuicklaunch,
	#NTM_BtnMobilQuicklaunch.ntm_BtnMobilQuicklaunchActive {
		display			: block;
	}
	#NTM_BtnMobilSearch,
	#NTM_BtnMobilSearch.ntm_BtnMobilSearchActive {
		right			: 60px;
	}
	#NTM_MainNavCont,
	ul.dynamic,
	#NTM_GlobalNavCtn, ul.GlobalNav  {
		background-color: transparent;
	}
	#NTM_MainNavCont li,
	#NTM_GlobalNavCtn li {
		position		: relative;
		display			: block;
		float			: none;
	}
	#NTM_MainNavCont .dynamic-children a div.ntm_OpenIco,
	#NTM_GlobalNavCtn a div.ntm_OpenIco {
		display			: inline-block;
	}
	#NTM_MainNavCont .ntm_OpenIco,
	#NTM_GlobalNavCtn .ntm_OpenIco {
	    position		: absolute;
	    top				: 0px;
	    right			: 0px;
	    width			: 60px;
	    height			: 44px;
	    overflow		: hidden;
	    cursor			: pointer;
	    display			: block;
	}
	#NTM_MainNavCont .ntm_Collapsed > a > .ntm_OpenIco,
	#NTM_GlobalNavCtn .ntm_Collapsed > a > .ntm_OpenIco {
	    background		: url("/_layouts/15/images/zap/svg/arrow_l_down_s.svg") no-repeat left top;
	}
	#NTM_MainNavCont .ntm_Collapsed > a:hover > .ntm_OpenIco,
	#NTM_GlobalNavCtn .ntm_Collapsed > a:hover > .ntm_OpenIco {
	    background		: url("/_layouts/15/images/zap/svg/arrow_l_down_s.svg") no-repeat left top;
	}
	#NTM_MainNavCont .ntm_Expanded > a > .ntm_OpenIco,
	#NTM_GlobalNavCtn .ntm_Expanded > a > .ntm_OpenIco {
	    background		: url("/_layouts/15/images/zap/svg/arrow_l_up_s.svg") no-repeat left top;
	}
	#NTM_MainNavCont .ntm_Expanded > a:hover > .ntm_OpenIco,
	#NTM_MainNavCont .ntm_Expanded:hover > a > .ntm_OpenIco,
	#NTM_GlobalNavCtn .ntm_Expanded > a:hover > .ntm_OpenIco,
	#NTM_GlobalNavCtn .ntm_Expanded:hover > a > .ntm_OpenIco {
	    background		: url("/_layouts/15/images/zap/svg/arrow_l_up_s.svg") no-repeat left top;
	}
	#NTM_MainNavCont .ntm_OpenIco img,
	#NTM_GlobalNavCtn .ntm_OpenIco img {
	    width			: 60px;
	    height			: 44px;
	}
	.GlobalNav li a {
		margin			: 0px 0px 0px 0px;
	}

	.ntm_IconNavItem img {
		display			: none;
	}
	.ntm_IconNavItem span {
		display			: inline;
	}

	#NTM_MainNavCont li.static a.static,
	#NTM_MainNavCont li.static a.dynamic {
		margin			: 0;
		display			: block;
		line-height		: 1;
		position		: relative;
	}
	#NTM_MainNavCont li.static a.static,
	#NTM_MainNavCont li a {
		font-weight		: 400;
		border-bottom	: 1px solid #3D3D3D;
		font-size		: 1.3em;
		padding			: 14px 10px 14px 20px;
	}
	.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item.selected,
	.ms-core-listMenu-horizontalBox li.static.selected > .ms-core-listMenu-item,
	#NTM_MainNavCont li a.selected {
		background-color: rgb(255,255,255);
	}
	/* 2. Ebene */
	#NTM_MainNavCont li.static ul.dynamic a.dynamic,
	#NTM_MainNavCont li li a {
		font-weight		: normal;
		font-size		: 1.3em;
		color			: rgb(44,44,44);
		border-width	: 0 0 0 0;
		padding			: 10px 10px 10px 35px;
	}
	/* 3. Ebene */
	#NTM_MainNavCont li.static ul.dynamic ul.dynamic a.dynamic,
	#NTM_MainNavCont li li li a {
		font-weight		: 400;
		font-size		: 1.3em;
		padding			: 8px 10px 8px 50px;
	}
	#NTM_MainNavCont li.static > a:last-child {}
	#NTM_MainNavCont li.static ul.dynamic a.dynamic:hover,
	#NTM_MainNavCont li li a:hover {
		color			: rgb(255,127,36);
	}
	/* Reset positioning of level 2 navigation items */
	#NTM_MainNavCont ul.dynamic,
	#NTM_MainNavCont ul {
		box-shadow		: none;
		left			: 0;
		top				: 0px !important;
		position		: relative;
		padding			: 0;
		margin			: 0;
		width			: 100% !important;
		left			: 0 !important;
	}
	.ms-core-listMenu-horizontalBox > .ms-core-listMenu-root > li.static  > .ms-core-listMenu-item:hover,
	.ms-core-listMenu-horizontalBox .dynamic a.ms-core-listMenu-item:hover,
	.ms-core-listMenu-horizontalBox .dynamic a.ms-core-listMenu-item.ms-core-listMenu-selected:hover,
	.ms-core-listMenu-horizontalBox .dynamic a.dynamic-children:hover,
	#NTM_MainNavCont li li a:hover {
		color			: rgb(255,127,36);
		background-color: rgb(255,255,255);
		background		: rgb(255,255,255);
	}
	.ms-core-listMenu-horizontalBox .dynamic a.dynamic-children,
	.ms-core-listMenu-horizontalBox .dynamic a.dynamic-children:hover {
		background: none;
	}



	/* vertikale (aktuelle) Unternavigation */
	.ms-core-listMenu-verticalBox .ms-core-listMenu-item {
		border-bottom	: 1px solid rgb(239,239,239);
		margin-bottom	: -1px;
	}
	.ms-core-listMenu-verticalBox .ms-core-listMenu-selected:link, 
	.ms-core-listMenu-verticalBox .ms-core-listMenu-selected:visited, 
	.ms-core-listMenu-verticalBox .ms-core-listMenu-selected, 
	.ms-core-listMenu-verticalBox > ul.static > li.static > .ms-core-listMenu-item.ms-core-listMenu-selected,
	.ms-core-listMenu-verticalBox li.static li.static .ms-core-listMenu-selected:link, 
	.ms-core-listMenu-verticalBox li.static li.static .ms-core-listMenu-selected:visited, 
	.ms-core-listMenu-verticalBox li.static li.static .ms-core-listMenu-selected {
		background-color: rgb(255,255,255);
	}
	.ms-core-listMenu-verticalBox > ul > li.selected ul {
		background		: rgb(255,255,255);
	}
	.ms-core-listMenu-verticalBox > ul.static > li.static > .ms-core-listMenu-item,
	.ms-core-listMenu-verticalBox .ms-core-listMenu-heading {
		background		: none;
	}
}