﻿.roll-up.edit-mode-panel, .title-edit.edit-mode-panel {
	margin-bottom	: 25px;
}
.edit-mode-panel.roll-up img {
	max-width		: 400px !important;
	height			: auto !important;
}
.ms-rtestate-write, .ms-rtestate-field, .ms-rte-border-field {
	background-color: rgb(255,255,255);
}
#DeltaPlaceHolderMain div.ms-rte-border-field, #DeltaPlaceHolderMain div.ms-rte-border-field:hover {
	background-color: rgb(255,255,255) !important;
	border			: 1px solid #ababab !important;
	padding			: 8px 8px !important;
}
.ntm_Table > div > div {
    padding-right: 0px;
}
#NTM_Gruppierung h3,
h3.ntm_AkkordeonTitle,
.ms-rtestate-field h3.ntm_AkkordeonTitle {
    padding			: 10px 10px !important;
    border			: 2px solid #DCDCDC;
	border-width	: 2px 2px;
}
div.ms-rteElement-Ausblenden,
div.ntm_AkkordeonText {
    padding			: 10px 10px !important;
    border			: 2px solid #999999;
	border-width	: 2px 2px;
	background-color: #eeeeee;
	margin-bottom	: 10px;
	display			: block;
}
.ms-rteElement-Clearing,
.ms-rteElement-HRClear,
.ms-rteStyle-BoxClearing {
	border-top		: 2px solid #DCDCDC;
	background-color: #eeeeee;
	height			: 3px;
	margin-bottom	: 10px;
}

.ms-rteElement-Box6,
.ms-rteElement-Box7,
.ms-rteElement-Box8 {
	width			: 40%;
}
.ntm_Wichtig {
    line-height: 1.4em;
    font-weight: 600;
    color: #000000;
}
#pageStatusBar,
[class]#pageStatusBar, .ms-status-msg {
	padding: 27px 10px;
	font-size: 1.1em;
	margin-top: 8px;
}
textarea.ms-long {
	width		: 98.5%;
}
.ms-rtestate-field {
	display			: inline !important;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count	: 1;
	-moz-column-gap	: 0px;
	-webkit-column-gap: 0px;
	column-gap		: 0px;
}
.ntm_PL_Right > div > div,.ntm_PL_Left > div > div,
.ntm_PL_Right > div > div:hover,.ntm_PL_Left > div > div:hover {
	max-width		: 600px;
	min-width		: inherit;
	border-left		: 0px solid rgb(255,255,255);
	padding			: 10px 10px;
}


/*
.ntm_PL_1_2, .ntm_PL_2_2, .ntm_PL_1_3, .ntm_PL_2_3, .ntm_PL_3_3  {
	width		: 99%;
	margin-left	: auto;
	margin-right: auto;
	display		: block;
}
.ntm_WPZFloatRight {
	float			: none;
	max-width		: 100%;
}
.ntm_WPZFloatRight > .ms-webpart-zone {
	padding			: 0px 0px 0px 0px;
	overflow		: visible;
}

.ntm_Table > div {
	display			: block;
}
.ntm_Table > div > div {
	padding-right	: 0px;
}
.ntm_PL_2_2 > div,
.ntm_PL_2_2 > div.ntm_PL_1_2 > div,
.ntm_PL_2_2 > div.ntm_PL_2_2 > div {
	padding-left: 0px;
}
*/
