﻿#siteIcon {
    margin: 54px 1% 0px 0px;
}

#NTM_BGHead {
    display: block;
}

#sideNavBox,
.ntm_SiteBreadcrumb,
.ntm_PLModified,
h1.ms-core-pageTitle {
    display: none;
}

#contentRow {
}

.ntm_Intranet #contentBox {
    margin-left: 0px;
    background-color: transparent;
    padding: 0px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -o-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.ntm_PLHomepage {
    padding-left: 0px;
}

.ntm_PHHomeTop {
    margin-bottom: -100px;
}

.ntm_PLCont {
}

.ntm_PLHomepage .ntm_PL_Main > div {
    padding: 0px 0px 0px 0px;
}

.ms-webpart-chrome .ms-wpContentDivSpace.ms-WPBody {
    margin-bottom: 50px;
}

.ntm_PLHomepage .ntm_PL_1_2 > div > div {
    padding-right: 10px;
}

.ntm_PLHomepage .ntm_PL_ZweiDrittelL > div > div {
    padding-right: 20px;
}

.ntm_PLHomepage .ntm_PL_1_3R > div > div,
.ntm_PLHomepage .ntm_PL_2_2 > div > div {
    padding-left: 10px;
}

.ntm_PL_1_3R .ms-WPBody,
.ntm_PL_1_2 .ms-WPBody,
.ntm_PL_2_2 .ms-WPBody {
    background-color: #fff;
    padding: 20px 0px 6px 12px;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
    -o-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.ntm_PLWPZ {
}

.ntm_PL_Foot {
}

.ntm_PLWPZ h2.ms-webpart-titleText {
    /*	padding			: 0px 0px 0px 42px;*/
}

.ntm_IcoNews {
    padding: 0px 0px 0px 42px;
    background: url("/_layouts/15/images/zap/svg/newspaper.svg") no-repeat 6px top;
    background-size: 26px auto;
}

.ntm_tabs .ntm_tabList a.ntm_IcoNews {
    background-image: url("/_layouts/15/images/zap/svg/newspaper.svg");
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 26px auto;
    padding-left: 42px;
}

.ntm_IcoFav {
    padding: 0px 0px 0px 42px;
    background: url("/_layouts/15/images/zap/svg/bookmark.svg") no-repeat 10px top;
    background-size: 26px auto;
}

.ntm_IcoThemen {
    padding: 0px 0px 0px 42px;
    background: url("/_layouts/15/images/zap/svg/themen.svg") no-repeat 6px -1px;
    background-size: 26px auto;
}

.ntm_IcoAbteilung,
.ntm_IcoAbonnierte {
    padding: 0px 0px 0px 42px;
    background: url("/_layouts/15/images/zap/svg/abo.svg") no-repeat 6px -3px;
    background-size: 30px auto;
}

.ntm_tabs .ntm_tabList a.ntm_IcoAbteilung,
.ntm_tabs .ntm_tabList a.ntm_IcoAbonnierte {
    background-image: url("/_layouts/15/images/zap/svg/abo.svg");
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 30px auto;
    padding-left: 42px;
}

.ntm_IcoLinks {
    padding: 0px 0px 0px 42px;
    background: url("/_layouts/15/images/zap/svg/hyperlink.svg") no-repeat 15px top;
    background-size: 19px auto;
}

.ntm_IcoTermine {
    padding: 0px 0px 0px 42px;
    background: url("/_layouts/15/images/zap/svg/calendar.svg") no-repeat 6px top;
    background-size: 26px auto;
}

.ntm_IcoEvents {
    padding: 0px 0px 0px 42px;
    background: url("/_layouts/15/images/zap/svg/Zusammenarbeit-hgrau.svg") no-repeat 12px top;
    background-size: 21px auto;
}

.ntm_IcoDokumente {
    padding: 0px 0px 0px 42px;
    background: url("/_layouts/15/images/zap/svg/file.svg") no-repeat 12px top;
    background-size: 20px auto;
}


/***************************************/
/* News */
.ntm_SliderOne {
    min-height: 293px;
}
.ntm_SliderOne .ntm_FlexCaption {
	height: 290px;
	word-break: break-word;
}

/***************************************/
/* Meine Schnelleinstiege */
.ntm_PL_1_3R .ms-WPBody {
    min-height: 267px;
}

/***************************************/
/* Wichtige Links */

.ntm_NewsFooter.ntm_Links {
    display: block;
    right: 0px;
    bottom: 0px;
}

    .ntm_NewsFooter.ntm_Links .ntm_MehrLink {
        margin-bottom: 0px;
    }

.ntm_PageFunctions,
#NTM_BtnMobilQuicklaunch {
    display: none !important;
}

/***************************************/
/* Termine */
.ntm_ZweiSpaltig {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 14px;
    -webkit-column-gap: 14px;
    column-gap: 14px;
}

@media only screen and (max-width:1024px) {
    #NTM_MobileQLWST {
        display: none;
    }
}

@media only screen and (max-width:784px) {
    #siteIcon {
        margin: 0px 1% 0px 0px;
    }

    #contentBox {
        width: 99.9%;
    }

    .ntm_PHHomeTop {
        margin-bottom: -20px;
    }

    .ntm_PLHomepage .ntm_PL_1_2 > div > div,
    .ntm_PLHomepage .ntm_PL_ZweiDrittelL > div > div {
        padding-right: 0px;
    }

    .ntm_PLHomepage .ntm_PL_1_3R > div > div,
    .ntm_PLHomepage .ntm_PL_2_2 > div > div {
        padding-left: 0px;
    }
}

@media only screen and (max-width:640px) {
    .ntm_Bild {
        width: 31%;
    }
}

@media only screen and (max-width:380px) {
    .ntm_Bild {
        width: 48%;
    }
}

@media print {
}
