﻿/*************************************************************************************/
/* Stylesheets für Seitenlayout Minimal
* Erstellt: 	  	08.01.2019
*
/*************************************************************************************/
.ntm_PL,.ntm_PLNews,.ntm_PLSeite,.ntm_PL .ntm_PL_Main,.ms-wikicontent.ms-rtestate-field, .ntm_Intranet .ntm_Wrapper, .ntm_Intranet #contentRow {
    max-width   : 4200px!important;
}
body.ms-backgroundImage {
	background-color: rgb(205,205,205);
}
#s4-bodyContainer {
	background		: none !important;
}
#sideNavBox, #H1, h1.ms-core-pageTitle, .ntm_SiteBreadcrumb {display: none !important;}

#s4-titlerow, #NTM_MainNavCont, #NTM_MobileNavCont, #NTM_ToolsCont, #NTM_MobileQLWST, .ntm_FooterCont {display: none !important;}

#contentBox {margin-left: 0px;}
#s4-bodyContainer {background-image: none !important;}

/* Tablet Version */
@media only screen and (max-width:784px) {

}