﻿.ntm_NewsDateType {
	padding			: 25px 0px 0px 0px;
	margin-bottom	: -8px;
}
.lyte-wrapper {
	max-width		: 910px !important;
	width			: 99.9% !important;
}
.lyte-wrapper img {
	max-width		: 910px !important;
}
/* Tablet Version Hochformat */
@media only screen and (max-width:768px) {

}