﻿#DeltaPlaceHolderPageDescription {
	display: none;
}
.ntm_PLSeite {
}
.ntm_WPZFloatRight {
	float			: right;
	max-width		: 50%;
}
.ntm_WPZFloatRight > .ms-webpart-zone {
	padding			: 0px 4px 16px 24px;
	overflow		: hidden;
}
.ntm_PHLNT {}
.ntm_PHLNB {}
.ntm_Websitetitel {
	padding			: 0px 20px 10px 18px;
	font-size		: 1.3em;
	font-weight		: 600;
}
.ms-core-pageTitle {
	min-height		: 0px;
	padding			: 0px;
}

#NTM_MyPageTitle {
	font-weight		: 300;
}
.ntm_PLModified {
	display			: none;
} 
.ntm_TaxKeyword {}
.ntm_TaxKeywordHeader {
	font-size		: 1.1em;
	color			: #848484;
	padding			: 16px 0px 8px 0px;
}
.ntm_Keywords {
	color			: #ffffff;
}
.ntm_Keywords span {
	display			: inline-block;
	padding			: 6px 12px;
	background-color: rgb(234,234,234);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius	: 100px;
	color			: #1e1e1e;
}
.ntm_PL_Right .ms-srch-sbLarge-fullWidth {
	width			: 80%;
}
.ntm_PL_Right #SearchBox .ms-srch-sbLarge {
	float			: left;
}

.ntm_PL_Right,.ntm_PL_Left {
	display			: table-cell;
	vertical-align	: top;
}
.ntm_PL_Right,.ntm_PL_Left {
	max-width		: 270px;
}
.ntm_PL_Right > div > div,.ntm_PL_Left > div > div {
/*	max-width		: 230px;
	min-width		: 160px;*/
}
.ntm_PL_Right {}
.ntm_PL_Left .ms-webpartzone-cell {
	margin			: 0px 0px 20px 0px;
}
.ntm_PLWPZ {}
.ntm_PL_1_1 {}
.ntm_PL_1_2 {
	width			: 47%;
	display			: inline-block;
	vertical-align  : top;
	overflow-x		: hidden;
}
.ntm_PL_2_2 {
	width			: 52%;
	display			: inline-block;
	vertical-align  : top;
	overflow-x		: hidden;
}
.ntm_PL_1_3R,
.ntm_PL_1_3L,
.ntm_PL_1_3 {
	width			: 33%;
	display			: inline-block;
	vertical-align  : top;
}
.ntm_PL_2_3,
.ntm_PL_3_3 {
	width			: 33%;
	display			: inline-block;
	vertical-align  : top;
}
.ntm_PL_ZweiDrittelR,
.ntm_PL_ZweiDrittelL {
	width			: 66%;
	display			: inline-block;
	vertical-align  : top;
}

.ntm_PL_Foot {}
.ntm_PL_2_2 > div,
.ntm_PL_2_3 > div,
.ntm_PL_3_3 > div,
.ntm_PL_2_2 > div.ntm_PL_1_2 > div,
.ntm_PL_2_2 > div.ntm_PL_2_2 > div,
.ntm_PL_Right > div > div {
	padding-left	: 20px;
}
.ntm_PL_2_2 > div.ms-rtestate-field,
.ntm_PL_2_3 > div.ms-rtestate-field,
.ntm_PL_3_3 > div.ms-rtestate-field {
	display			: inline-block !important;
}
.ntm_PL_Left > div > div {
	padding-right	: 40px;
}
.ntm_PL_2_2 > div.ntm_PL_1_2,
.ntm_PL_2_2 > div.ntm_PL_2_2 {
	padding-left	: 0px;
}


/* Tablet Version */
@media only screen and (max-width:784px) {
	
	.ntm_WPZFloatRight {
		float			: none;
		max-width		: 100%;
	}
	.ntm_WPZFloatRight > .ms-webpart-zone {
		padding			: 0px 0px 0px 0px;
		overflow		: hidden;
	}
	.ntm_PL_Right,.ntm_PL_Left {
		max-width		: 770px;
	}
	.ntm_PL_Left .ms-webpartzone-cell {
		margin			: 0px 0px 0px 0px;
	}
	.ntm_PL_1_2,
	.ntm_PL_2_2,
	.ntm_PL_1_3R,
	.ntm_PL_1_3L,
	.ntm_PL_1_3,
	.ntm_PL_2_3,
	.ntm_PL_3_3,
	.ntm_PL_ZweiDrittelR,
	.ntm_PL_ZweiDrittelL {
		width			: 100%;
	}
	.ntm_PL_2_2 > div,
	.ntm_PL_2_3 > div,
	.ntm_PL_3_3 > div,
	.ntm_PL_2_2 > div.ntm_PL_1_2 > div,
	.ntm_PL_2_2 > div.ntm_PL_2_2 > div,
	.ntm_PL_Right > div > div {
		padding-left	: 0px;
	}
	.ntm_PL_Left > div > div {
		padding-right	: 0px;
	}

}


@media print {

}

