﻿/**************************************************************************************
* Stylesheets für Suche
*
* Erstellt: 	  	08.01.2019
*
* Informationen: 	Seitenlayout Suche

*/

h1.ms-core-pageTitle,
.ntm_SiteBreadcrumb {
    display     : none;
}
.ntm_PLSearch {
    padding-top : 30px;
}
#contentBox {
    margin-left: 260px;
}
/* Fix horizontaler Scrollbalken*/
body.ntm_General #s4-workspace #s4-bodyContainer {
    width       : 100% !important;
	display		: table;
}