﻿#sideNavBox {
	display			: none;
	height			: 0px;
}
#contentBox {
	margin-left		: 0px;
}
/* Tablet Version */
@media only screen and (max-width:784px) {
	#contentBox {
		margin-left	: auto;
	}
	#sideNavBox {
		height		: auto;
	}
}