﻿/**************************************************************************************
* Stylesheets für Suche
*
* Erstellt: 	  	08.01.2019
*
* Informationen: 	Seitenlayout Suche

*/

#sideNavBox,
.ntm_SiteBreadcrumb,
h1.ms-core-pageTitle {
	display			: none;
}
#contentBox {
	margin-left		: 12px;
}
.ntm_PLSearch {
    padding-top : 30px;
}

/* Fix horizontaler Scrollbalken*/
body.ntm_General #s4-workspace #s4-bodyContainer {
    width       : 100% !important;
	display		: table;
}