﻿#sideNavBox,
.ntm_PLModified,
h1.ms-core-pageTitle {
	display			: none;
}
.ntm_PageFunctions {
	margin-top		: -32px;
}
#contentRow, .ntm_PL_Main {
	background-color: transparent;
}
#contentBox {
	margin-left		: 0px;
	background-color: transparent;
	padding			: 0px 0px;
}
.ntm_PL_Main {
	margin-top		: 40px;
	padding			: 0px 0px 0px 0px;
}
.ntm_MasterLeftSide {
	background-color: transparent;
	padding			: 0px 0px 0px 0px;
}
.ntm_PLUebersicht {
}
.ntm_PLUebersicht .ntm_PLTeaser {
	position		: relative;
	min-height		: 320px;
	background-color: rgb(242,242,242);
	margin-left		: 25px;
	overflow		: hidden;
}
.ntm_PLUebersicht .ntm_PLTeaserBG {
	position		: absolute;
	width			: 100%;
}
.ntm_PLUebersicht .ntm_PLTeaserBG img {
	max-height		: 320px;
	float			: right;
}
.ntm_PLUebersicht .ntm_PLTeaserText {
	position		: relative;
	min-height		: 220px;
	padding			: 60px 60% 37px 25px;
}
.ntm_Table > div.ntm_PL_1_2 {
	width			: 52%;
}
.ntm_Table > div.ntm_PL_2_2 {
	width			: 48%;
}
.ntm_Table > div.ntm_PL_1_2 > div {
	padding-left	: 25px;
}
.ntm_Table > div.ntm_PL_2_2 > div {
	padding-right	: 0px;
}
.ntm_PL_1_2 > div > div,
.ntm_PL_1_3 > div > div,
.ntm_PL_2_3 > div > div,
.ntm_PL_ZweiDrittelL > div > div,
.ntm_PL_1_3R > div > div,
.ntm_PL_2_2 > div > div,
.ntm_PL_2_3 > div > div,
.ntm_PL_3_3 > div > div,
.ntm_PL_ZweiDrittel > div > div {
	padding			: 25px 25px;
	background-color: rgb(255,255,255);
}
.ntm_PL_1_1 {
	padding			: 0px 0px 0px 0px;
}

.ntm_PL_Foot {
	padding			: 40px 0px 0px 25px;
}
.ntm_PL_Foot .ms-WPBody,
.ntm_PL_Foot .ms-webpart-chrome > div {
	padding			: 40px 90px 40px 90px;
	background-color: rgb(255,255,255);
}
.s4-wpcell > .ms-webpart-chrome, .s4-wpActive > .ms-webpart-chrome {
	border-width	: 0px 0px 0px 0px;
}
.ntm_PL_Foot .ms-WPBody,
.ntm_PL_Foot .ms-PartSpacingVertical {
	margin-bottom	: 0px;
}


@media only screen and (max-width:980px) {
	.ntm_PLUebersicht .ntm_PLTeaserText {
		padding			: 50px 30% 37px 25px;
	}
}
@media only screen and (max-width:880px) {
	.ntm_PLUebersicht .ntm_PLTeaserText {
		padding			: 40px 20% 37px 25px;
	}
}
/* Tablet Version */
@media only screen and (max-width:784px) {
	.ntm_PLUebersicht .ntm_PLTeaserText {
		padding			: 30px 30% 37px 25px;
	}
}