﻿/* ZAP Schnelleinstiege */

.ntm_FavMainCont {
/*	background-color: rgba(30, 30, 30, 0.64);  muss wieder entfernt werden */
	padding			: 8px 10px;
}
.ntm_FavHeadCont {

}
.ntm_HFavCont {
	display			: inline;
}
.ntm_H2Fav {
	color			: #FFFFFF;
	font-size		: 1.4em;
	display			: inline-block;
	padding			: 6px 24px 6px 0px;
}
.ntm_FavBtn {
	display			: inline-block;
	padding			: 1px 8px 1px 26px;
	color			: #FFFFFF;
	cursor			: pointer;
}
.ntm_FavBtnView {
	background		: transparent url("/_layouts/15/images/zap/svg/view_white.svg") no-repeat left -5px;
	background-size	: 24px 24px;
}
.ntm_FavBtnEdit {
	background		: transparent url("/_layouts/15/images/zap/svg/edit_white.svg") no-repeat left -5px;
	background-size	: 24px 24px;
}
.ntm_FavBtnAdd {
	background		: transparent url("/_layouts/15/images/zap/svg/add_white.svg") no-repeat 4px -5px;
	background-size	: 20px 20px;
}
.ntm_Toggle {
	display			: none;
	float			: right;
	width			: 30px;
	height			: 30px;
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_m_down_g.svg") no-repeat center center;
}
.ntm_FavHeadContActive .ntm_Toggle {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_m_up_g.svg") no-repeat center center;
}

.ntm_FavToolsCont {}
a.ntm_FavTools {
	display			: inline-block;
	position		: relative;
	width			: 100px;
	height			: 100px;
	margin			: 0px 10px 0px 0px;
	background-color: rgb(240,215,34);
	background-repeat: no-repeat;
	background-position: center 10px;
}
a.ntm_FavTools span {
	display			: table-cell;
	width			: 90px;
	overflow		: hidden;
	text-align		: center;
	vertical-align	: bottom;
	position		: absolute;
	bottom			: 8px;
	left			: 5px;
	color			: #000000;
	font-size		: .8em;
}
.ntm_FavLinksCont {
	padding			: 24px 0px 12px 0px;
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count	: 4;
/*	-moz-column-width: 200px;
	-webkit-column-width: 200px;
	column-width: 200px;*/
	-moz-column-gap	: 20px;
	-webkit-column-gap: 20px;
	column-gap		: 20px;
}
a.ntm_FavLinks, a.ntm_FavLinks:link, a.ntm_FavLinks:visited {
	display			: block;
	padding			: 5px 8px 5px 12px;
	background		: transparent url("/_layouts/15/images/zap/svg/link_w.svg") no-repeat 0px 6px;
	color			: #FFFFFF;
}
.ntm_FavBtn:hover,
a.ntm_FavLinks:hover {
	color			: #F0D722;
}


@media only screen and (max-width:884px) {
	.ntm_FavLinksCont {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count	: 2;
	}
}

/* Tablet Version */
@media only screen and (max-width:784px) {
	.ntm_Toggle {
		display			: block;
	}
	.ntm_FavBtn,
	.ntm_ToggleCont {
		display			: none;
	}
	.ntm_FavMainCont {
		background-color: rgb(255,255,255);
	}
	.ntm_FavLinksCont {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count	: 1;
	}
	.ntm_H2Fav,
	.ntm_FavBtn,
	a.ntm_FavLinks, a.ntm_FavLinks:link, a.ntm_FavLinks:visited {
		color			: #000000;
	}
	.ntm_FavHeadCont {
		cursor			: pointer;
	}
	.ntm_H2Fav,
	h2.ntm_H2Fav:first-child {
		margin			: 0px 0px 0px 0px;
		padding			: 4px 24px 3px 34px;
		background		: transparent url("/_layouts/15/images/zap/svg/view_tiles.svg") no-repeat left top;
	}
	a.ntm_FavLinks, a.ntm_FavLinks:link, a.ntm_FavLinks:visited {
		background		: transparent url("/_layouts/15/images/zap/svg/link_blank.svg") no-repeat 0px 9px;
		padding			: 8px 8px 8px 12px;
	}
	a.ntm_FavTools {
		display			: inline-block;
		position		: relative;
		width			: 100px;
		height			: 100px;
		margin			: 10px 10px 0px 0px;
	}
}
@media only screen and (max-width:640px) {
	.ntm_FavLinksCont {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count	: 2;
	}
}