.ntm_SrchDoks {}
.ms-srch-item-path {
	display: none;
}
.ms-srch-result {
	margin-top: 0px;
}
.ntm_srcElement {}
.ntm_srcElement.ntm_Info1 {
	display: none;
}
.ntm_srcElement .ntm_srcLabel {
	display: inline-block;
	width: auto;
	padding-left: 10px;
	background: url("/_layouts/15/images/yap/svg/link_blank.svg") no-repeat 1px center;
}




