﻿/* Preload images */
body:after {
	content: url(/_layouts/15/images/zap/svg/arrow_l_close_s.svg) url(/_layouts/15/images/zap/loading.gif) url(/_layouts/15/images/zap/svg/next-weiss.svg) url(/_layouts/15/images/zap/svg/back-weiss.svg);
	display: none;
}

/* line 1, ../sass/simplelightbox.scss */
body.hidden-scroll {
	overflow: hidden;
}

/* line 4, ../sass/simplelightbox.scss */
.sl-overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.85);
	/*opacity: 0.8;*/
	display: none;
	z-index: 1006; 
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,1+100 */
	/*background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,1) 100%); 
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,1) 100%); 
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#000000',GradientType=1 ); 
	*/
	
	/* force GPU rendering for smoother animations */
	
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* line 15, ../sass/simplelightbox.scss */
.sl-wrapper {
	z-index: 1000;
}

.sl-container {
	width: 100%; 
	height: 50px;  /* DONT CHANGE - OR CHANGE THE JAVASCRIPT */
	background-color: #fff;
}

/* line 17, ../sass/simplelightbox.scss */
.sl-wrapper button {
	color: #fff;
	border: 0 none;
	background: transparent;
	font-size: 36px;
	padding: 0;
	cursor: pointer;
	outline: none;
	
	min-width: 0;
	
	transition: all .12s linear;
}
/* line 23, ../sass/simplelightbox.scss */
.sl-wrapper button:hover {
	opacity: 0.8;
	transition: all .2s linear;
}
/* line 28, ../sass/simplelightbox.scss */
.sl-wrapper .sl-close {
	display: block;
	float: right;
	width: 40px;
	height: 42px;
	background: url(/_layouts/15/images/zap/svg/arrow_l_close_s.svg) top left no-repeat;
	background-size: 42px 42px;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	/*  opacity: 0.7;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;*/
	font-size: 0px;
	color: rgb(240, 215, 34);
	margin: 6px 0 0 0;
}
/* line 36, ../sass/simplelightbox.scss */
.sl-wrapper .sl-counter {
	display: inline-block;
	/*position: fixed;
	top: 33px;
	left: 30px;*/
	z-index: 1015;
	color: #222;
	font-size: 22px;
	margin: 13px 0 0 10px;
	cursor: default;
}
/* line 44, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation {
	width: 100%;
	display: none;
}
/* line 47, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button {
	position: fixed;
	top: 50%;
	margin-top: -60px;
	height: 80px;
	width: 50px;
	line-height: 30px;
	text-align: center;
	display: block;
	z-index: 99999;
	font-family: arial sans-serif;
	font-size: 50px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 1px;
	border: 1px solid rgba(255,255,255,0.1);
	transition: all .12s linear;
}

.sl-wrapper .sl-navigation button:hover {
	border: 1px solid rgba(255,255,255,0.3);
	transition: all .2s linear;
}
/* line 58, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button.sl-next {
	right: 40px;
	padding: 0px 0px 8px 2px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	background: url(/_layouts/15/images/zap/svg/next-weiss.svg) 10px 48% no-repeat;
	background-size: 40px auto;
	font-size: 0px;
}
/* line 62, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button.sl-prev {
	left: 40px;
	padding: 0px 2px 8px 0px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	margin-left: 0px;
	background: url(/_layouts/15/images/zap/svg/back-weiss.svg) -10px 48% no-repeat;
	background-size: 40px auto;
	font-size: 0px;
}
/* line 68, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image {
	position: fixed;
	-ms-touch-action: none;
	touch-action: none;
	z-index: 10000;
	border: 4px solid #fff;

	-moz-box-shadow: 1px 3px 6px rgba(0,0,0,0.8);
	-webkit-box-shadow: 1px 3px 6px rgba(0,0,0,0.8);
	box-shadow: 1px 3px 6px rgba(0,0,0,0.8);
}
/* line 73, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image img {
	margin: 0;
	padding: 0;
	display: block;

}
/* line 78, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image iframe {
	border: 0 none;
	background: #000;
}
/* line 82, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption {
	display: none;
	padding: 10px;
	color: rgba(255,255,255,1);
	background: #000;
	/*opacity: 0.7;*/
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	font-size: 15px;
	cursor: default;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.95+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */
}
/* line 93, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption.pos-top {
	bottom: auto;
	top: 0;
}
/* line 98, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption.pos-outside {
	bottom: auto;
}
/* line 103, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-download {
	/*display: none;*/
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: #fff;
	z-index: 1005;
}

/* line 114, ../sass/simplelightbox.scss */
.sl-spinner {
	display: none;
	border: 5px solid #333;
	border-radius: 40px;
	height: 40px;
	left: 50%;
	margin: -20px 0 0 -20px;
	opacity: 0;
	position: fixed;
	top: 50%;
	width: 40px;
	z-index: 1007;
	-webkit-animation: pulsate 1s ease-out infinite;
	-moz-animation: pulsate 1s ease-out infinite;
	-ms-animation: pulsate 1s ease-out infinite;
	-o-animation: pulsate 1s ease-out infinite;
	animation: pulsate 1s ease-out infinite;
}

/* line 133, ../sass/simplelightbox.scss */
.sl-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

.ntm_CtnDownload {
	display: inline-block;
	float: right;
	padding: 12px 14px 0px 0px;
	cursor: pointer;
}
.ntm_CtnDownload:hover {
}
.ntm_CtnDownload img {
	max-height: 26px;
}
/* SaveToDisk
.ntm_SLImage {
cursor: pointer;
}
*/

@-webkit-keyframes pulsate {
	0% {
		transform: scale(0.1);
	opacity: 0.0;
	}
	50% {
	opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}
@keyframes pulsate {
	0% {
		transform: scale(0.1);
		opacity: 0.0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}
@-moz-keyframes pulsate {
	0% {
		transform: scale(0.1);
		opacity: 0.0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}
@-o-keyframes pulsate {
	0% {
		transform: scale(0.1);
		opacity: 0.0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}
@-ms-keyframes pulsate {
	0% {
		transform: scale(0.1);
		opacity: 0.0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

