﻿/* ****************************************************** */
/*  CSS Style Datei SP2019 Intranet für Tabellen
*/

table.ms-listviewtable tr th {
	background-color: rgb(232,232,232);
}
table.ms-listviewtable tr.ms-alternating,
table.ms-listviewtable tr.ms-alternating > td {
	background-color: rgb(242,242,242);
}

.ms-rteTable-default > tbody > tr > th,
.ms-rteTable-default > tbody > tr.ms-rteTableFooterRow-default,
.ms-rteTable-0 > tbody > tr > th,
.ms-rteTable-0 > tbody > tr.ms-rteTableFooterRow-0,
.ms-rteTable-1 > tbody > tr > th,
.ms-rteTable-1 > tbody > tr.ms-rteTableFooterRow-1,
.ms-rteTable-2 > tbody > tr > th,
.ms-rteTable-2 > tbody > tr.ms-rteTableFooterRow-2,
.ms-rteTable-3 > tbody > tr > th,
.ms-rteTable-3 > tbody > tr.ms-rteTableFooterRow-3,
.ms-rteTable-4 > tbody > tr > th,
.ms-rteTable-4 > tbody > tr.ms-rteTableFooterRow-4,
.ms-rteTable-5 > tbody > tr > th,
.ms-rteTable-5 > tbody > tr.ms-rteTableFooterRow-5,
.ms-rteTable-6 > tbody > tr > th,
.ms-rteTable-6 > tbody > tr.ms-rteTableFooterRow-6,
.ms-rteTable-7 > tbody > tr > th,
.ms-rteTable-7 > tbody > tr.ms-rteTableFooterRow-7,
.ms-rteTable-8 > tbody > tr > th,
.ms-rteTable-8 > tbody > tr.ms-rteTableFooterRow-8,
.ms-rteTable-9 > tbody > tr > th,
.ms-rteTable-9 > tbody > tr.ms-rteTableFooterRow-9,
.ms-rteTable-10 > tbody > tr > th,
.ms-rteTable-10 > tbody > tr.ms-rteTableFooterRow-10 {
	color			: rgb(28,28,27);
}

.ms-rteTable-6 tr.ms-rteTableHeaderRow-6,
.ms-rteTable-6 tr.ms-rteTableFooterRow-6,
.ms-rteTable-6 tr.ms-rteTableHeaderRow-6 > th,
.ms-rteTable-6 tr.ms-rteTableFooterRow-6 > th,
.ms-rteTable-6 tr.ms-rteTableFooterRow-6 > td {
	background-color: rgb(0,73,148);
}
.ms-rteTable-6 tr.ms-rteTableOddRow-6 {
	background-color: rgb(244,244,246);
}
.ms-rteTable-6 tr.ms-rteTableEvenRow-6 {
}

.ms-rteTable-4,
.ms-rteTable-4 > tbody > tr > td,
.ms-rteTable-4 > tbody > tr > th {
 	border-color	: rgb(0,73,148);
}
.ms-rteTable-4 tr.ms-rteTableHeaderRow-4,
.ms-rteTable-4 tr.ms-rteTableFooterRow-4,
.ms-rteTable-4 tr.ms-rteTableHeaderRow-4 > th,
.ms-rteTable-4 tr.ms-rteTableFooterRow-4 > th,
.ms-rteTable-4 tr.ms-rteTableFooterRow-4 > td {
	background-color: rgb(0,73,148);
}


/*************************/
/* START: Tabellenformat 12 */
.ms-rteTable-12 {
    border-collapse	: separate !important;
    border-spacing	: 0.6em;
}
.ms-rteTable-12 > TBODY > tr > td,
.ms-rteTable-12 > TBODY > tr > th {
    border      	: 1px solid #dde0e1;
    padding     	: 0.2em;
    text-align  	: center;
}
.ms-rteTable-12 > TBODY > tr.ms-rteTableHeaderRow-12 > th {
    background-color: rgb(153,153,153);
	border-color	: rgb(153,153,153);
	font-family		: Arial, Helvetica, sans-serif;
	font-weight		: normal;
    color			: #FFFFFF;
    padding    		: 0.5em;
}
.ms-rteTable-12 > TBODY > tr > th.ms-rteTableFirstCol-12 {
    background-color: rgb(243,243,243);	
    color       	: #4E4C50;
}
.ms-rteTable-12 td.ms-rteTableLastCol-12 {
}
.ms-rteTable-12 > TBODY > tr > td:hover {
	border-color	: rgb(153,153,153);
}
/* ENDE: Tabellenformat 12 */

/* START: Tabellenformat 13 */

.ms-rteTable-13 > TBODY > tr.ms-rteTableHeaderRow-13 > th {
    border-top  	: 1px solid rgb(153,153,153);
    border-left 	: none;
    border-right	: none;
    border-bottom	: none;
    color			: #333333;
    font-family 	: Arial, Helvetica, sans-serif;
    font-style		: normal;
    padding			: 0.5em 0.5em;
    text-align		: left;
}
.ms-rteTable-13 > TBODY > tr > td,
.ms-rteTable-13 > TBODY > tr > th {
    border-top		: 1px solid #dde0e1;
    padding			: 0.2em;
    text-align		: left;
    vertical-align	: top;
}
.ms-rteTable-13 > TBODY > tr > td {
    padding-bottom	: 1em;
    padding-left	: 0.5em;
}
.ms-rteTable-13 > TBODY > tr > th.ms-rteTableFirstCol-13 {
    color       	: #333333;
    padding-left	: 0.5em;
}
.ms-rteTable-13 td.ms-rteTableLastCol-13 {
}

/* ENDE: Tabellenformat 13 */
