﻿.ntm_tabs { }
.ntm_tabs .ntm_tabList {
	padding			: 0; 
	margin			: 0;
}
.ntm_tabs .ntm_tabList > li {
	list-style		: none; 
	float			: left;
}
.ntm_tabs .ntm_tabList a { 
	display			: block;
	text-align		: center; 
	text-decoration	: none; 
	color			: rgb(55,54,50); 
	padding			: 12px 16px; 
	border			: 3px solid rgb(255,255,255); 
	background-color: rgb(240,215,34); 
	font-weight		: bold;
}
.ntm_PL_HomeWPZL .ntm_tabs .ntm_tabList a { 
	border			: 3px solid rgb(234,234,234); 
}
.ntm_tabs .ntm_tabList a.active { 
	background-color: rgb(234,234,234);
	border			: 3px solid rgb(234,234,234);
}
.ntm_PL_HomeWPZL .ntm_tabs .ntm_tabList a.active { 
	background-color: rgb(255,255,255);
	border			: 3px solid rgb(255,255,255);
}
.ntm_tabs .ntm_tabList a:hover {
	background-color: rgb(234,234,234);
}
.ntm_tabs .ntm_tabList .filler {
	float			: none; 
	overflow		: hidden;
}
.ntm_tabs .ntm_tabList .filler a {
	background-color: rgb(255,255,255);
}
.ntm_PL_HomeWPZL .ntm_tabs .ntm_tabList .filler a {
	background-color: rgb(234,234,234);
}
.ntm_tabs .ntm_tabContent {
	background-color: rgb(234,234,234);
	padding			: 20px 20px;
}
.ntm_PL_HomeWPZL .ntm_tabs .ntm_tabContent {
	background-color: rgb(255,255,255);
	padding			: 20px 18px 20px 8px;
}
.ntm_tabs .ntm_tabContent .ms-webpart-chrome-title {
	display			: none;
}
.ntm_tabs .ntm_tabContent .ms-webpart-chrome-title.ntm_Show {
	display			: block;
}


/* Template zum Einblenden einer Webpart-Überschrift (im Beispiel-Template der Titel des zweiten Webpart im ersten Tab)
.ntm_tabContent-0 .ntm_WebpartIndex-1 .ms-webpart-chrome-title {
	display			: block;
}*/