﻿/* Styles für ABC Links */
.ms-rtestate-field a span.ms-rteFontSize-3 {
	display		: inline-block;
	cursor		: pointer;
	min-width	: 12px;
	text-align	: center;
	padding		: 1px 2px 1px 2px;
	margin		: 0px 0px 0px 0px;
	line-height	: 1em;
}
.ms-rtestate-field a span.ms-rteFontSize-3:hover {
	background-color: #E1E9F0;
}

/*************************/
/* Search Item Display Template Telefonbuch */

.ms-srch-result-groups {
	margin-bottom: 15px;
}
.ms-srch-group-content {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
/*	-moz-column-width: 420px;
	-webkit-column-width: 420px;
	column-width: 420px;*/
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
/*	-moz-column-rule: 2px dotted #dde0e1;
	-webkit-column-rule: 2px dotted #dde0e1;
	column-rule: 2px dotted #dde0e1;
*/
}
.ntm_TelefonlisteOuter {
	line-height	: 1.3em;
	width	: 376px;
	break-inside: avoid;
	page-break-inside: avoid;
	padding		: 0px 0px 12px 0px;
	display		: -webkit-inline-box;
	display		: -ms-inline-flexbox;
	display		: inline-block;
}
.ntm_Telefonbuch.ms-srch-people-outerContainer {
	min-width	: 420px;
	width		: 48%;
	padding		: 2px 12px 2px 4px;
	margin-left	: -4px;
	border-bottom: 1px solid #dadada;
	break-inside: avoid;
	page-break-inside: avoid;
	display		: -webkit-inline-box;
	display		: -ms-inline-flexbox;
	display		: inline-block;
}
.ntm_Telefonbuch.ms-srch-people-outerContainer .ntm_Trenner,
.ntm_TelefonlisteOuter .ntm_Trenner {
	border-bottom: 1px solid rgb(200,167,155);
}
.ms-srch-group-content > .ntm_Telefonbuch.ms-srch-people-outerContainer:nth-of-type(2n) .ntm_Trenner,
.ms-srch-group-content > .ntm_TelefonlisteOuter:nth-of-type(2n) .ntm_Trenner {
	background-color: rgb(249,245,242);
	background-color: rgba(249,245,242,.8);
}
.ntm_Telefonbuch .ms-srch-people-item {
	min-height	: 54px;
	padding-right: 0px;
	padding-top	: 0px;
	min-width	: 410px;
	width		: 99%;
	position	: relative;
}
.ntm_TelefonlisteItem {
	position	: relative;
	padding		: 8px 12px;
	border		: 1px solid #dadada;
	border-width: 1px 1px 1px 6px;
	background-color: rgb(252,252,252);
/*width:100%;*/
}
.ntm_Telefonbuch .ms-srch-people-item #UserPersonaContainer {
	width		: 54px;
	float		: left;
}
.ntm_Telefonbuch .ms-srch-people-item #UserPersona {
	height		: 54px;
}
.ntm_Telefonbuch .ms-srch-people-item #UserInfoContainer {
	margin-left	: 0px;
	min-width	: 340px;
	width		: 80%;
	padding-top	: 2px;
}
.ntm_Telefonbuch  #MoreInfoLong,
.ntm_Telefonbuch  #MoreInfoShort {
	display		: none;
}
.ms-searchCenter-result-main {
	float		: none;
}
.ntm_TelefonlisteOuter span.ntm_Beschreibung {
	color		: #AAAAAA;
}
#NTM_NameField {
	color		: #000000;
	padding		: 2px 0px;
}
#NTM_CompanyField {
	padding		: 0px 0px 8px 0px;
}


/* Fix horizontaler Scrollbalken*/
body.ntm_General #s4-workspace #s4-bodyContainer {
    width       : 100% !important;
	display		: table;
}

.ms-srch-ellipsis div {
}
.ms-srch-ellipsis .ntm_DDep {}
.ms-srch-ellipsis .ntm_DOff {}
.ms-srch-ellipsis .ntm_DSt {}
.ms-srch-ellipsis div .ntm_Komma {

}
img.ntm_TBIcon {
	width: auto;
	height: 16px;
	position: relative;
	top: 3px;
}




#Item_Telefonbuch .ms-srch-people-item {position:relative;}
.ms-peopleux-userImg {width:52px;}
#UserInfoContainer {padding-left: 4px;}
