﻿/* Style Datei für die Tooltip Lösung

 */

.ntm_TooltipCont {
	position		: absolute; 
	text-align		: left; 
	z-index			: 1200;
	min-width		: 260px;
	max-width		: 400px;
	min-height		: 50px;
	/* zurücksetzen von geerbten Styles */
	font-size		: 13px;
	text-transform	: none;
	font-weight		: normal;
}
.ntm_tooltipBody {
	padding			: 5px 10px;
	position		: relative;
	-webkit-box-shadow: 2px 9px 18px 0px rgba(0,0,0,0.4);
	-moz-box-shadow	: 2px 9px 18px 0px rgba(0,0,0,0.4);
	box-shadow		: 2px 9px 18px 0px rgba(0,0,0,0.4);
}
.tooltipTitle {
	padding			: 12px 50px 10px 0px;
	font-size		: 1.1em;	
}
.ntm_TooltipHTML {
	
}
.ntm_Rueckmeldung {
	display			: none;
	font-size		: 0.8em;
	margin-top		: 10px;
}
.Verkehrsblau {
	background-color: rgb(51,153,204);
}
.Lichtblau {
	background-color: rgb(118,183,225);
} 

.ntm_Triangle {
	position		: absolute;
	width			: 5%;
	padding-left	: 5%;
	padding-bottom	: 5%;
	height			: 0;  
	overflow		: hidden;
}
.ntm_TooltipCont .ntm_Triangle:after {
	content			: "";
	display			: block;
	width			: 0;
	height			: 0;
	margin-left		:-500px;
	border-left		: 500px solid transparent;
	border-right	: 500px solid transparent;
	border-bottom	: 500px solid rgb(223,20,35);
}


.Box-Links {
	right 			: calc(100% + 20px);
/*	left			: -20%;*/
}
.Box-Rechts {
/*	left 			: calc(100% + 20px);*/
	right			: -22%;
}
.Box-Rechts.Pfeil-Oben,
.Box-Links.Pfeil-Oben {
/*	bottom			: calc(100% - 70px);*/
	top			: -60px;
}
.Box-Rechts.Pfeil-Unten,
.Box-Links.Pfeil-Unten {
	bottom			: -60px;
}
.Box-Rechts.Pfeil-Mitte,
.Box-Links.Pfeil-Mitte {
	bottom			: -90px;
}

.ntm_TooltipCont.Box-Links .ntm_Triangle {
	right			: -6%;
	transform		: rotate(90deg);
}
.ntm_TooltipCont.Box-Rechts .ntm_Triangle {
	left			: -6%;
	transform		: rotate(-90deg);
}
.ntm_TooltipCont.Pfeil-Oben .ntm_Triangle {
	top				: 20%;
}
.ntm_TooltipCont.Pfeil-Mitte .ntm_Triangle {
	top				: 45%;
}
.ntm_TooltipCont.Pfeil-Unten .ntm_Triangle {
	bottom				: 20%;
}


.Box-Unten {
	top 			: calc(100% + 20px);
/*	bottom			: -200px;*/
}
.Box-Oben {
	bottom 			: calc(100% + 20px);
/*	top			: -200px;*/
}
.ntm_TooltipCont.Box-Oben .ntm_Triangle {
	transform		: rotate(180deg);
	bottom			: -6%;
}
.ntm_TooltipCont.Pfeil-Links .ntm_Triangle {
	left			: 15%;
}
.ntm_TooltipCont.Box-Unten .ntm_Triangle {
	top			: -6%;
}
.ntm_TooltipCont.Pfeil-Rechts .ntm_Triangle {
	right			: 15%;
}
.ntm_TooltipFooter {
	text-align		: right;
	padding			: 12px 0px 2px 0px;
}

/* Funktionen */
.tooltipHide{
	display:none;
}
.tooltipShow{
	display:block;
}
.mouseOn{
	border:2px solid red !important;
}


/* Hintergrundfarben */
.ntm_TooltipCont .ntm_Farbe *,
.ntm_TooltipCont .ntm_Farbe.Weiß *,
.ntm_TooltipCont .ntm_Farbe.Verkehrsgelb *,
.ntm_TooltipCont .ntm_Farbe.Verkehrsgrau * {
	color			: rgb(0,0,0);
}
.ntm_TooltipCont .ntm_Farbe.Rot *, .ntm_TooltipCont .ntm_Farbe.Red *,
.ntm_TooltipCont .ntm_Farbe.Dunkelrot *, .ntm_TooltipCont .ntm_Farbe.Darkred *,
.ntm_TooltipCont .ntm_Farbe.Lila *, .ntm_TooltipCont .ntm_Farbe.Purple *, 
.ntm_TooltipCont .ntm_Farbe.Dunkelgrün *, .ntm_TooltipCont .ntm_Farbe.Darkgreen *, 
.ntm_TooltipCont .ntm_Farbe.Blau *, .ntm_TooltipCont .ntm_Farbe.Blue *,
.ntm_TooltipCont .ntm_Farbe.Hellblau *, .ntm_TooltipCont .ntm_Farbe.Lightblue *,
.ntm_TooltipCont .ntm_Farbe.Dunkelblau *, .ntm_TooltipCont .ntm_Farbe.Darkblue *,
.ntm_TooltipCont .ntm_Farbe.Verkehrsblau *, .ntm_TooltipCont .ntm_Farbe.Verkehrsrot *,
.ntm_TooltipCont .ntm_Farbe.Verkehrspurpur *, .ntm_TooltipCont .ntm_Farbe.Verkehrsschwarz *, 
.ntm_TooltipCont .ntm_Farbe.Schiefergrau *, .ntm_TooltipCont .ntm_Farbe.Lichtblau *  {
	color			: rgb(255,255,255) !important;
}

/* siehe webparts.css */



/* Buttons */

.ntm_TooltipCont .ntm_Close {
	display			: inline-block;
	float			: right;
	width			: 30px;
	height			: 26px;
	margin			: 2px -2px 0px 6px;
}
.ntm_TooltipCont .ntm_Close a {
	display			: inline-block;
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_l_close_s.svg") no-repeat right center;
	background-size	: auto 26px;
	text-decoration	: none;
	/* zurücksetzen von geerbten Styles */
	margin			: 0px 0px 0px 0px !important;
	border-width	: 0px 0px !important;
	font-size		: 1em;
}
.ntm_TooltipCont .ntm_Farbe.Rot .ntm_Close a, .ntm_TooltipCont .ntm_Farbe.Red .ntm_Close a,
.ntm_TooltipCont .ntm_Farbe.Dunkelrot .ntm_Close a, .ntm_TooltipCont .ntm_Farbe.Darkred .ntm_Close a,
.ntm_TooltipCont .ntm_Farbe.Lila .ntm_Close a, .ntm_TooltipCont .ntm_Farbe.Purple .ntm_Close a, 
.ntm_TooltipCont .ntm_Farbe.Dunkelgrün .ntm_Close a, .ntm_TooltipCont .ntm_Farbe.Darkgreen .ntm_Close a, 
.ntm_TooltipCont .ntm_Farbe.Blau .ntm_Close a, .ntm_TooltipCont .ntm_Farbe.Blue .ntm_Close a,
.ntm_TooltipCont .ntm_Farbe.Dunkelblau .ntm_Close a, .ntm_TooltipCont .ntm_Farbe.Darkblue .ntm_Close a,
.ntm_TooltipCont .ntm_Farbe.Hellblau .ntm_Close a, .ntm_TooltipCont .ntm_Farbe.Lightblue .ntm_Close a,
.ntm_TooltipCont .ntm_Farbe.Verkehrsblau .ntm_Close a, .ntm_TooltipCont .ntm_Farbe.Verkehrsrot .ntm_Close a,
.ntm_TooltipCont .ntm_Farbe.Verkehrspurpur .ntm_Close a, .ntm_TooltipCont .ntm_Farbe.Verkehrsschwarz .ntm_Close a, 
.ntm_TooltipCont .ntm_Farbe.Schiefergrau .ntm_Close a, .ntm_TooltipCont .ntm_Farbe.Lichtblau .ntm_Close a {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_l_close_w.svg") no-repeat right center;
	background-size	: auto 26px;
}
.ntm_TooltipCont .ntm_Close a:hover {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_l_close_w.svg") no-repeat right center;
	background-size	: auto 26px;
	text-decoration	: none;
}
.ntm_TooltipCont .ntm_Farbe.Rot .ntm_Close a:hover, .ntm_TooltipCont .ntm_Farbe.Red .ntm_Close a:hover,
.ntm_TooltipCont .ntm_Farbe.Dunkelrot .ntm_Close a:hover, .ntm_TooltipCont .ntm_Farbe.Darkred .ntm_Close a:hover,
.ntm_TooltipCont .ntm_Farbe.Lila .ntm_Close a:hover, .ntm_TooltipCont .ntm_Farbe.Purple .ntm_Close a:hover, 
.ntm_TooltipCont .ntm_Farbe.Dunkelgrün .ntm_Close a:hover, .ntm_TooltipCont .ntm_Farbe.Darkgreen .ntm_Close a:hover, 
.ntm_TooltipCont .ntm_Farbe.Dunkelblau .ntm_Close a:hover, .ntm_TooltipCont .ntm_Farbe.Darkblue .ntm_Close a:hover,
.ntm_TooltipCont .ntm_Farbe.Verkehrsblau .ntm_Close a:hover, .ntm_TooltipCont .ntm_Farbe.Verkehrsrot .ntm_Close a:hover,
.ntm_TooltipCont .ntm_Farbe.Verkehrspurpur .ntm_Close a:hover, .ntm_TooltipCont .ntm_Farbe.Verkehrsschwarz .ntm_Close a:hover, 
.ntm_TooltipCont .ntm_Farbe.Schiefergrau .ntm_Close a:hover, .ntm_TooltipCont .ntm_Farbe.Lichtblau .ntm_Close a:hover  {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_l_close_s.svg") no-repeat right center;
	background-size	: auto 26px;
}
.ntm_TooltipCont .ntm_Share {
	display			: inline-block;
	float			: right;
	width			: 24px;
	height			: 20px;
	margin			: 0px 0px 0px 6px;
}
.ntm_TooltipCont .ntm_Share a {
	background		: transparent url("/_layouts/15/images/zap/svg/weiterleiten_s.svg") no-repeat center center;
	background-size	: auto 18px;
	text-decoration	: none;
	/* zurücksetzen von geerbten Styles */
	margin			: 0px 0px 0px 0px !important;
	border-width	: 0px 0px !important;
	font-size		: 1em;
}
.ntm_TooltipCont .ntm_Farbe.Rot .ntm_Share a, .ntm_TooltipCont .ntm_Farbe.Red .ntm_Share a,
.ntm_TooltipCont .ntm_Farbe.Dunkelrot .ntm_Share a, .ntm_TooltipCont .ntm_Farbe.Darkred .ntm_Share a,
.ntm_TooltipCont .ntm_Farbe.Lila .ntm_Share a, .ntm_TooltipCont .ntm_Farbe.Purple .ntm_Share a, 
.ntm_TooltipCont .ntm_Farbe.Dunkelgrün .ntm_Share a, .ntm_TooltipCont .ntm_Farbe.Darkgreen .ntm_Share a, 
.ntm_TooltipCont .ntm_Farbe.Blau .ntm_Share a, .ntm_TooltipCont .ntm_Farbe.Blue .ntm_Share a,
.ntm_TooltipCont .ntm_Farbe.Hellblau .ntm_Share a, .ntm_TooltipCont .ntm_Farbe.Lightblue .ntm_Share a,
.ntm_TooltipCont .ntm_Farbe.Dunkelblau .ntm_Share a, .ntm_TooltipCont .ntm_Farbe.Darkblue .ntm_Share a,
.ntm_TooltipCont .ntm_Farbe.Verkehrsblau .ntm_Share a, .ntm_TooltipCont .ntm_Farbe.Verkehrsrot .ntm_Share a,
.ntm_TooltipCont .ntm_Farbe.Verkehrspurpur .ntm_Share a, .ntm_TooltipCont .ntm_Farbe.Verkehrsschwarz .ntm_Share a, 
.ntm_TooltipCont .ntm_Farbe.Schiefergrau .ntm_Share a, .ntm_TooltipCont .ntm_Farbe.Lichtblau .ntm_Share a {
	background		: transparent url("/_layouts/15/images/zap/svg/weiterleiten_w.svg") no-repeat right center;
	background-size	: auto 18px;
}
.ntm_TooltipCont .ntm_Share a:hover {
	background		: transparent url("/_layouts/15/images/zap/svg/weiterleiten_w.svg") no-repeat center center;
	background-size	: auto 18px;
	text-decoration	: none;
}
.ntm_TooltipCont .ntm_Farbe.Rot .ntm_Share a:hover, .ntm_TooltipCont .ntm_Farbe.Red .ntm_Share a:hover,
.ntm_TooltipCont .ntm_Farbe.Dunkelrot .ntm_Share a:hover, .ntm_TooltipCont .ntm_Farbe.Darkred .ntm_Share a:hover,
.ntm_TooltipCont .ntm_Farbe.Lila .ntm_Share a:hover, .ntm_TooltipCont .ntm_Farbe.Purple .ntm_Share a:hover, 
.ntm_TooltipCont .ntm_Farbe.Dunkelgrün .ntm_Share a:hover, .ntm_TooltipCont .ntm_Farbe.Darkgreen .ntm_Share a:hover, 
.ntm_TooltipCont .ntm_Farbe.Dunkelblau .ntm_Share a:hover, .ntm_TooltipCont .ntm_Farbe.Darkblue .ntm_Share a:hover,
.ntm_TooltipCont .ntm_Farbe.Verkehrsblau .ntm_Share a:hover, .ntm_TooltipCont .ntm_Farbe.Verkehrsrot .ntm_Share a:hover,
.ntm_TooltipCont .ntm_Farbe.Verkehrspurpur .ntm_Share a:hover, .ntm_TooltipCont .ntm_Farbe.Verkehrsschwarz .ntm_Share a:hover, 
.ntm_TooltipCont .ntm_Farbe.Schiefergrau .ntm_Share a:hover, .ntm_TooltipCont .ntm_Farbe.Lichtblau .ntm_Share a:hover {
	background		: transparent url("/_layouts/15/images/zap/svg/weiterleiten_s.svg") no-repeat right center;
	background-size	: auto 18px;
}
.ntm_TooltipCont .ntm_Close img, .ntm_TooltipCont .ntm_Share img {
	width			: 30px;
	height			: 20px;
}
.ntm_TooltipCont .ntm_Close a span,
.ntm_TooltipCont .ntm_Share a span {
	background		: none !important;
}

.ntm_Hilfreich a {
	display			: inline-block;
	padding			: 0px 2px;
	text-decoration	: none;
	/* zurücksetzen von geerbten Styles */
	margin			: 0px 0px 0px 0px !important;
	border-width	: 0px 0px !important;
	font-size		: 1em !important;
}
.ntm_Hilfreich a:hover {
	display			: inline-block;
	padding			: 0px 2px;
	text-decoration	: underline;
	cursor			: pointer;
}
#NTM_TooltipsViewAll {
}
.ntm_BtnTooltipsViewAll {
	margin			: 0px 0 0 0;
	display			: inline-block;
	line-height		: 1.2em;
	padding			: 12px 12px 8px 12px;
	background-color: transparent;
	color			: #373632;
	cursor			: pointer;
	font-size		: 1em;
	border			: none;
	border-width	: 0px 0px;
}
.ntm_BtnTooltipsViewAll:hover {
	background-color: rgba(133,206,227,1);
	-moz-transition	: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-o-transition	: all .3s ease-in;
	transition		: all .3s ease-in;
	color			: #373632;
	cursor			: pointer;
	border			: none;
	border-width	: 0px 0px;
}

.ntm_TooltipCont .ntm_Triangle.Dunkelblau, .ntm_TooltipCont .ntm_Triangle.Darkblue,
.ntm_TooltipCont .ntm_Triangle.Blau, .ntm_TooltipCont .ntm_Triangle.Blue,
.ntm_TooltipCont .ntm_Triangle.Hellblau, .ntm_TooltipCont .ntm_Triangle.Lightblue, .ntm_TooltipCont .ntm_Triangle.Lichtblau,
.ntm_TooltipCont .ntm_Triangle.Beere, .ntm_TooltipCont .ntm_Triangle.Berry,
.ntm_TooltipCont .ntm_Triangle.Dunkelgrau, .ntm_TooltipCont .ntm_Triangle.Darkgrey,
.ntm_TooltipCont .ntm_Triangle.Braun, .ntm_TooltipCont .ntm_Triangle.Tan,
.ntm_TooltipCont .ntm_Triangle.Gelb, .ntm_TooltipCont .ntm_Triangle.Yellow,
.ntm_TooltipCont .ntm_Triangle.Dunkelgelb, .ntm_TooltipCont .ntm_Triangle.Darkyellow,
.ntm_TooltipCont .ntm_Triangle.Grau, .ntm_TooltipCont .ntm_Triangle.Grey,
.ntm_TooltipCont .ntm_Triangle.Graublau, .ntm_TooltipCont .ntm_Triangle.Greyblue,
.ntm_TooltipCont .ntm_Triangle.Hellgrün, .ntm_TooltipCont .ntm_Triangle.Lightgreen,
.ntm_TooltipCont .ntm_Triangle.Dunkelgrün, .ntm_TooltipCont .ntm_Triangle.Darkgreen,
.ntm_TooltipCont .ntm_Triangle.Grün, .ntm_TooltipCont .ntm_Triangle.Green,
.ntm_TooltipCont .ntm_Triangle.Rot, .ntm_TooltipCont .ntm_Triangle.Red,
.ntm_TooltipCont .ntm_Triangle.Dunkelrot, .ntm_TooltipCont .ntm_Triangle.Darkred,
.ntm_TooltipCont .ntm_Triangle.Nude,
.ntm_TooltipCont .ntm_Triangle.Orange, .ntm_TooltipCont .ntm_Triangle.Blutorange,
.ntm_TooltipCont .ntm_Triangle.Rosa, .ntm_TooltipCont .ntm_Triangle.Pink,
.ntm_TooltipCont .ntm_Triangle.Orangerot, .ntm_TooltipCont .ntm_Triangle.Orangered,
.ntm_TooltipCont .ntm_Triangle.Lila, .ntm_TooltipCont .ntm_Triangle.Purple,
.ntm_TooltipCont .ntm_Triangle.Weiß, .ntm_TooltipCont .ntm_Triangle.White,
.ntm_TooltipCont .ntm_Triangle.Verkehrsgelb, .ntm_TooltipCont .ntm_Triangle.Verkehrsblau, 
.ntm_TooltipCont .ntm_Triangle.Verkehrsrot, .ntm_TooltipCont .ntm_Triangle.Verkehrspurpur, 
.ntm_TooltipCont .ntm_Triangle.Verkehrsschwarz, .ntm_TooltipCont .ntm_Triangle.Verkehrsgrau, 
.ntm_TooltipCont .ntm_Triangle.Schiefergrau, .ntm_TooltipCont .ntm_Triangle.Lichtblau {
	background-color: transparent;
}

.ntm_TooltipCont .ntm_Triangle.Dunkelblau:after, .ntm_TooltipCont .ntm_Triangle.Darkblue:after {
	border-bottom-color	: rgb(9,88,147);
}
.ntm_TooltipCont .ntm_Triangle.Blau:after, .ntm_TooltipCont .ntm_Triangle.Blue:after {
	border-bottom-color	: rgb(9,88,147);
}
.ntm_TooltipCont .ntm_Triangle.Hellblau:after, .ntm_TooltipCont .ntm_Triangle.Lightblue:after {
	border-bottom-color	: rgb(0,149,219);
}
.ntm_TooltipCont .ntm_Triangle.Lichtblau:after {
	border-bottom-color	: rgb(0,149,219);
}
.ntm_TooltipCont .ntm_Triangle.Beere:after, .ntm_TooltipCont .ntm_Triangle.Berry:after {
	background-color	: rgb(184,13,120);
}
.ntm_TooltipCont .ntm_Triangle.Dunkelgrau:after, .ntm_TooltipCont .ntm_Triangle.Darkgrey:after {
	border-bottom-color: rgb(105,105,105);
}
.ntm_TooltipCont .ntm_Triangle.Braun:after, .ntm_TooltipCont .ntm_Triangle.Tan:after {
	border-bottom-color: rgb(255,214,88);
}
.ntm_TooltipCont .ntm_Triangle.Gelb:after, .ntm_TooltipCont .ntm_Triangle.Yellow:after,
.ntm_TooltipCont .ntm_Triangle.Verkehrsgelb:after {
	border-bottom-color: rgb(255,204,0);
}
.ntm_TooltipCont .ntm_Triangle.Dunkelgelb:after, .ntm_TooltipCont .ntm_Triangle.Darkyellow:after {
	border-bottom-color: rgb(217,177,55);
}
.ntm_TooltipCont .ntm_Triangle.Grau:after, .ntm_TooltipCont .ntm_Triangle.Grey:after {
	border-bottom-color: rgb(140,140,140);
}
.ntm_TooltipCont .ntm_Triangle.Graublau:after:after, .ntm_TooltipCont .ntm_Triangle.Greyblue:after {
	border-bottom-color: #91AFC5;
}
.ntm_TooltipCont .ntm_Triangle.Hellgrün:after, .ntm_TooltipCont .ntm_Triangle.Lightgreen:after {
	border-bottom-color: rgb(175,202,6);
}
.ntm_TooltipCont .ntm_Triangle.Dunkelgrün:after, .ntm_TooltipCont .ntm_Triangle.Darkgreen:after {
	border-bottom-color: rgb(112,164,137);
}
.ntm_TooltipCont .ntm_Triangle.Grün:after, .ntm_TooltipCont .ntm_Triangle.Green:after {
	border-bottom-color: rgb(81,174,49);
}
.ntm_TooltipCont .ntm_Triangle.Rot:after, .ntm_TooltipCont .ntm_Triangle.Red:after {
	border-bottom-color: rgb(212,15,20);
}
.ntm_TooltipCont .ntm_Triangle.Dunkelrot:after, .ntm_TooltipCont .ntm_Triangle.Darkred:after {
	border-bottom-color: rgb(168,0,34);
}
.ntm_TooltipCont .ntm_Triangle.Nude:after {
	border-bottom-color: #C07361;
}
.ntm_TooltipCont .ntm_Triangle.Orange:after, .ntm_TooltipCont .ntm_Triangle.Blutorange:after {
	border-bottom-color: rgb(243,146,0);
}
.ntm_TooltipCont .ntm_Triangle.Rosa:after, .ntm_TooltipCont .ntm_Triangle.Pink:after  {
	border-bottom-color: rgb(255,108,108);
}
.ntm_TooltipCont .ntm_Triangle.Orangerot:after, .ntm_TooltipCont .ntm_Triangle.Orangered:after {
	border-bottom-color: rgb(230,25,0);
}
.ntm_TooltipCont .ntm_Triangle.Lila:after, .ntm_TooltipCont .ntm_Triangle.Purple:after {
	border-bottom-color: rgb(134,95,127);
}
.ntm_TooltipCont .ntm_Triangle.Weiß:after, .ntm_TooltipCont .ntm_Triangle.White:after {
	border-bottom-color: #FFFFFF;
}
.ntm_TooltipCont .ntm_Triangle.Schiefergrau:after {
	border-bottom-color: rgb(89,91,98);
}
.ntm_TooltipCont .ntm_Triangle.Verkehrsgrau:after {
	border-bottom-color: rgb(152,155,154);
}
.ntm_TooltipCont .ntm_Triangle.Verkehrsschwarz:after {
	border-bottom-color: rgb(37, 36, 36);
}
.ntm_TooltipCont .ntm_Triangle.Verkehrspurpur:after {
	border-bottom-color: rgb(149,39,110);
}
.ntm_TooltipCont .ntm_Triangle.Verkehrsrot:after {
	border-bottom-color: rgb(190, 20, 20);
}
.ntm_TooltipCont .ntm_Triangle.Verkehrsblau:after {
	border-bottom-color: rgb(51,153,204);
}
