﻿/***************************************
* zusäzliches Stylesheets für Webparts
* Erstellt: 	  	25.02.2019
***************************************/
/* Allgemein */

.ms-PartSpacingVertical, .ms-WPBody /*.ms-wpContentDivSpace */ {
	margin-bottom	: 10px;
}
.ms-webpartzone-cell {
	margin			: auto auto 0px;
}
.ms-webpart-chrome-vertical.ms-webpart-chrome-fullWidth {
	display			: table;
}
.ntm_NewsNachladen {
	display			: none;
}
/*.ms-rtestate-field*/ ul.dfwp-list, ul.dfwp-column, .item {
	padding-left	: 0px;
	list-style-type	: none;
}
.bullet {
	background		: url("/_layouts/15/images/zap/svg/link_blank.svg") no-repeat left 7px;
	padding-left	: 12px;
}
.ntm_LinkItem {
	background		: url("/_layouts/15/images/zap/svg/link_blank.svg") no-repeat 2px 7px;
	padding			: 3px 0px 8px 0px;
}
.ntm_LinkItem:hover {
	background		: url("/_layouts/15/images/zap/svg/link_blank_hover.svg") no-repeat 2px 7px;
}
.ntm_Footerbox1 .ntm_LinkItem {
	background		: none;
	padding			: 6px 0px 10px 0px;
}
.ntm_Footerbox2 .ntm_LinkItem,
.ntm_Footerbox2 .ntm_LinkItem:hover {
	background		: url("/_layouts/15/images/zap/svg/footer_link.svg") no-repeat left 6px;
	background-size	: 16px 16px;
	padding			: 6px 0px 10px 8px;
}
.ntm_LinkItem .ntm_Title {
	font-size		: 1em;
	padding			: 0px 0px 0px 16px;
}
.ntm_Footerbox .ntm_LinkItem .ntm_Title {
	font-size		: 1em;
}
.ntm_Footerbox1 .ntm_LinkItem .ntm_Title {
	padding			: 0px 0px 0px 0px;
}
.ntm_LinkItem .ntm_Description {
	font-size		: 1em;
	padding			: 0px 0px 0px 16px;
}
.ntm_Footerbox .ntm_LinkItem .ntm_Description {
	display			: none;
}

.ms-webpart-chrome .ms-wpContentDivSpace {
	padding			: 0px 0px 6px 0px;
}
.dfwp-item .item.link-item {
	background		: url("/_layouts/15/images/zap/svg/link_blank.svg") no-repeat 2px 12px;
	line-height		: 1.4em;
	padding			: 6px 0px 6px 0px;
	border-top		: 1px solid rgb(205,205,205);
}
.dfwp-item .item.link-item:hover {
	background		: url("/_layouts/15/images/zap/svg/link_blank_hover.svg") no-repeat 2px 12px;
}
.dfwp-item .item.link-item a {
	display			: inline-block;
	padding			: 0px 0px 0px 16px;
	font-size		: 1em;
}
.dfwp-item .item.link-item.ntm_Stellenangebote a {
	display			: inline-block;
	padding			: 0px 0px 0px 3px;
	font-size		: 1.15em;
	max-width		: 90%;
}

.dfwp-item .item.link-item a:hover {
	color			: rgb(9,88,147);
}
.dfwp-item .item.link-item .description {
	padding			: 2px 0px 0px 16px;
	font-size		: .95em;
	color			: rgb(79,79,77);
/*	white-space		: pre-wrap;
	word-wrap		: break-word;
	word-break		: break-all;
	word-break		: break-word;
	-webkit-hyphens	: auto;
	-moz-hyphens	: auto;
	hyphens			: auto;
	overflow		: hidden;*/
}
.image-area-left img {
	max-width		: 400px !important;
	height			: auto !important;
}

/* Bildergalerie */
.ntm_GalleryText {
	display			: none;
}

.ntm_Nav-ABC-Leiste {
	font-size: 1.1em;
	padding: 0px 0px 0px 8px;
}
.ntm_Nav-ABC-Leiste a {
	display: table-cell;
	padding: 6px 14px 5px 14px;
	min-width: 14px;
	margin: 0px 0px 6px 8px;
	float: left;
	background-color: rgb(255,255,255);
	text-align: center;
}
.ntm_Nav-ABC-Leiste a:hover {
	background-color: rgb(9,88,147);
}


/* Gruppierung */
ul.dfwp-list .groupheader {
	margin-top		: 16px;
	margin-left		: 0px;
}
/* Announcement */
.ms-announcementtitle {
	font-size		: 1.1em;
}
/* Webparts allgemein */
.ms-webpart-chrome-title {
	padding-top		: 4px;
}
/* zuletzt geänderte Dokumente */
.ntm_DocIcon {
	display			: inline-block;
	padding-right	: 5px;
}
.ntm_DocIcon img {
	vertical-align	: text-top;
}
.ntm_Documents .ntm_Title {
	font-size		: 1em;
	display			: inline-block;
	position		: relative;
/*	top				: 3px;*/
	padding-bottom	: 6px;
}
.ntm_Documents .ntm_DocModified {
	padding			: 2px 0px;
}
.ntm_Documents .ntm_Description {
}
.ntm_Documents .ntm_Pfad {
	display			: none;
}

/* Bild oben */

.item.ntm_BildObenFloat {
	display			: inline-block;
	float			: left;
	clear			: none;
	width			: 340px;
	padding			: 16px 20px 16px 16px;
	margin			: 0px 8px 16px 8px;
	box-shadow		: 1px 1px 6px 0px rgba(0,0,0,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.item.ntm_BildObenFloat > div {
}
.item.ntm_BildObenFloat:hover {
	background-color: rgb(255,165,0);
}
.item.ntm_BildObenFloat .image-area-top {
	min-height		: 200px;
}
.item.ntm_BildObenFloat .link-item a {
	font-size		: 1.4em;
	display			: inline-block;
	padding			: 8px 0px;
	min-height		: 60px;
}


/* Zitate */
/*SOFTWAREONE REQ 3.1*/
.ntm_Zitate {
	display: table;
	max-width: 750px;
	width: 70%;
	margin: 80px 1% 40px auto;
	/*background: transparent url('/_layouts/15/images/zap/bgzitat.svg') no-repeat left top;*/
	/*background: transparent url('/_layouts/15/images/zap/svg/bgzitatklein.svg') no-repeat left top; */
	background-size: auto 100%;
	font-family: "Open Sans Condensed", Tahoma, Geneva, sans-serif;
	font-weight: 700;
	font-size: 1.6em;
	line-height: 1.6;
	color: rgb(255,255,255);
}
	.ntm_Zitate > div {
		display: table-cell;
		vertical-align: middle;
		/*
		padding			: 8px 48px 24px 48px;
		height			: 240px;
		background		: transparent url('/_layouts/15/images/zap/zitat.svg') no-repeat 48px 16px;
		background-size	: 30px auto;*/
		/*SOFTWAREONE REQ 3.1 
			background und border code von Hr. Flachsmann übernommen 28082020
		*/
		padding: 18px 48px 24px 48px;

		border-radius: 5px;
		background: rgba(26, 159, 221, 0.80);
	}
.ntm_Zitate .ntm_Quelle {
	text-align		: right;
	/*SOFTWARE ONE 3.1
	font-size		: .85em; */
	font-size		: .7em; */
	padding-top		: 12px;
}
.ntm_Zitate.klein .ntm_Quelle {
	font-size		: .8em;
}
.ntm_Zitate.klein .ntm_Zitattitel {
	font-size		: .9em;
}
.ntm_Zitate.groß .ntm_Zitattitel {
	font-size		: 1.2em;
}

/* Historischer Kalender */
.ntm_HistorischerKalender {
/*	background		: transparent url('/_layouts/15/images/zap/svg/watch.svg') no-repeat right center;
	background-size	: 44px auto;*/
	cursor			: pointer;
	display			: inline-block;
	width			: auto;
	padding-right	: 16px; /*68px;*/
	position		: relative;
	top				: -134px;
	margin-bottom	: -20px;
}
.ntm_HistorischerKalender:hover {
/*	background		: transparent url('/_layouts/15/images/zap/svg/watch-h.svg') no-repeat right center;
	background-size	: 44px auto;*/
}
.ntm_Kalenderblatt {
	display			: inline-block;
	background		: rgb(255,255,255) url('/_layouts/15/images/zap/svg/DateTime-hgrau.svg') no-repeat 8px center;
	background-size	: 44px auto;
	padding			: 16px 20px 16px 62px;
	box-shadow		: 1px 1px 6px 0px rgba(0,0,0,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ntm_Kalenderblatt:hover {
	background		: rgb(255,165,0) url('/_layouts/15/images/zap/svg/DateTime-hgrau.svg') no-repeat 8px center;
	background-size	: 44px auto;
}
.ntm_Kalenderblatt .ntm_HKTitle {
	font-family		: "Open Sans Condensed", Tahoma, Geneva, sans-serif;
	font-weight		: 700;
	font-size		: 1.1em;
}
.ntm_Kalenderblatt .ntm_DatumHeute {
	font-size		: .9em;
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
}
.ntm_KalenderblattBig {
	position		: absolute;
	top				: 10%;
	left			: 33%;
	z-index			: 800;
	background-color: rgb(255,255,255) ;
	padding			: 0px 0px 20px 0px;
	box-shadow		: 3px 3px 12px 0px rgba(0,0,0,0.4);
	width			: 580px;
	display			: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ntm_KalenderblattBig .ntm_CtnTitle {
	background		: transparent url('/_layouts/15/images/zap/svg/DateTime-hgrau.svg') no-repeat 28px center;
	background-size	: 44px auto;
	padding			: 16px 16px 16px 82px;
	border-bottom	: 4px solid rgb(0,158,224);
}
.ntm_KalenderblattBig .ntm_CtnTitle .ntm_close {
	float			: right;
	display			: inline-block;
	width			: 30px;
	height			: 30px;
	background		: transparent url('/_layouts/15/images/zap/svg/arrow_l_close_s.svg') no-repeat center center;
	background-size	: 30px auto;
	font-size		: 0px;
	cursor			: pointer;
}
.ntm_KalenderblattBig .ntm_HKTitle {
	font-family		: "Open Sans Condensed", Tahoma, Geneva, sans-serif;
	font-weight		: 700;
	font-size		: 1em;
}
.ntm_KalenderblattBig .ntm_DatumHistorisch {
	font-size		: 1.6em;
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	color			: rgb(0,158,224);
}
.ntm_KalenderblattBig .ntm_CtnEreignis {
	font-size		: 1.2em;
	line-height		: 1.6;
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	padding			: 16px 28px 16px 28px;
}

/* Termine */

.ntm_Termin {
	background-color: rgb(237,237,237);
	border-top		: 1px solid rgb(205,205,205);
	margin			: 0px 0 0 0;
	padding			: 16px 16px 8px 16px;
	display			: block;
	min-height		: 68px;
	min-width		: 225px;
	font-size		: 1em;
}
.ntm_PL_HomeWPZR .ntm_Termin {
	padding			: 12px 16px 10px 0px;
	min-height		: 60px;
}

.ntm_Termin:after {
	clear			: both;
}
.ntm_Termin .ntm_DateBox {
	background-color: rgb(255,255,255);
	width			: 50px;
	float			: left;
	margin			: 0px 16px 0px 0px;
}
.ntm_Termin.ntm_Veranstaltung .ntm_DateBox {
	width			: 110px;
}
.ntm_Termin.ntm_Veranstaltung .ntm_DateBox .ntm_DateBoxWeekday {
	width			: 100%;
	height			: 24px;
	font-size		: .9em;
	color			: rgb(28,28,27);
	padding			: 18px 0px 0px 0px;
	text-align		: center;
}
.ntm_Termin .ntm_DateBox .ntm_DateBoxDay {
	width			: 100%;
	height			: 18px;
	font-size		: 1.4em;
	color			: rgb(28,28,27);
	padding			: 6px 0px 0px 0px;
	text-align		: center;
}
.ntm_Termin.ntm_Veranstaltung .ntm_DateBox .ntm_DateBoxDay {
	height			: 38px;
	font-size		: 1.6em;
	padding			: 6px 0px 6px 0px;
}
.ntm_Termin .ntm_DateBox .ntm_DateBoxMonth {
	width			: 100%;
	height			: 24px;
	overflow		: hidden;
	font-size		: 1.2em;
	font-weight		: normal;
	text-align		: center;
	padding			: 6px 0px 6px 0px;
	color			: #b7b7b7;
}
.ntm_Termin.ntm_Veranstaltung .ntm_DateBox .ntm_DateBoxMonth {
	height			: 24px;
	font-size		: 1.3em;
	padding			: 6px 0px 12px 0px;
}
.ntm_Termin .ntm_TitelAuthorHold {
	padding			: 0px 0 0px 66px;
}
.ntm_Termin.ntm_Veranstaltung .ntm_TitelAuthorHold {
	padding			: 0px 0 0px 126px;
}
.ntm_TerminTitle {
	padding			: 0px 0 4px 0px;
	font-size		: 1em;
}
.ntm_Termin.ntm_Veranstaltung .ntm_TerminTitle {
	font-size		: 1.1em;
}
.ntm_TerminTitle a,
.ntm_TerminTitle a:visited,
a.ntm_TerminTitelLink,
a.ntm_TerminTitelLink:visited {
	color			: rgb(0,147,211);
}
.ntm_Termin .ntm_Description {
	font-size		: 1em;
	color			: #515151;
	padding			: 0 0 0px 0px;
	line-height		: 1.3em;
}
.ntm_Termin.ntm_Veranstaltung .ntm_Description {
	padding			: 6px 0 0px 0px;
}
.ntm_Termin .ntm_Description a,
.ntm_Termin .ntm_Description a:visited {
	color			: #515151;
}
.ntm_TerminTitle a:hover,
a.ntm_TerminTitelLink:hover,
.ntm_Termin .ntm_Description a:hover {
	color			: rgb(9,88,147);
}
#NTM_GruppierungEvents {
	height			: 280px;
	overflow		: hidden;
}
.ntm_Termin div.ntm_MehrLink {
	text-align		: right;
}
.ntm_Teilnehmerinfos {
	font-size		: .9em;
	clear			: both;
	padding			: 4px 0px 6px 0px;
}

/* TerminBox */
.ntm_XSLTermin {
	margin-left: -1%;
	display: block;
	width: auto;
}
.ntm_TerminBox {
	background-color: rgb(255,255,255);
	border			: 1px solid rgb(237,237,237);
	width			: 30.2%;
	margin			: 0px 1% 16px 1%;
	display			: inline-block;
	float			: left;
	height			: 256px;
	overflow		: hidden;
}
.ntm_TerminBox .ntm_DateBox {
	background-color: rgb(237,237,237);
	text-align		: center;
}
.ntm_TerminBox:hover .ntm_DateBox {
	background-color: rgb(255,165,0);/*rgb(186,235,255);*/
}
.ntm_TerminBox .ntm_Wochentag {
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	font-weight		: 400;
	font-size		: .8em;
	padding			: 6px 0px 0px 0px;
}
.ntm_TerminBox .ntm_DateBoxDay {
	font-family		: "Open Sans Condensed", Tahoma, Geneva, sans-serif;
	font-weight		: 700;
	font-size		: 1.4em;
	padding			: 2px 0px 2px 0px;
}
.ntm_TerminBox .ntm_DateBoxMonth {
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	font-weight		: 400;
	font-size		: .8em;
	padding			: 2px 0px 6px 0px;
}
.ntm_TerminBox .ntm_TitelAuthorHold {
	padding			: 0px 8px 16px 8px;
	text-align		: center;
}
.ntm_TerminBox .ntm_TerminTitle {
	font-family		: "Open Sans Condensed", Tahoma, Geneva, sans-serif;
	font-weight		: 700;
	font-size		: 1em;
	padding			: 6px 0px 2px 0px;
}
a.ntm_XSLTermin *,
a[style] .ntm_TerminBox * {
	color			: rgb(26,26,26);
}
a.ntm_XSLTermin:hover *,
a[style]:hover .ntm_TerminBox * {
	color			: rgb(7,70,118);
}
.ntm_TerminBox .ntm_Zeitraum {
	font-size		: .8em;
	padding			: 4px 0px 2px 0px;
}
.ntm_TerminBox .ntm_Location {
	font-size		: .8em;
	padding			: 0px 0px 4px 0px;
	color			: rgb(44,44,44);
}
.ntm_TerminBox .ntm_Description {
	font-size		: .8em;
	padding			: 0px 0px 0px 0px;
	color			: rgb(44,44,44);

overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;  

}
a.ntm_XSLTermin .ntm_Location,
a.ntm_XSLTermin .ntm_Description,
a[style] .ntm_TerminBox .ntm_Location,
a[style] .ntm_TerminBox .ntm_Description {
	color			: rgb(44,44,44);
}



.block-with-text {
overflow: hidden;
position: relative; 
line-height: 1.2em;
max-height: 3.6em; 
text-align: justify;  
margin-right: -1em;
padding-right: 1em;
}
.block-with-text:before {
content: '...';
position: absolute;
right: 0;
bottom: 0;
}
.block-with-text:after {
content: '';
position: absolute;
right: 0;
width: 1em;
height: 1em;
margin-top: 0.2em;
background: white;
}


/* Dokument Box */
.ntm_DocumentBox {
	background-color: rgb(255,255,255);
	border			: 1px solid rgb(237,237,237);
	width			: 30.6%;
	margin			: 0px 1% 16px 1%;
	display			: inline-block;
	float			: left;
	height			: 118px;
	overflow		: hidden;
}
.ntm_DocumentBox:hover {
	background-color: rgb(255,165,0);/*rgb(186,235,255);*/
}
.ntm_DocumentBox .ntm_CtnDocIcon {
	display			: inline-block;
	float			: right;
	padding			: 8px 8px;
	width			: 8px;
	height			: 8px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('/_layouts/15/images/zap/svg/gen.svg');
	background-size	: contain;
}
.ntm_DocumentBox .ntm_CtnDocIcon.xlsx {
	background-image: url('/_layouts/15/images/zap/svg/excel.svg');
	background-size	: contain;
}
.ntm_DocumentBox .ntm_CtnDocIcon.docx {
	background-image: url('/_layouts/15/images/zap/svg/word.svg');
	background-size	: contain;
}
.ntm_DocumentBox .ntm_CtnDocIcon.pdf {
	background-image: url('/_layouts/15/images/zap/svg/pdf.svg');
	background-size	: contain;
}
.ntm_DocumentBox .ntm_CtnDocIcon.pptx {
	background-image: url('/_layouts/15/images/zap/svg/powerpoint.svg');
	background-size	: contain;
}
.ntm_DocumentBox .ntm_CtnDocIcon.image {
	background-image: url('/_layouts/15/images/zap/svg/photo.svg');
	background-size	: contain;
}
.ntm_DocumentBox .ntm_CtnDocIcon.aspx,
.ntm_DocumentBox .ntm_CtnDocIcon.mp4,
.ntm_DocumentBox .ntm_CtnDocIcon.m4v,
.ntm_DocumentBox .ntm_CtnDocIcon.png,
.ntm_DocumentBox .ntm_CtnDocIcon.svg,
.ntm_DocumentBox .ntm_CtnDocIcon.jpg,
.ntm_DocumentBox .ntm_CtnDocIcon.media {
	background-image: url('/_layouts/15/images/zap/svg/media.svg');
	background-size	: contain;
}
.ntm_DocumentBox .ntm_CtnDocIcon.folder {
	background-image: url('/_layouts/15/images/zap/svg/folder.svg');
	background-size	: contain;
}
.ntm_DocumentBox .ntm_CtnDocIcon.vsdx {
	background-image: url('/_layouts/15/images/zap/svg/visio.svg');
	background-size	: contain;
}
.ntm_DocumentBox .ntm_CtnDocIcon.web {
	background-image: url('/_layouts/15/images/zap/svg/webpage.svg');
	background-size	: contain;
}

.ntm_DocumentBox .ntm_CtnDocIcon img {
	display			: none;
}

.ntm_DocumentBox .ntm_Title {
	font-family		: "Open Sans Condensed", Tahoma, Geneva, sans-serif;
	font-weight		: 700;
	font-size		: 1em;
	padding			: 6px 8px 2px 8px;
	height			: 58px;
	overflow		: hidden;
}
a[style] .ntm_DocumentBox .ntm_Title,
a[style] .ntm_DocumentBox .ntm_Title:visited  {
	color			: #000000;
}
a[style] .ntm_DocumentBox .ntm_Title:hover {
	color			: rgb(7,70,118);
}
.ntm_DocumentBox .ntm_Infos {
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	font-weight		: 400;
	color			: rgb(198,198,198);
	font-size		: .75em;

	line-height		: 1.3;
	padding			: 6px 8px 2px 8px;
}
.ntm_DocumentBox .ntm_Infos a,
.ntm_DocumentBox .ntm_Infos a:visited {
	color			: rgb(198,198,198);
}
.ntm_DocumentBox .ntm_Infos a:hover {
	color			: rgb(7,70,118);
}


/* Reiter */
.ntm_ReiterJS {
	clear			: left;
}
.ntm_ReiterUL {
	list-style		: none;
	margin			: 0 0 0 0;
	padding			: 0 0 0 0;
	position		: relative;
}
.ntm_Reiter {
	display			: inline-block;
	float			: left;
}
.ntm_hide {
	display			: none;
}
:target {
	display			: block;
}
.ntm_Absolut {
	position		: absolute;
	top				: 46px;
	left			: 0px;
	width			: 100%;
}
.ntm_ReiterLbl {
	cursor			: pointer;
}
.ntm_ReiterALbl:link, .ntm_ReiterALbl:visited, .ntm_ReiterALbl:active, .ms-WPBody .ntm_ReiterALbl:visited {
	cursor			: pointer;
	display			: inline-block;
	float			: left;
	color			: rgb(2,2,2);
	margin			: 0px 6px 4px 0px;
	padding			: 10px 16px 8px 16px;
	font-size		: 1.1em;
	background-color: rgba(219,219,219,.3);
}
.ntm_ReiterALbl:hover {
	color			: rgb(255,255,255);
	background-color: rgb(9,88,147);
}
.ntm_ReiterALbl.ntm_Active {
	color			: rgb(255,255,255);
	background-color: rgb(9,88,147);
}
/*
.ntm_ReiterALbl.ntm_Active, .ntm_Active.ntm_ReiterALbl[title=Biete], .ntm_Active.ntm_ReiterALbl[title=Suche], .ntm_Active.ntm_ReiterALbl[title=Tipp], .ntm_Active.ntm_ReiterALbl[title=Tausche], .ntm_Active.ntm_ReiterALbl[title=Verschenke] {
	color			: #ffffff;
	background-color: #004075;
	background		: linear-gradient(45deg, rgb(0,64,117) 35%, rgba(2,117,166,.9) 90%);
	border-top		: 4px solid #FFFFFF;
}
*/
.ntm_ReiterCont {
	min-width		: 350px;
}

/* Paging */
.ntm_PagingCont {
	display			: table;
	width			: 100%;
	font-size		: 1.1em;
	line-height		: 1.3;
	font-weight		: 300;
	margin			: 15px 0px 10px 0px;
}
.ntm_PagingLeft,
.ntm_PagingRight {
	display			: table-cell;
	width			: 50%;
}
.ntm_PagingRight {
	text-align		: right;
}
.ntm_PagingCont a {
	display			: inline-block;
	padding			: 5px 5px 4px 5px;
}

/* FAQ ntm_GruppeFAQ ntm_SchwarzesBrett */
#NTM_GroupLevelHold {
	min-width		: 500px;
}
#NTM_Gruppierung h2 {
	cursor			: pointer;
	color			: rgb(2,2,2);
	font-size		: 1.1em;
	line-height		: 1.3;
	margin			: 0px 0px 0px 0px;
	padding			: 10px 30px 10px 0px;
	position		: relative;
	border			: 1px solid #DCDCDC;
	border-width	: 0px 0px 1px 0px;
}
#NTM_Gruppierung h3,
h3.ntm_AkkordeonTitle,
.ms-rtestate-field h3.ntm_AkkordeonTitle {
	cursor			: pointer;
	color			: rgb(2,2,2);
	font-size		: 1.2em;
	line-height		: 1.3;
	margin			: 0px 0px 0px 0px;
	padding			: 15px 30px 12px 0px;
	position		: relative;
	border			: 1px solid #DCDCDC;
	border-width	: 1px 0px 0px 0px;
}
#NTM_Gruppierung h3 {
	background-color: rgb(255,255,255);
}
#NTM_Gruppierung .ntm_Body h3 {
	padding			: 10px 30px 10px 28px;
   	background		: rgb(255,255,255) url("/_layouts/15/images/zap/svg/anzeige.svg") no-repeat left center;
	border-width	: 0px 0px 1px 0px;
}
.ntm_ReiterCont .ntm_Body > div {
	background-color: rgba(219,219,219,.3);
}
h3.ntm_NewsClose {
/*border-top		: 1px dashed #ff7800;*/
}
#NTM_Gruppierung div.ntm_Body {
	display			: none;
	font-size		: 1em;
	padding			: 12px 0px 12px 10px;
	margin			: -10px 0px 6px 0px;
}
#NTM_Gruppierung div.ntm_NewsText {
/*	display			: none;*/
	font-size		: 1em;
	padding			: 6px 0px;
	border-bottom	: 0px solid #DCDCDC;
}
div.ntm_AkkordeonText {
	font-size		: 1em;
	padding			: 6px 0px;
	border-bottom	: 0px solid #DCDCDC;
}
#NTM_Gruppierung.ntm_GruppeInhalt div.ntm_NewsText {
	display			: block;
}
#NTM_Gruppierung .ntm_Body div.ntm_NewsText {
	padding			: 6px 8px;
}
#NTM_Gruppierung .ntm_OpenIco,
h3.ntm_AkkordeonTitle .ntm_OpenIco {
	position		: absolute;
	top				: 9px;
	right			: 0px;
	width			: 30px;
	height			: 30px;
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_m_down_g.svg") no-repeat center center;
	cursor			: pointer;
}
#NTM_Gruppierung .ntm_NewsOpen .ntm_OpenIco,
h3.ntm_AkkordeonTitle.ntm_NewsOpen .ntm_OpenIco {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_m_up_g.svg") no-repeat center center;
}
#NTM_Gruppierung h3 .ntm_OpenIco,
h3.ntm_AkkordeonTitle .ntm_OpenIco {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_m_down_g.svg") no-repeat center center;
}
#NTM_Gruppierung .ntm_Close .ntm_OpenIco,
h3.ntm_AkkordeonTitle.ntm_Close .ntm_OpenIco {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_m_up_g.svg") no-repeat center center;
}
#NTM_Gruppierung .ntm_NewsClose .ntm_OpenIco,
h3.ntm_AkkordeonTitle.ntm_NewsClose .ntm_OpenIco {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_m_up_g.svg") no-repeat center center;
}
#NTM_Gruppierung .ntm_OpenIco img,
h3.ntm_AkkordeonTitle .ntm_OpenIco img {
	width			: 30px;
	height			: 30px;
}
.ntm_Beschreibung {
	padding			: 4px 0px;
	line-height		: 1.3em;
}
.ntm_Vorschaubild, .ntm_SBVorschaubild {
	float			: right;
	margin			: 0px 0px 20px 25px;
}
.ntm_Vorschaubild img {
	max-width		: 200px;
	height			: auto !important;
}
.ntm_SBVorschaubild img {
	max-width		: 380px;
	height			: auto !important;
}

/* Akkordeon */
.ntm_Accordion {
	background-color: rgb(237,237,237);
}
#NTM_Gruppierung.ntm_Accordion div.ntm_Body {
	padding			: 0px 0px;
}
#NTM_Gruppierung.ntm_Accordion h2 {
	padding			: 10px 30px 10px 10px;
	border			: 1px solid #FFFFFF;
	border-width	: 3px 0px 0px 0px;
}
.ntm_Accordion div.ntm_Beschreibung {
	padding			: 6px 10px;
}
#NTM_Gruppierung.ntm_Accordion .ntm_OpenIco,
#NTM_Gruppierung .ntm_Body h3 .ntm_OpenIco {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_m_down_g.svg") no-repeat center center;
}
#NTM_Gruppierung.ntm_Accordion .ntm_NewsOpen .ntm_OpenIco,
#NTM_Gruppierung .ntm_Body h3.ntm_NewsOpen .ntm_OpenIco {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_m_up_g.svg") no-repeat center center;
}
#NTM_Gruppierung.ntm_Accordion .ntm_Close .ntm_OpenIco,
#NTM_Gruppierung .ntm_Body h3.ntm_Close .ntm_OpenIco {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_m_up_g.svg") no-repeat center center;
}
#NTM_Gruppierung.ntm_Accordion .ntm_NewsClose .ntm_OpenIco,
#NTM_Gruppierung .ntm_Body h3.ntm_NewsClose .ntm_OpenIco {
	background		: transparent url("/_layouts/15/images/zap/svg/arrow_m_up_g.svg") no-repeat center center;
}


/* Schwarzes Brett */

.ntm_Anzeige {
	background-color: rgb(255,255,255);
	box-shadow	: 2px 2px 6px 0px rgba(0,0,0,0.34);
	-moz-box-shadow	: 2px 2px 6px 0px rgba(0,0,0,0.34);
	-webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.34);
	width			: 95%;
	min-width		: 590px;
	margin			: 10px 2% 16px 0;
	padding			: 10px;
	break-inside	: avoid;
	page-break-inside: avoid;
}
.ntm_Anzeige h3 {
	font-weight		: 300;
	margin			: 0px 0px 10px 0px;
	position		: relative;
	border-bottom	: 0px solid transparent;
}

.ntm_Anhang {
	padding			: 4px 0px;
}
.ntm_Anhang #idAttachmentsTable {
	position		: relative;
	top				: 3px;
}
.ntm_Kontakt {
	padding			: 10px 0px 14px 0px;
}
.ntm_Infozeile {
	padding			: 10px 0px 2px 0px;
	border-top		: 1px dashed #DCDCDC;
}
.ntm_Lbl {
}
.ntm_Wert {
	display			: inline-block;
	padding-right	: 8px;
}
.ntm_Wert .ms-rteStyle-Mehr,
.ntm_Anhang .ms-rteStyle-Mehr {
	font-weight		: normal;
}

/***************************************/
/* Schaufenster */
.ntm_Schaufenster {
	margin-bottom	: 20px;
}
.ntm_SFImg {
	margin-bottom	: -4px;
}
.ntm_SFImg img {
	width			: 100%;
}
.ntm_TitleBox {
	color			: #515151;
}
.ntm_TitleBox a {
	display			: block;
	padding			: 12px 10px 8px 10px;
	background-color: rgb(255,255,255);
	min-height		: 54px;
	font-size		: 1.15em;
	line-height		: 1.3;
	color			: #515151;
}
.ntm_TitleBox a:hover {
	color			: rgb(9,88,147);
}

/***************************************/
/* News */

.ntm_News {
	clear			: left;
	margin-bottom	: 25px;
	max-width		: 800px;
}
.ntm_News.ntm_Topnews {}
.ntm_News.ntm_WichtigeNews {
	background-color: rgb(9,88,147);
}
.ntm_NewsHeader {
	display			: none;
}
.ntm_News .ntm_newsImg {
	clear			: left;
	float			: left;
	margin			: 8px 25px 8px 0px;
	height			: 112px;
	width			: 165px;
	overflow		: hidden;
}
.ntm_News .ntm_newsImg img,
.ntm_News .ntm_newsImgPH img {
	width			: 100%;
	max-width		: 165px;
/*	max-height		: 110px;*/
}
.ntm_WikiItems.ntm_News .ntm_newsImg {
	height			: 112px;
	width			: 165px;
}
.ntm_News.ntm_NewsStartseite .ntm_newsImg,
.ntm_News.ntm_NewsStartseite .ntm_newsImgPH {
	height			: 198px;
	width			: 312px;
	position		: relative;
}
.ntm_News.ntm_NewsStartseite .ntm_newsImg img,
.ntm_News.ntm_NewsStartseite .ntm_newsImgPH img {
	width			: 100%;
	max-width		: 310px;
/*	max-height		: 200px;*/
}
.ntm_News.ntm_NewsStartseite .ntm_FlexLabel {
	position		: absolute;
	top				: 178px;
	min-width		: 120px;
    background-color: rgba(9,88,147,1);
    padding			: 3px 8px 6px 8px;
    font-size		: .9em;
    color			: rgb(255,255,255);
}
.ntm_News.ntm_NewsStartseite.ntm_Topnews {
	border			: 8px solid rgb(0,147,211);
	min-height		: 198px;
}
/* Bild Platzhalter definierbar */
.ntm_News .ntm_newsImgPH {
	float			: left;
	margin			: 0px 25px 25px 0px;
	height			: 112px;
	width			: 165px;
/*	background		: repeating-linear-gradient(45deg,rgba(30,45,55,0.1),rgba(30,45,55,0.1) 10px,rgba(30,45,55,0.025) 10px,rgba(30,45,55,0.025) 30px);*/
	background		: rgb(237,237,237) url("/_layouts/15/images/zap/news-platzhalter.png") no-repeat center center;
}

.ntm_NewsDate {
	color			: rgb(102,102,102);
	padding-top		: 4px;
	font-size		: .9em;
	padding-left	: 190px;
}
.ntm_NewsTitle {
	color			: rgb(9,88,147);
	font-size		: 1.1em;
	padding			: 2px 0px 0px 190px;
}
.ntm_WikiItems .ntm_NewsTitle {
	font-size		: 1.2em;
}
.ntm_NewsTitle a,
.ntm_NewsTitle a:visited {
	color			: rgb(9,88,147);
	font-weight		: bold;
}
.ntm_NewsTitle a:hover {
	color			: rgb(0,147,211);
}
.ntm_NewsText {
	line-height		: 1.2em;
	font-size		: .95em;
	color			: rgb(102,102,102);
	padding			: 4px 0px 0px 190px;
/*	display			: table-cell;*/
}
.ntm_NewsText p {
	margin-top		: 2px;
	margin-bottom	: 2px;
	color			: rgb(102,102,102);
}
.ntm_News.ntm_WichtigeNews .ntm_NewsText,
.ntm_News.ntm_WichtigeNews .ntm_NewsText p {
	color			: rgb(28,28,27);
}
.ntm_NewsWeiter {
	padding			: 6px 0px 0px 190px;
}
a.ntm_MehrLink,
a.ntm_MehrLink:link,
a.ntm_MehrLink:visited {
	font-size		: 1em;
	color			: rgb(0,147,211);
	display			: inline-block;
	padding			: 1px 9px 2px 14px;
	background		: transparent url("/_layouts/15/images/zap/svg/link_blank.svg") no-repeat 3px center;
}
a.ntm_MehrLink:hover {
	background		: transparent url("/_layouts/15/images/zap/svg/link_blank_hover.svg") no-repeat 3px center;
}
.ntm_News.ntm_WichtigeNews a.ntm_MehrLink,
.ntm_News.ntm_WichtigeNews a.ntm_MehrLink:link,
.ntm_News.ntm_WichtigeNews a.ntm_MehrLink:visited {
	background		: transparent url("/_layouts/15/images/zap/svg/link_w.svg") no-repeat 5px 5px;
}
a.ntm_MehrLink:hover {
	color			: rgb(9,88,147);
	text-decoration	: none;
}
.ntm_NeuesText a.ntm_MehrLink:hover {
	text-decoration	: none;
}
.ntm_News.ntm_WichtigeNews a.ntm_MehrLink:hover {
	color			: #FFFFFF;
}
.ntm_NewsFooter {
	display			: none;
}


#NTM_BtnLoad {
}
.ntm_BTNNachladen {
	display			: block;
	clear			: left;
	text-align		: center;
	background		: transparent url("/_layouts/15/images/zap/svg/nachladen.svg") no-repeat center 20px;
	cursor			: pointer;
	font-size		: .8em;
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	font-weight		: 400;
	color			: rgb(198,198,198);
	margin-bottom	: 16px;
}
.ntm_BTNNachladen:hover {
	color			: rgb(26,26,26);
}
.ntm_BTNNachladen.ntm_Inactive,
.ntm_BTNNachladen.ntm_Inactive:hover {
	filter			: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5);
	opacity			: 0.5;
	cursor			: default;
}
.ntm_BTNNachladen img {
	width			: 100%;
	height			: 26px;
	margin-bottom	: 12px;
}

/***************************************/
/* Bilder Cubes */

.ntm_Bild {
	display			: inline-block;
	float			: left;
/*	width			: 15.3%;*/
	margin-right	: 1.55%;
	margin-bottom	: 10px;
	height			: 98px;
	text-align		: center;
	overflow		: hidden;
}
.ntm_Bild.ntm_Instagram.square img {
	height			: 140px;
	max-height		: none;
	margin-top		: -20px;
	margin-left		: -20px;
}
.dfwp-list li.dfwp-item:nth-child(6n+0) .ntm_Bild {
/*	margin-right	: 0%;*/
}
.ntm_Bild img {
	max-height		: 98px;
}
.ntm_Image {}


/***************************************/
/* News zweispaltig */

.ntm_ZweiSpaltig {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count	: 2;
/*	-moz-column-width: 200px;
	-webkit-column-width: 200px;
	column-width: 200px;*/
	-moz-column-gap	: 30px;
	-webkit-column-gap: 30px;
	column-gap		: 30px;
}
.ntm_NewsZwei {
	min-width		: 200px;
	min-height		: 100px;
	break-inside	: avoid;
	page-break-inside: avoid;
	margin			: 0 0 12px 0;
	padding			: 0px 0px 8px 0px;
	border-bottom	: 1px solid #E5E5E5;
	overflow-y		: hidden;
}
.ntm_NewsZwei .ntm_newsImg,
.ntm_NewsZwei .ntm_newsImgPH {
	float			: left;
	margin			: 0px 0px 0px 0px;
	height			: 123px;
	width			: 185px;
	overflow		: hidden;
}
.ntm_NewsZwei .ntm_newsImg img {
	width			: 100%;
}
.ntm_NewsZwei .ntm_newsImgPH {
	background		: rgb(243,243,243) url("/_layouts/15/images/zap/news-platzhalter.png") no-repeat center center;
}
.ntm_NewsZwei .ntm_newsImgPH img {
	height			: 100%;
	width			: 100%;
}

/* jede Zweite */
.dfwp-column.dfwp-list li.dfwp-item:nth-child(2n+0) {

}
.ntm_TeaserTitle {
	color			: rgb(2,2,2);
	font-size		: 1.2em;
	padding			: 2px 0px 6px 0px;
}
.ntm_TeaserTitle a {
	color			: rgb(2,2,2);
}
.ntm_TeaserTitle a:hover {
	color			: rgb(9,88,147);
}
.ntm_TeaserCategory {
	display			: inline-block;
	color			: rgb(2,2,2);
	font-size		: 1em;
	padding			: 3px 0px 3px 0px;
}
.ntm_TeaserCategory a,
.ntm_TeaserCategory a:visited {
	color			: rgb(2,2,2);
}
.ntm_TeaserDate {
	display			: inline-block;
	color			: rgb(2,2,2);
	font-size		: 1em;
	padding			: 3px 0px 3px 0px;
}
.ntm_Trenner {
	display			: inline-block;
	padding			: 0px 6px 0px 6px;
}
.ntm_NewsDate .ntm_Trenner {
	padding			: 0px 6px 0px 0px;
}
.ntm_TeaserText {
	line-height		: 1.3em;
}
.ntm_TeaserText p {
	margin-bottom	: 8px;
}
.ntm_NewsZwei .ntm_TeaserTitle,
.ntm_NewsZwei .ntm_TeaserDateHold,
.ntm_NewsZwei .ntm_TeaserText {
	padding-left	: 205px;
}


/***************************************/
/* Abfrage Box Bild */

.ntm_NewsBox,
.ntm_NewsBoxBild {
	display			: inline-block;
	width			: 31.2%;
	margin			: 0 0 25px 25px;
	float			: left;
	background-color: rgb(255,255,255);
	position		: relative;
	text-align		: center;
}
.ntm_NewsBox:nth-child(3n+0),
.ntm_NewsBoxBild:nth-child(3n+0) {
	margin-right	: 0%;
}
.ntm_NewsBox > div,
.ntm_NewsBoxBild > div {
}
.ntm_NewsBox .ntm_NewsWeiter,
.ntm_NewsBoxBild .ntm_NewsWeiter {
	height			: 24px;
	padding			: 6px 0px 0px 0px;
	position		: absolute;
	bottom			: 12px;
	width			: 100%;
	text-align		: center;
}
.ntm_ImgBox,
.ntm_ImgBoxPH {
	height			: 225px;
	overflow		: hidden;
}
.ntm_NewsBoxKlein .ntm_ImgBox,
.ntm_NewsBoxKlein .ntm_ImgBoxPH {
	height			: 120px;
}
.ntm_ImgBox img {
	width			: 100%;
	margin			: 0px 0px !important;
}
/* Bild Platzhalter definierbar */
.ntm_ImgBoxPH {
	background		: rgb(255,255,255) url("/_layouts/15/images/zap/news-platzhalter.png") no-repeat center center;
}
.ntm_NewsBoxKlein .ntm_ImgBoxPH {
	background		: transparent url("/_layouts/15/images/zap/news-platzhalter.png") no-repeat center center;
}

.ntm_ImgBoxPH img {
	height			: 100%;
	width			: 100%;
}
.ntm_NewsBox {
	height			: 156px;
	overflow		: hidden;
}
.ntm_NewsBoxBild {
	height			: 410px;
	overflow		: hidden;
}
.ntm_NewsBoxKlein {
	background-color: rgb(238,238,238);
	height			: 300px;
}
.ntm_NewsBox .ntm_TeaserTitle,
.ntm_NewsBoxBild .ntm_TeaserTitle {
	height			: 31px;
	overflow		: hidden;
	padding			: 16px 20px 12px 25px;
	margin-bottom	: 12px;
	line-height		: 1.1em;
}
.ntm_NewsBoxKlein .ntm_TeaserTitle {
	height			: 11px;
	padding			: 28px 20px 11px 25px;
}
.ntm_NewsBox .ntm_TeaserText,
.ntm_NewsBoxBild .ntm_TeaserText {
	max-height		: 60px;
	overflow		: hidden;
	padding			: 0px 20px 0px 25px;
}


/***************************************/
/* Icon Links */

.ntm_IconBox {
	width			: 120px;
	height			: 120px;
	overflow		: hidden;
	display			: table;
	background-color: rgb(255,255,255);
	background-repeat:no-repeat;
	background-position: center 14px;
	background-size	: 48px auto;
	margin			: 0px 16px 8px 0px;
	-webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ntm_IconBox:hover {
	background-color: rgb(255,165,0); /*rgb(186,235,255);*/
}
.ntm_IconBox .ntm_Image {
	position		: absolute;
}
.ntm_IconBox .ntm_IconTitle {
	font-family		: "Fira Sans", Tahoma, Geneva, sans-serif;
	text-align		: center;
	font-size		: .8em;
	display			: table-cell;
	vertical-align	: middle;
	padding			: 84px 12px 5px 12px;
}
.ntm_IconBox .ntm_IconTitle a,
.ntm_IconBox .ntm_IconTitle a:hover,
.ntm_IconBox .ntm_IconTitle a:visited {
	color			: rgb(44,44,44);
}


/***************************************/
/* Webpart Linkbuttons */

.ntm_LinkButton {
	display			: table;
	margin-bottom	: 14px;
	float			: left;
}
.ntm_MasterRightSide .ntm_LinkButton {
	font-size		: 1.2em;
	width			: 100%;
	text-align		: center;
	background-color: rgb(9,88,147);
}
.ntm_LinkButton > a {
	display			: table-cell;
	vertical-align	: middle;
	padding			: 8px 12px;
}
.ntm_MasterRightSide .ntm_LinkButton > a {
	min-height		: 44px;
}
.ntm_LinkButton > a,
.ntm_LinkButton > a:link,
.ntm_LinkButton > a:visited {
	background-color: rgb(9,88,147);
	color			: #FFFFFF;
}
.ntm_MasterRightSide .ntm_LinkButton:hover,
.ntm_LinkButton > a:hover {
	background-color: rgb(9,88,147);
	color			: #FFFFFF;
}


/***************************************/
/* Webpart Speiseplan */

.ntm_Speise {
	padding-left	: 40px;
	margin-bottom	: 8px;
	position		: relative;
	cursor			: pointer;
	background		: url("/_layouts/15/images/zap/svg/fleisch-hellblau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise:hover {
	background		: url("/_layouts/15/images/zap/svg/fleisch-blau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.Rind {
	background		: url("/_layouts/15/images/zap/svg/kuh-hellblau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.Rind:hover {
	background		: url("/_layouts/15/images/zap/svg/kuh-blau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.Schwein {
	background		: url("/_layouts/15/images/zap/svg/schwein-hellblau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.Schwein:hover {
	background		: url("/_layouts/15/images/zap/svg/schwein-blau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.Schwein.Rind {
	background		: url("/_layouts/15/images/zap/svg/fleisch-hellblau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.Schwein.Rind:hover {
	background		: url("/_layouts/15/images/zap/svg/fleisch-blau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.Geflügel {
	background		: url("/_layouts/15/images/zap/svg/huhn-hellblau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.Geflügel:hover {
	background		: url("/_layouts/15/images/zap/svg/huhn-blau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.Fisch {
	background		: url("/_layouts/15/images/zap/svg/fisch-hellblau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.Fisch:hover {
	background		: url("/_layouts/15/images/zap/svg/fisch-blau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.vegan,
.ntm_Speise.Vegan {
	background		: url("/_layouts/15/images/zap/svg/vegan-hellblau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.vegan:hover,
.ntm_Speise.Vegan:hover {
	background		: url("/_layouts/15/images/zap/svg/vegan-blau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.vegetarisch,
.ntm_Speise.Vegetarisch {
	background		: url("/_layouts/15/images/zap/svg/vegetarisch-hellblau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise.vegetarisch:hover,
.ntm_Speise.Vegetarisch:hover {
	background		: url("/_layouts/15/images/zap/svg/vegetarisch-blau.svg") no-repeat left top;
	background-size	: 28px auto;
}
.ntm_Speise .ntm_Title {
	
}
.ntm_Speise .ntm_Preis {
	text-align		: right;
}


/***************************************/
/* Bildergalerie Webpart */

.ntm_ImageGalery {
	background-color: rgb(204,204,204);
}
.ntm_PreviewImages a {}
.ntm_PreviewImages span.ntm_PImg {}
.ntm_PreviewImages span.ntm_PImgTitle {}

/* Bilderslide */
.ntm_DivCycler { 
	position		: relative;
	height			: 400px; 
	width			: 100%; /*float:left;*/
}
.ntm_DivCycler > div {
	position		: absolute;
	left			: 0;
	top				: 0;
	display			: block;
	max-width		: 98%;
	padding			: 4px 4px 4px 4px;
	box-shadow		: 2px 2px 6px 0px rgba(0,0,0,0.34);
}
.ntm_DivCycler img {
	width			: 100%;
}
.ntm_DivCycler .ntm_CyclerTitle {
	margin			: 0; 
	padding			: 4px 0 4px 0;
	font-size		: 1.25em;
	color			: #444;
}
.ntm_DivCycler .ntm_CyclerComments  {
	margin			: 0; 
	padding			: 0;
	color			: #666666;
}


/* Nutzung überprüfen */



.ntm_BigNews {
	position		: relative;
	height			: 420px;
	overflow		: hidden;
	background-color: rgba(0,103,179,.5);
}
.ntm_BigNews .ntm_newsImg {
	position		: absolute;
	width			: 100%;
}
.ntm_BigNews .ntm_newsImg img {
	min-width		: 100%;
	min-height		: 100%;
	width			: auto;
	height			: auto;
}
.ntm_BigNews .ntm_HoldInfo {
	position		: absolute;
	bottom			: 0px;
	background-color: rgba(243,243,243,.9);
	padding			: 20px 0px;
	width			: 100%;
}
.ntm_BigNews .ntm_HoldInfo > div {
	padding-left	: 20px;
	padding-right	: 20px;
}
.ntm_BigNews .ntm_HoldInfo > div.ntm_TeaserDate {
	padding-right	: 0px;
}
.ntm_BigNews .ntm_HoldInfo * {}
.ntm_BigNews .ntm_HoldInfo .ntm_TeaserTitle a:hover,
.ntm_BigNews .ntm_HoldInfo .ntm_TeaserDate,
.ntm_BigNews .ntm_HoldInfo .ntm_TeaserDate *,
.ntm_BigNews .ntm_HoldInfo .ntm_TeaserCategory,
.ntm_BigNews .ntm_HoldInfo .ntm_TeaserCategory * {
	color			: rgb(2,2,2) !important;
}


/* Kachelwebpart */
/*Farben für Tiles */

/*

Blau
Grau
Gelb
Hellgrün
Orange
Grün
Rot
Violett
Türkis
Cyan
Dunkelrot
Weiß


*/

.Dunkelblau, .Darkblue {
	background-color: rgb(9,88,147);
}
.Blau, .Blue {
	background-color: rgb(9,88,147);
}
.Hellblau, .Lightblue, .Lichtblau, .Cyan {
	background-color: rgb(0,149,219);
}
.Beere, .Berry, .Violett {
	background-color: rgb(184,13,120);
}
.Dunkelgrau, .Darkgrey {
	background-color: rgb(105,105,105);
}
.Braun, .Tan{
	background-color: rgb(255,214,88);
}
.Gelb, .Yellow {
	background-color: rgb(255,204,0);
}
.Dunkelgelb, .Darkyellow {
	background-color: rgb(217,177,55);
}
.Grau, .Grey {
	background-color: rgb(85,85,85);
}
.Türkis, .Greyblue {
	background-color: rgb(0,140,142);
}
.Hellgrün, .Lightgreen {
	background-color: rgb(175,202,6);
}
.Dunkelgrün, .Darkgreen {
	background-color: rgb(112,164,137);
}
.Grün, .Green {
	background-color: rgb(81,174,49);
}
.Rot, .Red {
	background-color: rgb(212,15,20);
}
.Dunkelrot, .Darkred {
	background-color: rgb(168,0,34);
}
.Nude {
	background-color: #C07361;
}
.Orange, .Blutorange {
	background-color: rgb(243,146,0);
}
.Rosa, .Pink  {
	background-color: rgb(255,108,108);
}
.Orangerot, .Orangered {
	background-color: rgb(230,25,0);
}
.Lila, .Purple {
	background-color: rgb(134,95,127);
}
.Weiß, .White {
	background-color: #FFFFFF;
}


.ntm_KachelnBig.boxgrid {
	width	: 250px; 
	height	: 120px; 
	margin	: 6px 24px 18px 0px; 
	float	: left; 
	overflow: hidden; 
	position: relative;
	cursor	: pointer;
	line-height: 1em;
}
.boxgrid:hover {}
.ntm_KachelnBig.boxgrid img,
.ntm_KachelnBig.boxgrid .ntm_CtIcon { 
	width	: 250px; 
	height	: 130px; 
	position: absolute; 
	top		: 0; 
	left	: 0; 
	border	: 0;
	background-size	: 60px auto;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.ntm_KachelnBig .boxcaption { 
	float	: left; 
	position: absolute; 
	height	: 130px; 
	width	: 170px;
	margin-left: 80px;
/*	background-color: rgb(165,165,165);*/
	opacity	: .8; 
	/* For IE 5-7 */
	filter	: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.ntm_KachelnBig .coverB {
	margin-top: 132px;
}
.ntm_KachelnBig.boxgrid:hover .ntm_CtIcon {
} 
.ntm_KachelnBig.caption .boxcaption {
	top		: 0px;
	left	: 0px;
}
.ntm_KachelnBig .ntm_BoxCT {
	height	: 130px;
	width	: 160px;
	display	: table;
}
.ntm_KachelnBig .ntm_BoxTitle {
	height	: 132px;
	width	: 230px;
	display	: table-cell;
	vertical-align: middle;
/*	margin	: 0px 0px 20px 0px;
	padding	: 60px 0px 0px 10px;*/
	color	: #FFFFFF;
	font-size: 1.1em;
	line-height: 1.1em;
}
.ntm_KachelnBig .ntm_BoxText {
	height	: 130px;
	width	: 150px;
	display	: table-cell;
	vertical-align: top;
/*	padding	: 60px 0px 0px 10px;*/
	color	: #FFFFFF;
	font-size: 1em;
	line-height: 1em;
}
.ntm_KachelnBig.boxgrid:hover .ntm_BoxText,
.ntm_KachelnBig .boxcaption:hover .ntm_BoxText,
.ntm_KachelnBig .ntm_BoxText p {
	color	: #FFFFFF;
	line-height: 1em;
}
.ntm_KachelnNorm.boxgrid {
	width	: 170px; 
	height	: 90px; 
	margin	: 10px 30px 20px 0px; 
	float	: left; 
/*	background-color: rgb(165,165,165);*/
	overflow: hidden; 
	position: relative;
	cursor	: pointer;
	line-height: 1em;
}
.ntm_KachelnNorm.boxgrid:hover {
/*	background-color: rgb(102,102,102);*/
}
.ntm_KachelnNorm.boxgrid img,
.ntm_KachelnNorm.boxgrid .ntm_CtIcon { 
	width	: 170px; 
	height	: 90px; 
	position: absolute; 
	top		: 0; 
	left	: 0; 
	border	: 0;
/*	background-color: rgb(165,165,165);*/
	background-size	: 40px auto;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.ntm_KachelnNorm .boxcaption { 
	float	: left; 
	position: absolute; 
	height	: 90px; 
	width	: 110px;
	margin-left: 60px;
/*	background-color: rgb(165,165,165);*/
	opacity	: .8; 
	/* For IE 5-7 */
	filter	: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.ntm_KachelnNorm.boxgrid:hover .ntm_CtIcon {
/*	background-color: rgb(102,102,102);*/
} 
.ntm_KachelnNorm.caption .boxcaption {
	top		: 0px;
	left	: 0px;
}
.ntm_KachelnNorm .ntm_BoxCT {
	position:relative; /* wichtig fÃƒÂ¼r IE 8 */
	height	: 90px;
	width	: 100px;
	display	: table;
}
.ntm_KachelnNorm .ntm_BoxTitle {
	height	: 90px;
	width	: 105px;
	display	: table-cell;
	vertical-align: middle;
/*	margin	: 0px 0px 20px 0px;
	padding	: 60px 0px 0px 10px;*/
	color	: #FFFFFF;
}
.ntm_KachelnNorm .ntm_BoxText {
	height	: 90px;
	width	: 115px;
	display	: table-cell;
	vertical-align: middle;
/*	padding	: 60px 0px 0px 10px;*/
	color	: #FFFFFF;
	font-size: .85em;
	line-height: 1em;
}
.ntm_KachelnNorm.boxgrid:hover .ntm_BoxText,
.ntm_KachelnNorm .boxcaption:hover .ntm_BoxText,
.ntm_KachelnNorm .ntm_BoxText p {
	color	: #FFFFFF;
	line-height: 1em;
}



.ntm_KachelnEinfach.boxgrid {
	width	: 24%; 
	height	: 120px; 
	margin	: 0px 1% 24px 0px; 
	float	: left; 
	overflow: hidden; 
	position: relative;
	cursor	: pointer;
	line-height: 1em;
	background-color: rgb(133,206,227);
}
.ntm_KachelnEinfach.boxgrid:hover {
	background-color: rgb(25,89,159);
}
.ntm_KachelnEinfach.boxgrid img,
.ntm_KachelnEinfach.boxgrid .ntm_CtIcon { 
	width	: 100%; 
	height	: 120px; 
	position: absolute; 
	top		: 0; 
	left	: 0; 
	border	: 0;
	background-size	: 46px auto;
	background-repeat: no-repeat;
	background-position: 10px 10px;
}
.ntm_KachelnEinfach .boxcaption { 
	float	: left; 
	position: absolute; 
	height	: 100px; 
	width	: 84%;
	padding	: 0px 8% 10px 8%;
	opacity	: .8; 
	filter	: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.ntm_KachelnEinfach .coverB {
	margin-top: 98px;
}
.ntm_KachelnEinfach.caption .boxcaption {
	top		: 0px;
	left	: 0px;
}
.ntm_KachelnEinfach .ntm_BoxCT {
	height	: 110px;
	width	: 100%;
	display	: table;
}
.ntm_KachelnEinfach .ntm_BoxTitle {
	height	: 110px;
	width	: 100%;
	display	: table-cell;
	vertical-align: bottom;
	color	: #FFFFFF;
	font-size: 1.1em;
	line-height: 1.1em;
}
.ntm_KachelnEinfach .ntm_BoxText {
	height	: 110px;
	width	: 100%;
	display	: table-cell;
	vertical-align: bottom;
	color	: transparent;
	font-size: 0em;
	line-height: 0em;
}
.ntm_KachelnEinfach.boxgrid:hover .ntm_BoxText,
.ntm_KachelnEinfach .boxcaption:hover .ntm_BoxText,
.ntm_KachelnEinfach .ntm_BoxText p {
	color	: #FFFFFF;
	line-height: 1.1em;
}

.Helltürkis .ntm_BoxTitle,
.DHSEK5 .ntm_BoxTitle,
.DHSEK7 .ntm_BoxTitle,
.Türkis .ntm_BoxTitle,
.Verkehrsgrau .ntm_BoxTitle,
.Gelb .ntm_BoxTitle,
.Verkehrsgelb .ntm_BoxTitle,
.Weiß .ntm_BoxTitle,
.Hellgrün .ntm_BoxTitle,
.DHDIA1 .ntm_BoxTitle,
.Helltürkis .ntm_BoxText,
.DHSEK5 .ntm_BoxText,
.DHSEK7 .ntm_BoxText,
.Türkis .ntm_BoxText,
.Verkehrsgrau .ntm_BoxText,
.Gelb .ntm_BoxText,
.Verkehrsgelb .ntm_BoxText,
.Weiß .ntm_BoxText,
.Hellgrün .ntm_BoxText,
.DHDIA1 .ntm_BoxText,
.Helltürkis .ntm_BoxText p,
.DHSEK5 .ntm_BoxText p,
.DHSEK7 .ntm_BoxText p,
.Türkis .ntm_BoxText p,
.Verkehrsgrau .ntm_BoxText p,
.Gelb .ntm_BoxText p,
.Verkehrsgelb .ntm_BoxText p,
.Weiß .ntm_BoxText p,
.Hellgrün .ntm_BoxText p,
.DHDIA1 .ntm_BoxText p,
.boxgrid:hover .Helltürkis .ntm_BoxText,
.boxgrid:hover .DHSEK5 .ntm_BoxText,
.boxgrid:hover .DHSEK7 .ntm_BoxText,
.boxgrid:hover .Türkis .ntm_BoxText,
.boxgrid:hover .Verkehrsgrau .ntm_BoxText,
.boxcaption:hover .Helltürkis .ntm_BoxText,
.boxcaption:hover .DHSEK5 .ntm_BoxText,
.boxcaption:hover .DHSEK7 .ntm_BoxText,
.boxcaption:hover .Türkis .ntm_BoxText,
.boxcaption:hover .Verkehrsgrau .ntm_BoxText,
.boxgrid:hover .Weiß .ntm_BoxText,
.boxcaption:hover .Weiß .ntm_BoxText,
.boxgrid:hover .Gelb .ntm_BoxText,
.boxgrid:hover .Verkehrsgelb .ntm_BoxText,
.boxcaption:hover .Gelb .ntm_BoxText,
.boxcaption:hover .Verkehrsgelb .ntm_BoxText,
.boxgrid:hover .Hellgrün .ntm_BoxText,
.boxcaption:hover .Hellgrün .ntm_BoxText,
.boxgrid:hover .DHDIA1 .ntm_BoxText,
.boxcaption:hover .DHDIA1 .ntm_BoxText,
a[style].Helltürkis .ntm_BoxTitle,
a[style].Helltürkis:hover .ntm_BoxTitle,
a[style].Helltürkis:visited .ntm_BoxTitle,
a[style].DHSEK5 .ntm_BoxTitle,
a[style].DHSEK5:hover .ntm_BoxTitle,
a[style].DHSEK5:visited .ntm_BoxTitle,
a[style].DHSEK7 .ntm_BoxTitle,
a[style].DHSEK7:hover .ntm_BoxTitle,
a[style].DHSEK7:visited .ntm_BoxTitle,
a[style].Türkis .ntm_BoxTitle,
a[style].Türkis:hover .ntm_BoxTitle,
a[style].Türkis:visited .ntm_BoxTitle,
a[style].Verkehrsgrau .ntm_BoxTitle,
a[style].Verkehrsgrau:hover .ntm_BoxTitle,
a[style].Verkehrsgrau:visited .ntm_BoxTitle,
a[style].Weiß .ntm_BoxTitle,
a[style].Weiß:hover .ntm_BoxTitle,
a[style].Weiß:visited .ntm_BoxTitle,
a[style].Gelb .ntm_BoxTitle,
a[style].Gelb:hover .ntm_BoxTitle,
a[style].Gelb:visited .ntm_BoxTitle,
a[style].Verkehrsgelb .ntm_BoxTitle,
a[style].Verkehrsgelb:hover .ntm_BoxTitle,
a[style].Verkehrsgelb:visited .ntm_BoxTitle,
a[style].Hellgrün .ntm_BoxTitle,
a[style].Hellgrün:hover .ntm_BoxTitle,
a[style].Hellgrün:visited .ntm_BoxTitle,
a[style].DHDIA1 .ntm_BoxTitle,
a[style].DHDIA1:hover .ntm_BoxTitle,
a[style].DHDIA1:visited .ntm_BoxTitle {
	color			: #000000; /*#000000;*/
}



/* Kacheln Dokumente */
.ntm_KachelnDocs {
	width		: 31.2%;
	height		: 230px; 
	margin		: 0px 0px 24px 25px; 
	float		: left; 
	overflow	: hidden; 
	position	: relative;
	cursor		: pointer;
	background	: rgb(220,220,220) url("/_layouts/15/images/zap/svg/dokumente.svg") no-repeat 14% center;
	background-size: 20% auto;
}
.ntm_KachelnDocs:hover {
	background-color: rgb(242,242,242);
}
.ntm_KachelnDocs .boxcaption { 
	position	: absolute; 
	margin-left	: 38%;
}
.ntm_KachelnDocs .ntm_LabelDokumente { 
	position	: absolute;
	top			: 160px;
	margin-left	: 7%;
	text-transform:uppercase;
	font-size	: .86em;
}
.ntm_KachelnDocs .coverA {}
.ntm_KachelnDocs .coverB {
	margin-top	: 232px;
}
.ntm_KachelnDocs:hover .coverA {}
.ntm_KachelnDocs:hover .coverB {
	margin-top	: 180px;
}
.ntm_KachelnDocs .ntm_BoxCT {
	width		: 92%;
	display		: table;
}
.ntm_KachelnDocs .ntm_BoxTitle {
	height		: 230px;
	width		: 100%;
	display		: table-cell;
	vertical-align: middle;
	font-size	: 1.3em;
	color		: rgb(9,88,147);
}
.ntm_KachelnDocs .ntm_BoxText {
	display		: table-cell;
	vertical-align: top;
	font-size	: 1em;
}

/***************************************/
/* Webpart IconLinkButtons */

.ntm_IconLinkButton {
	display			: table;
	margin			: 0px 6px 6px 0px;
	float			: left;
	width			: 240px;
}
.ntm_PL_1_3R .ntm_IconLinkButton {
	width			: 100%;
}
.ntm_IconLinkButton > a {
	display			: table-cell;
	height			: 56px;
	vertical-align	: middle;
	padding			: 2px 0px 2px 0px;
	background-position: 10px center;
	background-repeat: no-repeat;
	background-size	: auto 40px;
}
.ntm_IconLinkButton > a.ntm_Icon {
	width			: 56px;
}
.ntm_IconLinkButton > a.ntm_BoxTitle {
	padding			: 2px 6px 2px 12px;
	background-color: rgba(255,255,255,.2);
}
.ntm_IconLinkButton.Weiß a[style] .ntm_BoxTitle,
.ntm_IconLinkButton.Weiß a[style]:visited .ntm_BoxTitle,
.ntm_IconLinkButton.Weiß a.ntm_BoxTitle,
.ntm_IconLinkButton.Weiß a .ntm_BoxTitle {
	color			: #000000;
}
.ntm_IconLinkButton a[style] .ntm_BoxTitle,
.ntm_IconLinkButton a[style]:hover .ntm_BoxTitle,
.ntm_IconLinkButton a[style]:visited .ntm_BoxTitle,
.ntm_IconLinkButton a.ntm_BoxTitle,
.ntm_IconLinkButton a .ntm_BoxTitle,
.ntm_IconLinkButton a.ntm_BoxTitle:hover,
.ntm_IconLinkButton a:hover .ntm_BoxTitle,
.ntm_IconLinkButton a:visited .ntm_BoxTitle {
	color			: #FFFFFF;
}
.ntm_IconLinkButton:hover,
.ntm_IconLinkButton:hover a,
.ntm_IconLinkButton > a:hover {
	background-color: rgb(0,158,224);
}

.ntm_MasterRightSide .ntm_IconLinkButton:hover,
.ntm_IconLinkButton > a:hover {
	background-color: rgb(9,88,147);
}

.ntm_WebpartLinks {
	text-align			: right;
}
.ntm_WebpartLinks a,
.ntm_WebpartLinks a:link,
.ntm_WebpartLinks a:visited {
	display				: inline-block;
	padding				: 0px 0px 0px 20px;
	color				: rgb(9,88,147);

}

/* Blog */
.ntm_BlogPostBG {
	padding				: 10px 10px 010px 0px;
	background-color	: rgba(197,188,164,.3);
}
.ntm_BlogPostMehr {
position: absolute; bottom: 0px; height: 20px; width: 95%; text-align: right;
}
.ntm_BlogPostBG .ms-blog-postBody {
clear:left;padding: 10px 0 0 14px;height:200px;overflow:hidden;position: relative;
}

/* Direkter Zugriff */
.ntm_DirekterZugriff {
	background-color: rgb(9,88,147);
	color			: #000000;
	padding			: 8px 10px;
	margin			: 2px 2px;
}
.ntm_DirekterZugriff select {
	color			: #FFFFFF;
	background-color: rgb(9,88,147);
}

/***************************************/
/* Display Templates */

.ntm_BulletItem {
	background		: url("/_layouts/15/images/zap/svg/link_blank.svg") no-repeat left 1px;
	padding-bottom	: 8px;
	line-height		: 1.25em;
}
.ntm_BulletItem  .cbs-Detail {
	margin-left		: 12px;
}


/***************************************/
/* Webpart Page */
.ms-webpart-zone {
	display			: block;
}
table.ms-core-tableNoSpace.ms-webpartPage-root {
	border-spacing	: 0px;
}
table.ms-core-tableNoSpace.ms-webpartPage-root > tbody > tr > td > div.ms-webpart-zone.ms-fullWidth {
	padding-right	: 20px;
}
/***************************************/
/* Bildergalerie Webpart */

.ntm_ImageGalery {
	background-color: rgb(204,204,204);
}
.ntm_PreviewImages a {}
.ntm_PreviewImages span.ntm_PImg {}
.ntm_PreviewImages span.ntm_PImgTitle {}

/***************************************/
/* Wiederverwendbarer Inhalt */
/* Infobox */
.ntm_Infobox {
	padding			: 18px 18px 12px 120px;
	border			: 8px solid #eaeaea;
	background		: rgb(255,255,255) url(/_layouts/15/images/zap/svg/infobox.svg) no-repeat 26px center;
	margin-bottom	: 18px;
}
.ntm_IBTitle {
	font-size		: 1.2em;
	padding-bottom	: 6px;
}
.ntm_IBText {}

/* SpezialTeaser */
.ntm_SpezialTeaser {
	padding			: 18px 18px 6px 18px;
	border			: 8px solid #eaeaea;
	margin-bottom	: 18px;
}
.ntm_STBild {
	float			: left;
	padding			: 0px 18px 0px 0px;
}
.ntm_STCont {}
.ntm_STTitle {
	font-size		: 1.3em;
	padding-bottom	: 6px;
}
.ntm_STText {}

/* CallToAction */
.ntm_CallToAction {
	padding			: 18px 18px 12px 18px;
	background-color: rgb(9,88,147);
	margin-bottom	: 18px;
}
.ntm_CallToAction .ntm_CtaTitle {
	font-size		: 1.1em;
	padding-bottom	: 8px;
}
.ntm_CtaBtn {}
.ntm_CallToAction input[type=button], .ntm_CallToAction input[type=reset], .ntm_CallToAction input[type=submit], .ntm_CallToAction button {
	margin-left		: 0px;
	background-color: rgb(255,255,255);
	border-color	: #FFFFFF;
	color			: rgb(2,2,2);
}
.ntm_CallToAction input[type=button]:hover, .ntm_CallToAction input[type=reset]:hover, .ntm_CallToAction input[type=submit]:hover, .ntm_CallToAction button:hover {
	background		: rgb(132,132,132);
	border-color	: #848484;
	color			: #FFFFFF;
}
/* DropDown */
.ntm_DropDown {
	padding			: 18px 18px 12px 18px;
	background-color: rgb(237,237,237);
	margin-bottom	: 18px;
}
.ntm_DDTitle {
	font-size		: 1.1em;
	padding-bottom	: 8px;
}
.ntm_DDInput {}

/* Tabmodul */
#s4-workspace .ntm_tabs .ntm_tabList a {
	font-weight		: 300;
}


/* flexslider */
.flexslider.ntm_SliderOne {
    padding-bottom	: 40px;
    position		: relative;
}
.flexslider.ntm_SliderOne .flex-control-nav {
    border-bottom	: 1px solid rgb(242,242,242);
    margin-bottom	: 24px;
}
.flexslider.ntm_SliderOne .flex-control-nav li {
	margin			: 0 3px 16px 3px;
}
.ntm_SliderOne .ntm_SliderHoldItem {
	position		: relative;
}
.ntm_SliderOne .ntm_Img,
.ntm_SliderOne .ntm_ImgPH {
	display			: inline-block;
	width			: 48%;
	max-height		: 253px;
	overflow		: hidden;
	float			: right;
	margin			: 20px 20px 20px 20px;
}
.ntm_SliderOne .ntm_ImgPH {
	background		: transparent  url("/_layouts/15/images/nteamweb/news-platzhalter.png") no-repeat center center;
}
.ntm_SliderOne .ntm_Img img,
.ntm_SliderOne .ntm_ImgPH img {
	width			: 100%;
	max-width		: 380px;
	min-height		: 100px;
}



.ntm_SliderOne .ntm_FlexCaption {
	display			: table;
}
.ntm_SliderOne .ntm_FlexCaption > div {
	display			: table-cell;
	vertical-align	: top;
	padding			: 19px 0px 19px 20px;
}
.ntm_SliderOne .ntm_FlexCaptionTitle {
	font-family		: "Open Sans Condensed", Tahoma, Geneva, sans-serif;
	font-weight		: 700;
	font-size		: 1.3em;
}
.ntm_SliderOne .ntm_FlexCaptionText {
	padding			: 12px 0px;
	font-size		: .9em;
}
.ntm_SliderOne .ntm_LinkZeile > a {
	font-size		: .9em;
	display			: inline-block;
	padding-right	: 16px;
	background		: transparent url(/_layouts/15/images/zap/svg/link_blank.svg) no-repeat right center;
}


#html5-watermark {
	display			: none !important;
}


.flexslider.ntm_IconSlider {
	margin-bottom	: 0px;
	border-bottom	: 1px solid rgb(242,242,242);
}
.flexslider.ntm_IconSlider .ntm_Kundenlogos img {
	max-width		: 120px;
}



/* colored Calendar */
[class*="ntm_Cal-"]:before {
	float			: left;
	margin-left		: 4px;
	margin-right	: -16px;
	color			: #FFFFFF;
}
[class*="ntm_Cal-"] .ms-acal-sdiv {
	padding-left	: 20px;
}
.ntm_Cal-besprechung,
.ntm_Cal-meeting {
	background-color: #9FB600 !important;
	border-color	: #9FB600 !important;
}
.ntm_Cal-besprechung:before {
	content			: '\1F4CC'; /* pin */
}
.ntm_Cal-geburtstag,
.ntm_Cal-birthday {
	background-color: #C07361 !important;
	border-color	: #C07361 !important;
}
.ntm_Cal-geburtstag:before {
	content			: '\1F382'; /* torte */
}
.ntm_Cal-arbeitszeiten {
	font-style: italic;
	background-color: #DB970B !important;
	border-color	: #DB970B !important;
}
.ntm_Cal-arbeitszeiten:before {
	content			: '\1F4BB'; /* computer */
}
.ntm_Cal-urlaub,
.ntm_Cal-holiday,
.ntm_Cal-feiertag {
	background-color: #4D0D16 !important;
	border-color	: #4D0D16 !important;
}
.ntm_Cal-urlaub:before,
.ntm_Cal-holiday:before,
.ntm_Cal-feiertag:before {
	content			: '\1F305'; /* 1F4A9 poo 1F429 poodle*/
}
.ntm_Cal-treffen:before {
	content			: '\1F351'; /* apple */
}
/* colored Calendar */


@media only screen and (max-width:1024px) {
	.ntm_Zitate {
		width		: 70%;
		margin-right: 0px;
	}
	.ntm_Zitate > div {
		padding-right: 40px;
	}
}
@media only screen and (max-width:784px) {
	.ntm_Zitate {
		width		: 90%;
		margin-right: 0px;
		font-size	: 1.2em;
	}
	.ntm_HistorischerKalender {
		top			: -20px;
		left		: 16px;
		margin-bottom: 0px;
	}
	.ntm_KalenderblattBig {
		position		: relative;
		top				: 0%;
		left			: 0%;
		width			: 99%;
	}
	.ntm_HomeZeile1 section.ntm_SliderHold.ntm_SliderOne,
	.ntm_HomeZeile1 section.ntm_IconSliderHold {
		width		: 97%;
		margin-left	: 3%;
	}
	.ntm_HomeZeile1 .flex-control-nav {
		width		: 98%;
	}

	#contentBox .ntm_News .ntm_newsImg,
	#contentBox .ntm_News .ntm_newsImgPH {
		float		: none;
		margin		: 0px 0px 25px 0px;
	}
	.ntm_Anzeige  {
		min-width		: 190px;
		background-color: transparent;
		box-shadow	: 0px 0px 0px 0px rgba(0,0,0,0.34);
		-moz-box-shadow	: 0px 0px 0px 0px rgba(0,0,0,0.34);
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.34);
		padding-left	: 20px;
	}
}
@media only screen and (max-width:580px) {
	.ntm_Bild {
		width			: 31%;
	}
}
@media only screen and (max-width:380px) {
	.ntm_Bild {
		width			: 48%;
	}
}