﻿<div id="ntm_Schnelleinstiege-head" class="ntm_FavHeadCont">
	<div class="ntm_Toggle">&nbsp;</div>
	<div class="ntm_HFavCont"><h2 class="ntm_H2Fav"><span class="ntm_Desktop">Meine </span>Schnelleinstiege</h2></div>
</div>

<div id="ntm_Schnelleinstiege-cont" class="ntm_ToggleCont">
	<div class="ntm_FavToolsCont" data-bind="foreach: tools">
		<a title="" class="ntm_FavTools" data-bind="hover: isHovered, style: { backgroundImage: iconStyle() }, attr: { 'target': target, 'href': link, 'title': linkDescription }">
            <span data-bind="text: anzeigename"></span>
		</a>
	</div>
	<div class="ntm_FavLinksCont" data-bind="foreach: links">
		<a title="" class="ntm_FavLinks" data-bind="attr: { 'target': target, 'href': link, 'title': linkDescription }, text: anzeigename"> </a>
	</div>
</div>

<div id="ntm_Schnelleinstiege-foot" class="ntm_FavFootCont">
	<div class="ntm_HFavCont" data-bind="if: AlleAnzeigenUrl && !anzeigeModusIsAll"><a title="Alle anzeigen" data-bind="attr: { href: AlleAnzeigenUrl }"><div id="NTM_FavView" class="ntm_FavBtn ntm_FavBtnView">Alle anzeigen</div></a></div>
	<div class="ntm_HFavCont"><a title="Bearbeiten" data-bind="attr: { href: BearbeitenUrl }"><div id="NTM_FavEdit" class="ntm_FavBtn ntm_FavBtnEdit">Bearbeiten</div></a></div>
	<div class="ntm_HFavCont"><a title="Hinzufügen" data-bind="click: Hinzufuegen"><div id="NTM_FavAdd" class="ntm_FavBtn ntm_FavBtnAdd">Hinzufügen</div></a></div>
</div>




<!-- User-Notifications -->
<script type="text/html" id="notification_Success">
    <div class="ntm_noti ntm_noti-success">
        {0}
    </div>
</script>

<script type="text/html" id="notification_Warning">
    <div class="ntm_noti ntm_noti-warning">
        <img src='/_layouts/15/images/cell-error.png' align='absmiddle'>
        {0}
    </div>
</script>

<script type="text/html" id="notification_Error">
    <div class="ntm_noti ntm_noti-error">
        <img src='/_layouts/15/images/cell-error.png' align='absmiddle'>
        {0}
    </div>
</script>