﻿<link href="/_layouts/15/styles/ZAP/linkenavigationausblenden.css" rel="stylesheet" type="text/css">
<p style="text-align:right;position:relative;margin-top:-54px;"><a href="/"><span class="ms-rteStyle-LinkButton">zurück zur Startseite</span></a></p>
<div class="ntm_section ntm_section-tools">
	<div class="ntm_BtnRow"><button type="button" id="ntm_btnNewTool">Neues Tool</button></div>

    <div class="ntm_list ntm_list-verwaltung ntm_list-tools">
        <div class="ntm_listItem ntm_listHeader">
            <div>Name</div>
			<div class="ntm_Center">In neuem Tab</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
        </div>

        <!-- ko if: isLoading -->
            Lädt..
        <!-- /ko -->
    
        <!-- ko foreach: tools -->
        <div class="ntm_listItem draggable">
            <div class="ntm_dragCell" style="" 
                data-bind="
                dragZone: { name: 'toolSortable', dragStart: $parent.dragStart, dragEnd: $parent.dragEnd, element: 'dragElement' },
                dragEvents: { accepts: 'toolSortable', dragOver: $parent.reorder, data: { items: $parent.tools, item: $data } }
            ">
                <span class="ntm_dragHandle"></span>
                <span class="ntm_toolIcon" data-bind="hover: isHovered, style: { backgroundImage: iconStyle() }">
                    <span class="ntm_toolText" data-bind="text: anzeigename, css: { dragging: dragging }"></span>
                </span>
            </div>
            <div class="ntm_NewTab"><div data-bind="css: { 'ntm_inNewTab': inNewTab == true, 'ntm_notInNewTab': inNewTab != true }"></div></div>
            <div><div class="ntm_FavBtn ntm_FavBtnEdit" title="Bearbeiten" data-bind="click:onEdit"></div></div>
            <div><div class="ntm_FavBtn ntm_FavBtnDelete" title="Löschen" data-bind="click: onDelete"></div></div>
        </div>
        <!-- /ko -->
    </div>
</div>

<div class="ntm_section ntm_section-links">
    <div class="ntm_BtnRow"><button type="button" id="ntm_btnNewLink">Neuer Link</button></div>
    <div class="ntm_list ntm_list-verwaltung ntm_list-links">
        <div class="ntm_listItem ntm_listHeader">
            <div>Name</div>
			<div>&nbsp;</div>
			<div class="ntm_Center">In neuem Tab</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
        </div>

        <!-- ko if: isLoading -->
            Lädt..
        <!-- /ko -->

        <!-- ko foreach: links -->
        <div class="ntm_listItem draggable">
            <div class="ntm_dragCell" style="" 
                data-bind="
                    dragZone: { name: 'linkSortable', dragStart: $parent.dragStart, dragEnd: $parent.dragEnd, element: 'dragElement' },
                    dragEvents: { accepts: 'linkSortable', dragOver: $parent.reorder, data: { items: $parent.links, item: $data } }
                ">
                <span class="ntm_dragHandle"></span>
	            <span class="ntm_LinkTitle" data-bind="text: anzeigename, css: { dragging: dragging }"></span>
            </div>
            <div class="ntm_LinkCell"><a target="_blank" data-bind="text: link, attr: { 'href': link, 'title': linkDescription }"></a></div>
            <div class="ntm_NewTab"><div data-bind="css: { 'ntm_inNewTab': inNewTab == true, 'ntm_notInNewTab': inNewTab != true }"></div></div>
            <div><div class="ntm_FavBtn ntm_FavBtnEdit" title="Bearbeiten" data-bind="click: onEdit"></div></div>
            <div><div class="ntm_FavBtn ntm_FavBtnDelete" title="Löschen" data-bind="click: onDelete"></div></div>
        </div>
        <!-- /ko -->
    </div>
</div>


<script type="text/html" id="dragElement">
    <div class="ntm_dragElement"><span data-bind="text: $data.anzeigename"></span></div>
</script>

<script type="text/html" id="deleteDialog">
    <div class="ntm_DialogMessage">
		Sind Sie sich sicher, dass Sie den Eintrag löschen möchten?
		<br />
		<br />
		<Button class="ntm_btn ntm_btn-DialogOk" onclick="SP.UI.ModalDialog.commonModalDialogClose(SP.UI.DialogResult.OK);">Ok</Button>
		<Button class="ntm_btn ntm_btn-DialogCancel" onclick="SP.UI.ModalDialog.commonModalDialogClose(SP.UI.DialogResult.Cancel);">Abbrechen</Button>
		<span class="ntm_BtnAbstand">&nbsp;</span>
	</div>
</script>


<!-- User-Notifications -->
<script type="text/html" id="notification_Success">
    <div class="ntm_noti ntm_noti-success">
        {0}
    </div>
</script>

<script type="text/html" id="notification_Warning">
    <div class="ntm_noti ntm_noti-warning">
        <img src='/_layouts/15/images/cell-error.png' align='absmiddle'>
        {0}
    </div>
</script>

<script type="text/html" id="notification_Error">
    <div class="ntm_noti ntm_noti-error">
        <img src='/_layouts/15/images/cell-error.png' align='absmiddle'>
        {0}
    </div>
</script>

<p style="text-align:right;margin: 20px 0px;"><a href="/"><span class="ms-rteStyle-LinkButton">Fertig</span></a></p>
